@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

$brand: #572885;
$gradient-color: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
$text: #454545;
$text-alpha: #6A6A6A;
$border: #F1F1F1;




#style-1::-webkit-scrollbar {
    height: 1.5px;
}
#style-1{
    overflow-x: auto !important;
    overflow-y: inherit;
}
.popup-dt{
    padding: 0 15px;
    top: 0 !important;
}
.menu-scroll{
    z-index: 999 !important;
}
thead tr{
    background: #E9E9EB;
}
.section-acc{
    .title-acc{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0;
    }
    tbody{
        tr:nth-child(odd){background: #F8F8F8 !important;}
        tr:nth-child(even){background: #fff !important;}
        tr{              
            td{
                text-align: left;
                padding: 6px 15px;
                a{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    img{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}



.editor-affiliate{
    .close {
        padding: 7px 10px !important;
        background: #8E8E8E;
        color: #fff;
        b, span, label {
            font-size: 20px;
        }
    } 
    #popup-register-affiliate{
        .modal-header{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .modal-body{
            .select-selected{
                padding: 1px 0 0 5px;
                color: $brand;
            }
        }
    }
}
.title-order-details{
    .title-order{
        margin: 0 6px;
        font-size: 18px !important;
        font-weight: 400 !important;
    }
    .id-order-details{
        font-size: 18px !important;
        font-weight: 700 !important;
    } 
}
.search-acc{
    font-size: 14px;
    font-weight: 400;
    padding: 8px 25px;
    color: #fff;
    background: #d60000;
    border: #d60000;
    border-radius: 4px;
    margin: 12px 6px;
}
.page-profile{
    .pagging-page{
        .pagination{
            a{
                margin: 0 24px;
            }
        }
    }
    .tab-content{
        .list-addr{
            .custom-select{
                width: 100%;
            }
        }
    }
    .box-ychh{
        h2{
            margin-bottom: 30px;
        }
        .lich-su-hh{
            height: auto;
        }
        padding: 30px 20px;
        .ttyc-filebox{
            width: 200px !important;
        }
        .date-filebox{
            text-align: right;
            width: 200px !important;
        }
        .thang-filebox{
            text-align: right;
        }
        .rose-filebox{
            text-align: right;
        }
    }
    .box-roselk{
        .file-rose{
            height: auto !important;
            .file-rose-tb{
                height: auto;
            }
            .turnover-filebox{
                width: inherit !important;
            }
            .rose-filebox{
                width: inherit !important;
            }
            .namectv-filebox{
                width: auto !important;
            }
            .so-luong-item-filebox{
                text-align: right;
                width: auto !important;
            }
        }
        .da-xl{
            color: #BFA145;
        }
        .dang-xl{
            color: $brand;
        }
        .head-dg{
            justify-content: space-between;
        }
        .file-rose{
            .box-taomoi.rose{
                margin: 18px 6px;
            }
            .rose-filebox{
                span::after{
                    content: 'đ' !important;
                }  
            }
            .namectv-filebox {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
    .head-dg.rose{
        display: flex;
        padding: 20px 0;
        .tong-gia-rose{
            display: flex;
            h4::after{
                content: 'đ' !important;
            }   
        }
        .sl-nguoi-rose{
            display: flex;
            margin-left: 30px;
        }
        .tong-hh-rose{
            display: flex;
            margin-left: 30px;
            h4::after{
                content: 'đ' !important;
            }  
        }
        .da-nhan-rose{
            display: flex;
            margin-left: 30px;
            h4::after{
                content: 'đ' !important;
            }  
        }
        .con-lai-rose{
            display: flex;
            margin-left: 30px;
            h4::after{
                content: 'đ' !important;
            }  
        }
    }
    #date{
        border-radius: 4px !important;
        margin: 12px 6px;
    }
    .custom-select{
        width: 250px;
        margin: 12px 6px;
    }
    .custom-select{
        margin: 12px 6px;
    }
    .section-acc{
        .filter-search{
            .search-head{
                width: 250px !important;
                input{
                    width: 250px !important;
                }
            }
        }
        .top-social{
            display: flex;
            align-content: center;
            justify-content: center;
            .link-dang-ky{
                width: 60px;
                margin-left: -20px;
                text-align: center;
            }
            .info-social{
                h5{
                    margin-bottom: 0;
                }
            }
        }
        #popup-taomoi{
            .sl-filebox{
                width: 125px !important;
            }
            .sl-filebox{
                 padding: 0 !important;
            }
            .icon-filebox{
                width: 50px !important;
            }
            .add-item-sp{
                padding:10px 0 0;
                a{
                    padding: 6px 12px;
                    border-radius: 4px;
                    border:  #D60000 1px solid;
                    color:  #D60000;
                }
                i{
                    margin-right: 6px;
                    color:  #D60000;
                }
            }
            .trang-thai-mt20{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                margin-left: 20px;
                font-size: 16px;
                span{
                    margin-left: 6px;
                    color: #BFA145;
                    font-size: 16px;
                }
            }
        }
    }
    .dai-ly{
        align-items: center;
        justify-content: space-between;
    }
    .head-tao-moi{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-head{
        margin-right: 12px !important;
    }
    .status-order{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .left-shipper{
            padding-right: 50px;
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .shipper{
                margin-right: inherit;
            }
        }
        .shop-total{
            position: inherit;
            width: 35%;
            padding: 0;
            display: block;
            .total-text{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    font-size: 14px;
                    font-weight: 700;
                }
                &:nth-child(2){
                    margin: 20px 0;
                }
                .tong-tien-shop{
                    font-size: 20px;
                    font-weight: 700;
                    color: $brand;
                }
            }
        }
    }
}

.cart-area{
    .pro-details{
        .product-thumbnail{
            display: block;
            p{
                margin-left: 28px;
                font-size: 12px;
                font-weight: 400;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .name-item{
                display: flex;
                a{
                    font-weight: 600;
                    color: $text;
                }  
            }
        }
    }
}

.success-page{
    .section-cart{
        .shipper{
            span{
                color: $brand;
                margin-left: 10px;
            }
        }
    }
}

.returns-page{
    .section-cart{
        .title-order-details{
            .nunber-item{
                font-size: 12px;
                &::before{
                    content: ('(');
                }
                &::after{
                    content: (')');
                }
            }
        }
        .head-order-detail{
            max-width: inherit;
            margin: 10px auto;
        }
        .file-down{
            width: 1200px;
            .sl-item-td{
                text-align: center;
                input{
                    height: 26px;
                    width: 85px;
                    text-align: center;
                }
            }
            .sl-item{
                width: 50%;
            }
            .ten-filebox{
                input{
                    border: 0;
                    border-bottom: 1px solid $brand;
                    border-radius: 0;
                    font-size: 12px;
                    background: none !important ;
                    padding: 0;
                    color: $brand;
                    &:disabled{
                        border: 0 !important ;
                    }
                }
                span{
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                p{
                    margin-bottom: 0;
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            .stt-filebox{
                width: 60px;
            }
            .so-luong-filebox{
                width: 150px;
                text-align: center;
            }
            .sl-tra-filebox{
                width: 150px;
                text-align: center;
            }
            .don-gia-filebox{
                width: 200px;
                text-align: right;
            }
            .thanh-tien-filebox{
                width: 200px;
                text-align: right;
            }
        }
    }
    thead tr{
        background: #E9E9EB;
    }
    tbody{
        tr:nth-child(odd){background: #F8F8F8;}
        tr:nth-child(even){background: #fff;}
        tr{              
            td{
                text-align: left;
                padding: 6px 15px;
                a{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    img{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
.body-table-shadow{
    display: inline-block;
    width: 100%;
}
thead {
    th {
        color: $text;
        border-bottom: 1px solid#CFCFCF;
        padding: 15px;
        white-space: nowrap;
        font-weight: 600;
    }
}

.product-quantity {
    height: 42px;
    width: 135px;

    input {
        font-size: 16px;
    }
}

.page-profile {
    #popup-taomoi{
        .head-body-file{
            padding: 20px 0 0 !important;
        }
        .box-tong-tien{
            .center{
                .center-btn{
                    padding: 10px 15px;
                    height: auto;
                    width: 100%;
                    p{
                        font-size: 13px;
                        font-weight: 300;
                        text-transform: none;
                        margin-bottom: 0;
                    }
                }
            }
            .shop-total{
                padding: 0;
                display: block;
                .total-text{ 
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    p{
                        font-size: 12px;
                    }
                    &:nth-child(2){
                        span{
                            color: #BFA145;
                            font-weight: 600;
                        }
                        border-bottom: $border 1px dashed;
                    }
                    &:nth-last-child(1){
                            margin-top: 20px;
                            p{
                                font-size: 14px;
                                margin: 5px;
                                font-weight: 700;
                            }
                            span{
                                font-size: 20px;
                                font-weight: 700;
                                color: $brand;
                            }
                    }
                }
                .box-khuyen-mai{
                    display: flex;
                    img{
                        margin-left: 4px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .box-dhang{
            min-width: inherit;
        }
        .head-popup-view{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .download-file.box-shadow{
        .status-filebox {
            width: 200px !important;
        }
        .total-filebox {
            width: 60px !important;
        }
        .date-filebox {
            width: 120px;
        }
    }
    .download-file.box-shadow{
        overflow: auto;
        height: inherit !important;
        .box-taomoi.dai-ly #popup-tmdl .form-group {
            padding: 0 5px 15px !important;}
        .box-taomoi.dai-ly .box-dhang {
            height: auto;}
        .cbbox-daily{
            height: auto;
            .donhang-filebox{
                text-align: right;
                width: 180px;
            }
            .date-filebox{
                text-align: center;
            }
        }
        .scrollbar{
        }
        .da-thanh-toan-filebox{
            text-align: right !important;
            span::after{
                content: "đ";
        }
    }
        .con-no-filebox{
            text-align: right !important;
            span::after{
            content: "đ";
            }
        }
    }
    tbody tr .mo-ta-filebox {
        width: 500px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.daily-pp{
    .form-group{
        padding: 0 15px 15px;
    }
    .title-spdl{
        padding: 15px;
        font-weight: bold;
    }
    .san-pham-dl{
        padding: 0 15px;
    }
    .close {
        padding: 7px 10px !important;
        background: #8E8E8E;
        color: #fff;
        b, span, label {
            font-size: 20px;
        }
    }  
}

@media only screen and (max-width: 1201px) {
    .page-profile{
        .pagging-page{
            .pagination{
                a{
                    margin: 0 20px;
                }
            }
        }
        .box-roselk{
            .box-headbd{
                display: inherit !important;
                .filter-search{
                    justify-content: left;
                }
            }
        }
    }
    
    header{
        z-index: 999 !important;
    }
    .page-profile{
        .box-headbd{
            .box-taomoi{
                h2{
                    margin: 5px 0;
                    font-size: 24px;
                }
            }
            .filter-search{
                .search-head{
                    max-width: 150px !important;
                    input{
                        width: 150px !important;
                    }
                }
            }
        }
        .section-acc{
            .filebox-don-hang{
                height: 38vh;
            }
            .box-ychh{
                padding: 20px 15px;
                height: auto;
                .lich-su-hh {
                    height: 400px;
                }
            }
            .cbbox-daily{
                height: auto;
            }
            .box-roselk{
                .file-rose-tb{
                    height: 400px;
                    overflow: auto;
                    .file-rose{
                        width: 1200px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .ovan-online{
        .section-website{
            .pattern.pattern-flower{
                display: none;
            }
        }
        .list-social.list-tiktok{ 
            .pattern.pattern-flower{
                display: none;
            }
        }
    }
    .page-profile{
        .file-rose.box-shadow {
            padding: 30px 15px !important;
        }
        .pagging-page{
            .pagination{
                a{
                    margin: 0 18px;
                }
            }
        }
        .section-acc{
            .top-social{
                display: flex !important;
                justify-content: center !important;
            }
            .box-roselk{
                .box-taomoi{
                    display: flex !important;
                }
                .file-rose-tb{
                    height: auto;
                }
            }
            .has-cart{
                .status-order{
                    display: flex !important;
                    .left-shipper{
                        display: block;
                        padding-right: 0;
                        width: 50%;
                    }
                    .shop-total{
                        width: 50%;
                    }
                }
            }
            .download-file{
                .file-down{
                    width: 1000px !important;
                }
                .cbbox-daily{
                    height: auto;
                }
            }
            .box-taomoi{
                .dat-don-hang{
                    .col-md-8{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .col-md-4{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                display: block !important;
                .head-tao-moi{
                    justify-content: left;
                    h2{
                        margin: 5px 0;
                    }
                }
                .filter-search{
                    margin-top: 10px;
                    justify-content: center;
                    .search-head{
                        padding-left: 5px;
                        margin: 12px 6px;
                        input{
                            width: 220px;
                        }
                    }
                }
            }
            #popup-taomoi{
                .file-don-hang.dai-ly{
                    width: 1000px !important;
                }
            }
        }
    }
    .close{
        background: #8E8E8E;
        color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        line-height: 0;
    }
    .page-profile.modal-open #popup-tmdl .box-dhang {
        height: 28vh !important;
    }
}

@media only screen and (max-width: 720px) {
    .editor-affiliate{
        #popup-register-affiliate{
            .modal-body{
                .custom-select{
                    margin-bottom: 16px;
                }
            }
        }
    }
    .page-profile{
        .file-rose {
            padding: 30px 15px !important;
        }
        .pagging-page{
            margin: 30px 0px !important;
            .pagination{
                a{
                    margin: 0 6px !important;
                }
            }
        }
        .section-acc{
            .box-ychh .lich-su-hh {
                height: 48vh;
            }
            .box-roselk{
                .box-gia-rose{
                    .head-dg {
                        .tong-gia-rose{
                            justify-content: space-between;
                        }
                        .sl-nguoi-rose{
                            width: 100% !important;
                            justify-content: space-between;
                        }
                        .tong-hh-rose{
                            width: 100% !important;
                            margin-left: 0 !important;
                            justify-content: space-between;
                        }
                        .da-nhan-rose{
                            width: 100% !important;
                            justify-content: space-between;
                        }
                        .con-lai-rose{
                            width: 100% !important;
                            margin-left: 0 !important;
                            justify-content: space-between;
                        }
                    }
                }
                .file-rose-tb{
                    padding-left: 0px;
                    height: 48vh;
                }
                .box-headbd{
                    .box-taomoi{
                        display: block !important;
                    }
                    .filter-search{
                        .custom-select{
                            width: 100%;
                        }
                        .search-head{
                            max-width: 100% !important;
                            input{
                                width: 100% !important;
                            }
                        }
                        .custom-select{
                            margin: 12px 0 !important;
                        }
                    }
                }
            }
            .has-cart{
                .status-order{
                    // position: relative;
                    display: block !important;
                    .left-shipper{
                        position: absolute;
                        bottom: 40px;
                        left: 20px;
                        width: auto;
                    }
                    .shop-total{
                        width: 100%;
                    }
                }
                .payment-success{
                    position: relative;
                    padding-bottom: 130px !important;
                }
            }
            .filter-search{
                .search-head{
                    width: 100% !important;
                    margin-right: 0 !important;
                }
                #date{
                    margin: 12px 0 !important;
                    padding-right: 10px;
                }
                .search-acc{
                    width: 100%;
                    margin: 12px 0;
                }
            }
            .download-file{
                .cbbox-daily{
                    padding-left: 0;
                }
                .daily-cbbox{
                    .filter-search{
                        .search-head{
                            margin: 12px 0 !important;
                            padding-left: 0 !important;
                        }
                    }
                }
                .cbbox-daily{
                    height: auto !important;
                }
            }
            #popup-taomoi{
                padding-right: 0px;
                .modal-header{
                    display: initial;
                    .head-popup-view{
                        h5{
                            text-align: left;
                        }
                    }
                }
                .trang-thai-mt20{
                    margin: 30px 0 0;
                }
                top: 60px;
                .head-popup-view{
                    display: block;
                }
                .box-tong-tien{
                    margin-top: 20px;
                }
                .dat-don-hang{
                    .shop-total{
                        padding: 0;
                        .total-text{
                            margin-top: 0;
                        }
                    }
                    .filebox-don-hang{
                        height: 30vh;
                    }
                }
            }
            .list-addr{
                .custom-select{
                    margin: 12px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .page-profile{
        .pagging-page .pagination .page-item a {
            margin: 0 2px !important;
        }
        .section-acc{
            .box-roselk{
                .file-rose-tb{
                    height: 68vh;
                }
            }
            #popup-taomoi{
                .modal-content{
                    height: auto!important;
                }
                .filebox-don-hang{
                    height: auto;
                }
            }
        }
    }
    .page-profile .box-roselk .box-headbd .filter-search #date {
        padding-right: 8px !important;
    }
    
    .page-profile.modal-open .modal-content {
        height: 350px !important;
    }
}