@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

$brand: #572885;
$gradient-color: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
$text: #454545;
$text-alpha: #6A6A6A;
$border: #F1F1F1;

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
}

body {
    padding-top: 100px;
}

.banner-head-policy {
    img {
        height: inherit;
    }
}

.page-news {
    .cate-news ul {
        width: 450px;
    }
}

.page-list-store {
    .box-store .list_mapstore {
        padding: 0;
    }

    .select_liststore {
        .form-group {
            width: 180px;
        }

        .btn-common {
            padding: 10px 0;
            width: 180px;
        }

        .ti-location-pin {
            margin-left: 0px;
        }
    }
}

.page-profile {
    .section-acc.pt-0 {
        .dang-xuat {
            cursor: pointer;
            color: #752292;
        }
    }

    .info-profile {
        .attach-file .btn-file {
            padding: 2px 0;
        }
    }
}

.select-items {
    overflow-y: auto;
    max-height: 250px;
}

.section-gallery {
    iframe {
        width: 100%;
        height: 190px;
    }

}

.content-popup-gallery {
    iframe {
        width: 100%;
    }
}

/* --------------Attach file--------------------*/
.attach-file {
    color: $text;
    font-weight: 600;
    margin-right: 15px;

    .btn-file {
        border: 0;
        text-decoration: underline;
    }

}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.breadcrumbs {
    font-size: 10px;

    .ti-angle-right {
        margin-left: 3px;
    }
}

.page-brochure-detail {
    .info-head-brochure .info-nhan-hang p {
        -webkit-line-clamp: 7;
    }
}

.page-cart {
    .product-thumbnail .product-name {
        -webkit-line-clamp: 3;
    }
}

.popup-gallery::before {
    opacity: 0.7;
}

.col-infor-promo p {
    padding-right: 150px;
    -webkit-line-clamp: 7;
}

.list-product .item-product:hover {
    transform: inherit;
    transition: inherit;
}

.list-product .item-product .thumnaisl-avatar:hover {
    transform: scale(1.02);
    transition: .3s ease-in-out;
}

.section-nhan-hang {
    button.owl-prev {
        top: 35%;
    }

    button.owl-next {
        top: 35%;
    }

    .slider-nhan-hang {
        .item {
            .thumnaisl-avatar {
                a {
                    padding-top: initial !important;

                    img {
                        position: relative !important;
                        width: initial;
                        height: 140px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.content-slider {
    .banner-home-pc {
        display: block !important;
    }

    .banner-home-mb {
        display: none !important;
    }
}

.success-page {
    .payment-success {
        &.box-shadow {
            .shop-total {
                justify-content: space-between;

                .total-amount {
                    margin-left: inherit !important;
                }
            }
        }
    }
}

.tabs-info .tab-content .btn-common {
    padding: 13px 50px;
}

.ovan-online {
    .list-social {
        &.list-tiktok {
            padding-bottom: 250px;
        }
    }
}

footer {
    .info-footer {
        max-width: 320px;
    }

    .info-footer.download-app {
        a {
            img {
                margin: 5px 0px;
            }
        }
    }
}


@media only screen and (max-width: 1601px) {
    // header, footer{
    //     display: none !important;
    // }

    .page-brochure {
        .popup-gallery.show {
            .content-popup-gallery {
                max-width: 580px;
            }
        }
    }

    .page-detail {
        .content-description {
            padding-left: 25px;
        }
    }

    .container {
        max-width: 1280px;
    }

    .add-to-cart {
        .btn-common {
            padding: 14px 10px 10px 10px;
        }
    }
}

@media only screen and (max-width: 1201px) {
    .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr td {
        padding: 20px 5px 15px 5px !important;
    }

    .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr:last-child {
        border-bottom: inherit;
    }

    .page-list-store .select_liststore .btn-common {
        padding: 8px 6px 10px 6px !important;
    }

    header {
        .logo {
            img {
                height: 40px !important;
            }
        }

        .content-head {
            padding-right: 40px;

            .search-head {
                input {
                    padding-right: 200px;
                }
            }
        }
    }

    .page-list-store {
        .select_liststore {
            .btn-common {
                padding: 8px 10px 0 10px;
                font-size: 13px;

                i {
                    margin-right: 2px;
                    margin-left: 0;
                }
            }
        }
    }

    .page-danh-muc-sp .pagging-page {
        margin-bottom: 50px !important;
        margin-top: -25px;
    }

    .pagging-page {
        .pagination a {
            margin: 0 24px;
        }
    }

    /*-------------------------------------------------------------------- page about ----------------------------------------------------------------------*/
    .page-about {
        .product-promotion {
            .col-infor-promo {
                padding: 20px;
            }
        }

        .head-footer {
            .item-head-footer {
                display: inherit;
                text-align: center;
                justify-content: space-evenly;
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                padding-right: 20px;

                .text-head-ft {
                    padding-top: 10px;
                    a: nth-child(2)
                }
            }

            .text-head-ft {
                text-align: center;
            }
        }
    }

    /*-------------------------------------------------------------------- footer ----------------------------------------------------------------------*/
    footer {
        .head-footer {
            &.p30 {
                padding: 40px;
            }
        }

        .main-footer {
            padding: 30px 25px 4px 25px !important;

            .info-footer {
                padding: 0 5px;

                p {
                    font-size: 13px;
                }

                &.download-app {
                    p {
                        font-size: 14px;
                    }

                    a:nth-child(3) {
                        img {
                            margin: 5px 0;
                        }
                    }
                }

                .download-app {
                    img {
                        height: 40px;
                    }
                }
            }
        }

        .linh-vuc-hd {
            padding: 100px;
        }
    }

}

/*-------------------------------------------------------------------- ipad-doc ----------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {

    body {
        padding-top: inherit;
    }
    .ovan-online .banner-horizontal.banner-about {
        margin-top: 0;
    }
    .list-product {
        .col-md-9 {
            .col-md-4 {
                .info-product {
                    padding: 20px 15px 10px 15px;

                    .new-price {
                        margin-right: 6px;
                    }

                    .old-price {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    .breadcrumbs {
        margin-top: 60px;
    }

    .section-gallery {
        .col-md-2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    /*-------------------------------------------------------------------- page about ----------------------------------------------------------------------*/

    .page-about {

        .container {
            max-width: 100%;
        }

        .linh-vuc-hd {
            padding-top: 120px;
            padding-right: 15px;

            .col-md-4 {
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 0;

                .info-lv {
                    margin-top: 10px;
                    padding: 5px 0;

                    p {
                        font-size: 13px;
                    }

                    i {
                        &.ti-arrow-right {
                            margin-left: 6px;
                            font-size: 13px;
                        }
                    }

                    margin: 8px 0 !important;

                    a {
                        &.btn-common {
                            padding: 8px 10px 10px 10px;
                            height: 35px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }


    /*-------------------------------------------------------------------- page he thong chi nhanh ----------------------------------------------------------------------*/
    .he-thong-cua-hang {
        &.mt-40 {
            .box-store {
                .col-md-6 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        .title-section {
            margin-bottom: 15px;
        }

        .box-store {
            padding: 20px 0px 20px 0px;

            .select_liststore {
                flex-wrap: wrap;

                .form-group {
                    width: 33%;
                    padding: 0px 10px 0 0;
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                a {
                    &.btn-common {
                        width: 33%;

                        .ti-location-pin {
                            margin-left: 0px;
                        }
                    }
                }

                .btn-common {
                    height: 40px;
                    // width: initial !important;
                }
            }

            .list_mapstore {
                margin: 0;

                .item-location {
                    padding: 25px 25px 5px 25px;
                }
            }

            .col-md-6 {
                &.pl-0 {
                    margin-top: 0px;
                    padding-left: 25px !important;
                    padding-right: 25px !important;
                }
            }
        }
    }

    /*-------------------------------------------------------------------- page lien he ----------------------------------------------------------------------*/
    .page-contact {
        .form-contact {
            .row {
                flex-direction: column-reverse;
            }

            .container {
                margin-bottom: 50px;
            }
        }

        .he-thong-cua-hang {
            .title-section {
                margin-bottom: 0px;
            }

            .content-hotline {
                display: inline-block;
                padding-bottom: 30px;
                text-align: center;
                margin: 0 35px 0;

                .icon-contact {
                    padding-right: 0;
                }

                .info {
                    margin-top: 10px;
                }
            }
        }

        .form-contact {
            padding: 0;

            .box-shadow {
                padding: 25px 15px 40px;

                .btn-common {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .col-md-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    /*-------------------------------------------------------------------- page tin tuc ----------------------------------------------------------------------*/
    .page-news {
        .section-news-lager {
            padding: 30px 0;

            .col-md-8 {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .col-md-4 {
                flex: 0 0 50%;
                max-width: 50%;

                .title-news {
                    &.lager {
                        a {
                            font-size: 20px !important;
                        }
                    }
                }
            }

            .infor-news {
                .content-title-news {
                    a {
                        font-size: 24px !important;
                    }
                }
            }
        }

        .section-list-news {
            padding: 10px 0 20px;

            .col-md-4,
            .col-md-3 {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .infor-news {
                &.mt-10 {
                    &.mb-30 {
                        margin-top: 6px;
                    }
                }
            }
        }

        .detail-news {
            .col-md-8 {
                flex: 0 0 100%;
                max-width: 100%;
                padding-bottom: 30px;
            }

            .col-md-4 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

    }

    /*-------------------------------------------------------------------- page chinh sach bao mat ----------------------------------------------------------------------*/
    .banner-head-policy {
        &.mt-20 {
            &.mb-20 {
                img {
                    height: 150px;
                }
            }
        }
    }

    .detail-policy {
        padding: 20px 0;

        .title-detail {
            &.mb-30 {
                margin-bottom: 12px;
            }
        }
    }

    /*-------------------------------------------------------------------- page brochure ----------------------------------------------------------------------*/
    .page-brochure {
        .sp-noibat-page-about {
            .pagging-page {
                margin-bottom: 20px;
                margin-top: -25px;
            }
        }

        .list-product {
            .col-md-4 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        .section-nhan-hang-noibat {
            .ds-nhan-hang {
                padding: 0px;
            }
        }
    }

    /*-------------------------------------------------------------------- page brochure-detail ----------------------------------------------------------------------*/
    .page-brochure-detail .list-product .banner-vertical.thumnaisl-avatar a {
        padding-top: 150%;
    }

    .page-brochure-detail {
        .sp-noibat-page-about {
            padding: 90px 0 50px;

            .list-product {
                .col-md-9 {
                    flex: 0 0 100%;
                    max-width: 100%;

                    .col-md-4 {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }

                .col-md-3 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        .info-head-brochure .flexs {
            text-align: -webkit-center;
            display: inherit;

            .info-nhan-hang {
                width: 100%;

                .title-section {
                    text-align: center;
                }
            }
        }

        .info-head-brochure .info-nhan-hang {
            padding-left: 0px;

            .btn-common {
                margin: 5px;
            }
        }

        .list-social {
            padding: 40px 0;

            .top-social {
                .col-md-4 {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 20px 30px;
                }
            }
        }

        .section-gallery {
            &.pt-0 {
                &.pb-0 {
                    margin-top: 180px;
                }
            }
        }

        .sp-noibat-page-about {
            .list-product {
                .col-md-4 {
                    .item-product {
                        .info-product {
                            padding: 20px 10px 10px 10px;

                            .btn-common {
                                padding: 8px 10px 10px 10px;
                                font-size: 12px;
                                height: 35px;

                                .ti-arrow-right {
                                    margin-left: 6px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*-------------------------------------------------------------------- page ovan-online ----------------------------------------------------------------------*/
    .ovan-online {
        .banner-horizontal {
            &.banner-about {
                .product-promotion {
                    padding-left: 0px;
                }
            }

        }

        .section-website {
            padding-top: 80px;

            .title-section {
                margin: 20px 0 5px 0;
            }

            .row {
                .col-md-4 {
                    width: 50%;

                    .info-web {
                        padding: 0 0 15px;
                    }
                }

                .col-md-12 {
                    &.center {
                        &.mt-20 {
                            .btn-common {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .section-website {
            &.section-youtube {
                .title-section {
                    .info-web {
                        padding: 0;
                    }
                }

                .row {
                    .col-md-4 {
                        padding: 5px;

                        .info-web {
                            margin: 10px 0 !important;
                            padding: 30px 15px !important;

                            .btn-common {
                                padding: 8px 10px 10px 10px;
                                height: 35px;
                                font-size: 12px;

                                .ti-arrow-right {
                                    margin-left: 6px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .list-social {
            &.list-tiktok {
                padding: 80px 0 210px 0;

                .title-section {
                    margin: 20px 0 20px 0;
                }

                .row {
                    &.top-social {
                        .col-md-4 {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }

                        .box-social {
                            padding: 15px 0px 5px 55px;
                            margin: 15px 0px;

                            .social-nhan-hang {
                                width: 60px;
                            }

                            .info-social {
                                p {
                                    padding: 0 20px 0 0;
                                }
                            }
                        }

                        .col-md-12 {
                            &.btn-action {
                                &.center {
                                    &.mt-20 {
                                        .btn-common {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ovan-online .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
        right: inherit;
        left: 0;
    }

    /*-------------------------------------------------------------------- page trang chu ----------------------------------------------------------------------*/
    .section-news {
        .item-news-right {
            margin-bottom: 0px;
        }
    }

    .section-product {
        .pattern {
            top: -90px;
        }

        padding: 40px 20px;

        .list-product {
            .col-md-3 {
                flex: 0 0 100%;
                max-width: 100%;
                padding-bottom: 40px;
            }

            .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;

                .col-md-4 {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }

        &.sp-theo-cong-dung {
            &.mb-50 {
                padding-top: 100px;
                margin-top: 30px;

                .content-sp-theo-cong-dung {
                    .col-md-4 {
                        flex: 0 0 50%;
                        max-width: 50%;

                        .list-tags-sp {
                            &.mt-20 {
                                padding: 0 10px;
                            }
                        }

                        .content {
                            border-right: inherit;
                            margin: 20px -15px;
                        }
                    }
                }
            }
        }
    }

    .btn-action {
        &.center {
            .btn-common {
                width: initial;
            }
        }
    }

    .section-slider-home {
        padding: 10px 10px 30px;
    }

    .banner-horizontal.banner-position-left .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
        right: initial;
        left: 0;
    }

    .banner-horizontal {
        margin: 20px 0 60px 0px;

        .container {
            padding: 20px 20px 80px;

            .col-infor-promo {
                padding: 40px 0;
            }
        }
    }

    .banner-horizontal.banner-position-left .product-promotion {
        padding-left: initial;
    }

    .product-promotion .col-avatar-promo {
        position: relative;
        max-width: 40%;
        width: 100%;
        top: initial;
        right: inherit;
    }

    .product-promotion {
        display: inline-block;
    }

    .col-infor-promo,
    .col-avatar-promo {
        width: 100%;
        max-width: 100% !important;
    }

    .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 150px;
        z-index: 9;
    }

    .thumnaisl-avatar {
        position: relative;
    }

    .product-promotion .col-avatar-promo .box-thumnails-pro .thumnaisl-avatar::before {
        display: none !important;
    }

    .page-about .product-promotion .col-infor-promo {
        padding: 40px 0;
    }

    .col-avatar-promo {
        .img-lagre {
            padding-left: 100px;
        }

        position: relative;
    }

    .product-promotion .col-avatar-promo .box-thumnails-pro {
        position: initial !important;
    }

    /*-------------------------------------------------------------------- page danh muc ----------------------------------------------------------------------*/
    .page-danh-muc-sp {
        .list-product {
            .col-md-4 {
                flex: 0 0 50%;
                max-width: 50%;

                .item-product {
                    .info-product {
                        padding: 20px 5px 10px 5px;
                    }
                }
            }
        }
    }

    /*-------------------------------------------------------------------- page detail ----------------------------------------------------------------------*/
    .number-buy {
        .product-quantity {
            height: 45px;
            width: 150px;
        }

        .add-to-cart {
            img {
                width: 20px;
            }

            .btn-common {
                height: 45px;
                padding: 13px 10px 10px 10px;
                font-size: 12px;
            }
        }
    }

    .page-detail {
        .head-product-detail {
            .col-md-7 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-md-5 {
                padding-top: 30px;
                flex: 0 0 100%;
                max-width: 100%;

                .infor-product-detail {
                    .number-buy {
                        padding: 20px 0;
                    }

                    .affiliate {
                        &.mb-20 {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }

        .section-feeback-detail {
            &.mb-50 {
                .content-feedback {
                    display: inherit;

                    .col-avatar-feedback {
                        width: 100%;
                        max-width: inherit;

                        .img-small {
                            top: 175px;
                        }
                    }

                    .col-info-feedback {
                        padding: 0px;
                        width: 100%;
                        max-width: inherit;
                    }
                }
            }
        }

        .sticky-cart-product {
            &.show-sticky-cart-product {
                left: 0;
                padding: 25px 0 10px 0;
                width: 100%;

                .box-sticky {
                    padding-left: 82px;
                    display: inherit;
                    padding-right: 84px;

                    .number-buy {
                        justify-content: space-between !important;
                        margin: 5px 0;
                    }
                }
            }
        }
    }

    /*-------------------------------------------------------------------- page-cart ----------------------------------------------------------------------*/
    .section-cart {
        &.pt-0 {
            .container {
                .row {
                    display: inherit;

                    .col-md-8 {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding-left: 0px;

                        .box-shadow {
                            padding: 20px;

                            tbody {
                                tr {
                                    padding-left: 40px;

                                    .product-remove {
                                        width: 30px;
                                    }

                                    td {
                                        &.product-thumbnail {
                                            img {
                                                max-width: 60px;
                                            }

                                            padding-left: 5px !important;

                                            .product-name {
                                                font-size: 13px;
                                            }
                                        }

                                        padding: 5px;

                                        .product-quantity {
                                            width: 110px;
                                            padding: 0 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .col-md-4 {
                        &.pl-0 {
                            margin-top: 40px;
                            flex: 0 0 100%;
                            max-width: 100%;

                            .show-add-address {
                                &.mt-20 {
                                    .col-md-6 {
                                        &.pr-0 {
                                            .form-group {
                                                padding-right: 15px;
                                            }
                                        }

                                        flex: 0 0 100%;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*-------------------------------------------------------------------- page-Cart-success ----------------------------------------------------------------------*/
    .success-page {
        font-size: 13px;

        .section-cart {
            &.pt-0 {
                .row {
                    &.head-order-detail {
                        display: flex;
                    }
                }

                .title-section {
                    margin: 20px 0 15px 0;

                    h2 {
                        a {
                            font-size: 24px;
                        }
                    }
                }

            }
        }
    }

    /*-------------------------------------------------------------------- page-profile ----------------------------------------------------------------------*/
    .page-profile {
        .section-acc {
            &.pt-0 {
                .has-cart {
                    .payment-success {
                        &.box-shadow {
                            padding-bottom: 70px;
                        }
                    }

                    .status-order {
                        &.mt-30 {
                            display: inherit;

                            .shipper {
                                padding-bottom: 15px;
                            }

                            .shop-total {
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }

        .section-acc {
            &.pt-0 {
                margin-top: 50px;

                .tabs-info {
                    &.mt-60 {
                        margin-top: 50px;

                        ul {
                            flex-wrap: inherit;
                        }

                        .tab-content {
                            &.mt-30 {
                                .has-cart {
                                    .col-md-12 {
                                        padding-right: 75px;
                                    }
                                }

                                .center {
                                    &.mt-40 {
                                        margin: 20px 0 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product-promotion {
        .col-infor-promo {
            .btn-common {
                margin: 5px 10px 5px 0;
            }
        }
    }

    .list-product .banner-vertical.thumnaisl-avatar a {
        padding-top: 150%;
    }

    .col-infor-promo p {
        padding-right: 0px;
    }

    /*-------------------------------------------------------------------- page-list-store ----------------------------------------------------------------------*/
    .page-list-store {
        .he-thong-cua-hang {
            &.pt-0 {
                .box-store {
                    .col-md-6 {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }

                    .col-md-6 {
                        &.pl-0 {
                            margin-top: -60px;
                        }
                    }
                }
            }
        }
    }

    /*-------------------------------------------------------------------- footer  ----------------------------------------------------------------------*/
    .head-footer {
        &.p30 {
            .container {
                .col-md-3 {
                    margin: 20px 0;
                    flex: 0 0 50%;
                    max-width: 50%;

                    .item-head-footer {
                        padding-right: 5px;
                        display: inherit;
                        border-right: inherit;
                        text-align: center;

                        .text-head-ft {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    footer {
        .head-footer {
            &.p30 {
                .container {
                    .col-md-3 {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
            }
        }

        .main-footer {
            display: inherit !important;

            .info-footer {
                width: 100%;
                float: left;
                margin-top: 20px;
                font-size: 13px;

                .social {
                    display: inherit;
                }
            }

            .info-footer:first-child {
                width: 100%;
                float: left;
                text-align: center;

                img {
                    max-width: 115px;
                }
            }
        }

        .copy-right {
            display: inline-block;
            width: 100%;
        }
    }


}


/*-------------------------------------------------------------------------mobile--------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .content-head .account a span {
        display: none;
    }

    p {
        font-size: 14px !important;
    }

    .he-thong-cua-hang {
        .box-store {
            .col-md-6.pl-0 {
                margin-top: 25px !important;
            }

            .select_liststore {
                .form-group {
                    width: 50%;
                    padding: 0px 5px;
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                a {
                    &.btn-common {
                        width: 100%;

                        .ti-location-pin {
                            margin-left: 0px;
                        }
                    }
                }
            }

            .list_mapstore {
                &.scrollbar {
                    margin: inherit;
                }
            }
        }
    }

    .page-404 {
        margin-top: 40px;
    }

    .ovan-online {

        .section-website .info-web {
            padding: 0px !important;

            img {
                top: 70px !important;

                &.line-flower {
                    max-width: 150px !important;
                }

            }

            .btn-common {
                margin-top: 5px;
            }

            p {
                padding-top: 2px;
            }

            .btn-common {
                padding: 8px 10px 10px 10px;
            }
        }
        .section-facebook .info-web .btn-common{
            padding: 8px 10px 10px 10px;
            height: 35px;
            font-size: 12px;
            margin-top: 10px;
        }


        .list-social.list-tiktok .row.top-social {
            .col-md-4 {
                padding: 0 10px;

                h5 {
                    font-size: 15px;
                    min-height: 36px;

                    a {}

                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .box-social {
                padding: 20px 5px;
                display: inherit;
                text-align: center;

                .social-nhan-hang {
                    margin-left: inherit;
                }

                .info-social {
                    margin-top: 20px;
                    padding: 0 10px;

                    .btn-common {
                        font-size: 14px;
                        padding-left: inherit;
                        margin: 5px;
                        padding: 12px 10px 10px 10px;
                    }

                    p {
                        padding: 0;
                    }

                    .btn-common {
                        text-align: center;
                    }
                }
            }
        }
    }

    .success-page {
        .section-cart {
            &.pt-0 {
                .shipper {
                    text-align: left;
                }

                .row {
                    &.head-order-detail {
                        .title-order-details {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .title-section a {
        font-size: 24px !important;
    }

    .section-product .pattern {
        top: -118px;
    }

    .section-product.sp-theo-cong-dung.mb-50 {
        padding-top: 0px;

        .content-sp-theo-cong-dung .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .section-news {
        .col-md-7 {
            .box-news {
                .infor-news {
                    .title-news.lager a {
                        font-size: 14px;
                    }
                }
            }
        }

        .col-md-5 {
            .item-news-right {
                margin-bottom: 10px;

                .row {
                    flex-direction: column-reverse;

                    .col-md-6 {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .banner-about .col-infor-promo p {
        padding-right: 0;
    }

    .btn-common {
        width: 100%;
        margin: 5px 10px 5px 0;
    }

    .section-slider-home {
        .content-slider {
            .banner-home-pc {
                display: none !important;
            }

            .banner-home-mb {
                display: block !important;
                height: 420px;
            }
        }
    }


    .pagging-page {
        margin-bottom: 50px !important;
        margin-top: -25px !important;
        margin-bottom: inherit !important;

        .pagination a {
            margin: 0 8px;
        }

        li {
            a {
                margin: 0 8px !important;
            }

            span {
                width: 30px;
                height: 30px;
                margin: 0 5px;
                font-size: 13px;
            }
        }
    }

    .page-contact .he-thong-cua-hang .thong-tin-lien-he {
        display: inherit !important;
    }

    .page-contact {
        .content-hotline {
            display: block !important;
        }

        .he-thong-cua-hang .content-hotline {
            text-align: inherit;
            display: flex !important;
            margin: 0 5px 0;

            .info {
                margin: 0 10px;

            }
        }
    }

    .banner-head-policy {
        &.mt-20 {
            &.mb-20 {
                img {
                    height: 90px;
                }
            }
        }
    }

    .sp-noibat-page-about {
        padding: 80px 20px 40px 20px !important;

        .list-product {
            .item-product {
                .info-product {
                    padding: 20px 10px 10px 10px;

                    .btn-common {
                        font-size: 12px;
                        padding: 8px 10px 10px 10px;
                        height: 35px;

                        i {
                            margin-left: 6px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .page-brochure {
        .banner-horizontal {
            padding: 0;
        }
    }

    .section-nhan-hang-noibat {
        padding: 40px 5px;

        .ds-nhan-hang {
            padding: 0 10px !important;

            .col-md-3 {
                width: 50%;
            }

            .col-md-9 {
                .row {
                    padding-left: 0px;
                }
            }

            .row {
                justify-content: center;

                &.list-second {
                    padding-left: 0px;

                    .col-md-2 {
                        width: 50%;
                    }
                }
            }

        }
    }

    .page-news {
        .cate-news {
            &.mt-10 {
                ul {
                    width: 355px;
                    padding: 5px 0;

                    a {
                        font-size: 10px;
                    }
                }
            }
        }

        .cate-news {
            &.mt-10 {
                .container {
                    padding: 0px;
                }
            }
        }

        .section-news-lager {
            padding: 30px 0 0 0;

            .row {
                flex-direction: column-reverse;
            }

            .col-md-4 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-md-8 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .infor-news {
                .content-title-news {
                    margin-bottom: 10px;

                    a {
                        font-size: 18px !important;
                    }
                }
            }
        }

        .detail-news {
            padding: 0;

            .detail-left {
                h1 {
                    a {
                        font-size: 24px;
                    }
                }

                .mt-20 {
                    &.mb-20 {
                        padding-top: 5px;
                        margin-top: 0px;
                    }
                }
            }

            .col-md-4 {
                padding-top: 0px;

                .tin-xem-nhieu {
                    overflow: hidden;

                    .item-news-right {
                        &.mt-10 {
                            padding: 0px 15px;
                            width: 48%;
                            float: left;
                        }
                    }
                }

                .row {
                    .col-md-5 {
                        &.pr-0 {
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }


    .page-detail {
        .section-product {
            &.mt-30 {
                .btn-action {
                    &.center {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .head-product-detail {
            .infor-product-detail {
                .product-affiliate {
                    img {
                        margin-right: 30px;
                    }
                }

                .mt-20 {
                    padding-left: 25px;
                }
            }

            .lSSlideOuter {
                a {
                    img {
                        height: 30px !important;
                    }
                }
            }

            .infor-product-detail {
                .row {
                    .col-md-6 {
                        &.pr-0 {
                            padding-right: 15px !important;
                            padding-bottom: 10px;
                        }
                    }
                }

                .product-name {
                    font-size: 24px;
                }
            }
        }

        .section-feeback-detail {
            &.mb-50 {
                .owl-dots {
                    padding-top: 25px;
                }

                .owl-nav {
                    .owl-prev {
                        margin: -35px;
                    }

                    .owl-next {
                        margin: -35px;
                    }
                }

                .content-feedback {
                    .name-feedback {
                        margin: 20px 0 0;
                    }

                    .img-small {
                        top: 45px !important;
                    }
                }
            }
        }

        .sticky-cart-product {
            &.show-sticky-cart-product {
                padding: 0;

                .box-sticky {
                    padding: 0 15px;

                    .ava-product {
                        display: none;
                    }
                }
            }
        }

        .detail-description {
            &.mt-50 {
                &.mb-40 {
                    .content-description {
                        padding-left: 25px;
                    }
                }
            }
        }
    }

    .section-product {
        padding: 80px 15px 10px;

        .list-product {
            .item-product {
                .info-product {
                    padding: 20px 0px 10px 0px !important;

                    .old-price {
                        margin-right: 0px;
                        font-size: 13px;
                    }

                    .new-price {
                        font-size: 14px;
                        margin-right: 3px;
                    }
                }
            }
        }
    }


    .section-cart {
        &.pt-0 {
            .container {
                .row {
                    display: inherit;

                    .col-md-8 {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding: 0px;

                        .box-shadow {
                            padding: 5px 20px;

                            .table-cart-product {
                                thead {
                                    display: none;
                                }

                                tbody {
                                    font-size: 13px;

                                    tr {
                                        padding-top: 0px;
                                        display: inline-block;
                                    }

                                    .product-thumbnail {
                                        padding-bottom: 0 !important;
                                        position: relative;
                                    }

                                    .product-remove {
                                        position: absolute;
                                        left: 10px;
                                        padding-top: 22px;
                                    }

                                    td {
                                        width: inherit;

                                        .product-quantity {
                                            padding: 0 8px;
                                            width: 100px;
                                        }

                                        &.product-remove {
                                            margin-top: 20px;
                                            width: 30px;
                                        }

                                        &.product-thumbnail {
                                            .product-name {}
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .col-md-4 {
                        &.pl-0 {
                            padding-right: 0;
                            margin-top: 40px;
                            flex: 0 0 100%;
                            max-width: 100%;

                            .show-add-address {
                                &.mt-20 {
                                    .col-md-6 {
                                        &.pr-0 {
                                            .form-group {
                                                padding-right: 15px;
                                            }
                                        }

                                        flex: 0 0 100%;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .success-page {
        .section-cart {
            &.pt-0 {
                .continue-buy {
                    &.mt-40 {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    .page-danh-muc-sp {
        padding: 0;

        .list-product {
            padding: 0;
            margin-bottom: 0px;
        }
    }

    .banner-horizontal {
        padding: 0;
        margin: 0 !important;
    }

    .page-profile {
        .title-profile {
            margin-bottom: 50px;

            h2 {
                font-size: 24px;
            }
        }

        .section-acc {
            &.pt-0 {
                padding: 0;
                margin-top: 20px;

                .tabs-info {
                    &.mt-60 {
                        margin-top: 15px;
                    }
                }

                .tab-content {
                    &.mt-30 {
                        margin-bottom: 0px;
                    }
                }

                .nav-item {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .page-cart {
        .title-section {
            margin: 20px 0 5px 0;
        }
    }

    .section-nhan-hang {
        .owl-stage {
            margin-top: -20px;
        }

        .slider-nhan-hang .item .thumnaisl-avatar a img {
            height: 80px;
        }

        .slider-nhan-hang {
            &.owl-carousel {
                &.owl-theme {
                    &.owl-loaded {
                        &.owl-drag {
                            padding: 0 20px;

                            .owl-stage-outer {
                                .owl-item {
                                    margin: 7px !important;
                                }
                            }

                            .owl-dots {
                                bottom: -15px;
                            }

                            .owl-prev {
                                margin: -20px;
                            }

                            .owl-next {
                                margin: -20px;
                            }

                            .owl-nav {
                                margin-bottom: -200px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section-product {
        &.sp-theo-cong-dung {
            &.mb-50 {
                .content-sp-theo-cong-dung {
                    .col-md-4 {
                        width: 100%;

                        .content {
                            .tags-sp {
                                margin: 5px 1px;
                                padding-right: 5px;
                            }
                        }
                    }
                }

                margin-top: 40px;

                .title-section {
                    margin: 100px 0 15px 0;
                }
            }
        }
    }

    .section-acc {
        &.pt-0 {
            .tab-pane {
                &.container {
                    &.active {
                        padding: 0;
                    }
                }
            }
        }
    }

    .page-brochure-detail {
        .sp-noibat-page-about {
            .banner-vertical {
                &.thumnaisl-avatar {
                    margin-bottom: 50px;
                }
            }
        }

        .list-social {
            padding: 40px 20px;
        }
    }

    .list-product .item-product .info-product .price .old-price {
        margin-right: 5px;
        font-size: 13px;
    }


    header {
        .menu-mobile {
            top: 13px;

            i.ti-menu {
                font-size: 30px;
            }
        }

        .right-head {
            position: fixed;
            top: 10px;
            right: 100px;

            .cart {
                margin-right: 15px;

                img {
                    height: 30px;
                    width: 30px;
                }
            }

            .account {
                img {
                    height: 35px;
                    width: 35px;
                }
            }
        }

        .menu-mobile {
            .ti-menu {
                color: #572885;
            }
        }

        .btn-search-mb {
            display: block;
            background: #F0F5FA;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding-top: 8px;
            padding-left: 11px;
            position: absolute;
            right: 55px;

            .ti-search {
                color: #959FAB;
            }
        }

        .content-head {
            padding-right: 10px;

            .search-head {
                display: none;

                input {
                    padding-right: 10px;
                }
            }
        }

        .content-head {
            width: 100%;
        }

        .top-head {
            &.show-search-mb {
                .search-head {
                    display: block;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    transition: 0.5s;
                    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);

                    i {
                        border-radius: 0;
                    }
                }

                .close-search {
                    display: block;
                }

                input {
                    border-radius: 0;
                }

                .ti-search {
                    display: none;
                }

                .top-head {
                    position: absolute;
                    top: 15px;
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    footer {
        .head-footer {
            &.p30 {
                padding: 0px;

                .text-head-ft {
                    a {
                        font-size: 12px;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }



}


@media only screen and (max-width: 320px) {

    .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-dots {
        bottom: -50px;
    }

    .section-news-lager .infor-news .content-title-news a {
        font-size: 18px;
    }

    .he-thong-cua-hang.mt-40 .box-store .col-md-6 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .list-product {
        .item-product {
            .percent-sale {
                padding: 0px 4px;
                top: 10px;
                left: 8px;
            }
        }
    }

    .list-product .item-product .info-product .price .old-price {
        margin-right: 0px;
        font-size: 13px;
    }

    .list-product .item-product .info-product .price .cart-quantity {

        color: #6A6A6A;
        font-size: 13px;
    }


    .page-brochure {
        font-size: 13px;

        .sp-noibat-page-about {
            .list-product {
                .info-product {
                    padding: 20px 0px 10px 0px;
                }
            }
        }
    }

    .section-feeback-detail {
        &.mb-50 {
            .owl-nav {
                .owl-prev {
                    top: 45%;
                }

                .owl-next {
                    top: 45%;
                }
            }

            .detail-feedback {
                .icon-quote {
                    top: -22px;
                }

                p {
                    padding: 10px;
                }
            }
        }
    }

    .number-buy {
        .add-to-cart {
            .btn-common {
                padding: 13px 10px 10px 10px;

                img {
                    display: none;
                }
            }
        }

        .product-quantity {
            width: 100px;

            .horizontal-quantity {
                font-size: 14px;
                width: 35px;
            }
        }
    }

    .section-product .list-product .col-md-3 {
        padding-bottom: 20px;
    }

    .section-product {
        &.mt-30 {
            padding: 30px 20px;
        }
    }

    .section-cart.pt-0 {
        .container .row .col-md-8 .box-shadow .table-cart-product tbody {
            tr {
                padding-left: 0px;

                .product-thumbnail {
                    padding-left: 15px !important;
                }
            }

            .product-remove {
                left: 0;
            }
        }

        .cart-total .btn-edit-cus {
            margin-left: 10px;
        }
    }

    .success-page {
        .payment-success {
            &.box-shadow {
                .shop-total {
                    .total-amount {
                        margin-left: 120px;
                    }
                }
            }
        }
    }

    .page-profile {
        .product-thumbnail .product-name {
            font-size: 13px;
            margin-right: 10px;
        }

        .section-acc {
            &.pt-0 {
                .title-profile {
                    margin-bottom: 30px;

                    h2 {
                        font-size: 18px;
                    }
                }

                .has-cart {
                    .custom_checkcart {
                        padding-left: 20px;

                        .label-custom {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    .banner-horizontal {
        .product-promotion {
            .col-infor-promo {
                padding: 0;

                p {
                    padding-right: 0;
                    margin-bottom: 15px;
                }

                a {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }

            .col-avatar-promo {
                margin-top: 20px;
            }
        }
    }

    .page-about {
        .linh-vuc-hd {
            padding-top: 80px;

            .item-lv {
                padding: 20px 10px;
            }
        }
    }

    .page-profile .section-acc.pt-0 {
        .nav-item a {
            font-size: 11px;
        }

        .tabs-info.mt-60 {
            margin-top: 25px;
        }
    }

    .page-news {
        .cate-news {
            &.mt-10 {
                ul {
                    width: 290px;

                    li {
                        margin: 0 5px;
                    }
                }
            }
        }

        .section-list-news {
            .infor-news .cate-name h6 a {
                font-size: 11px;
            }
        }
    }

    .pagging-page .pagination .page-item a {
        margin: 0 4px !important;
    }

    .page-list-store {
        .he-thong-cua-hang {
            &.pt-0 {
                .box-store {
                    .form-group {
                        .select-selected {
                            padding-left: 2px;
                        }
                    }

                    .col-md-6.pl-0 {
                        margin-top: -20px;
                    }
                }
            }
        }
    }

    .ovan-online {
        .list-social.list-tiktok .row.top-social .box-social .info-social .btn-common {
            padding: 12px 0px 10px 0px;
        }

        .section-website .info-web {
            span {
                a {
                    font-size: 16px;
                }
            }

            p {
                font-size: 13px;
            }

            .line-flower {
                max-width: 160px;
            }
        }
    }

    /*-------------------------------------------------------------------- end page ----------------------------------------------------------------------*/
}