$brand: #572885;
$gradient-color: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
$text: #454545;
$text-alpha: #6A6A6A;
$border: #F1F1F1;


@import "resMB-about";


@media only screen and (max-width: 1750px) {}

/*-------------------------------------------------------------------- @media 1600px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1601px) {
  .page-brochure {
    .section-nhan-hang {
      .container {
        padding-top: 140px !important;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {}

/*-------------------------------------------------------------------- @media 1200px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1201px) {
  .page-brochure {
    .section-nhan-hang {
      .container {
        padding-top: inherit !important;
      }
    }
  }
}

/*-------------------------------------------------------------------- @media 950px ----------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
  .section-danh-muc-san-pham-home .list-danhmuc .item-product .thumnaisl-avatar{
    // padding: 0 16px;
  }
  .section-danh-muc-san-pham-home .list-danhmuc{
    margin: 0;
  }
  .tab-danhgiasanpham .cart-area .pro-details{
    max-width: 100%;
  }
  .page-profile .section-acc.pt-0 .tabs-info.mt-60 .tabs-nav-item ul{
    min-width: 700px;
  }
  /* Menu */
  .menu nav ul li {
    padding: 10px 0;
  }

  .menu-mobile {
    position: fixed;
    top: 20px;
    right: 15px;

    i {
      font-size: 20px;
      color: $text-alpha;

      &.ti-close {
        display: none !important;
      }

      &.ti-menu {
        display: block !important;
      }
    }
  }

  .show-menu {
    .menu-mobile {
      i {
        &.ti-close {
          display: block !important;
        }

        &.ti-menu {
          display: none !important;
        }
      }
    }

    nav {
      display: inline-block !important;
    }
  }

  header {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 9999;

    .logo img {
      height: 25px;
    }

    nav {
      display: none !important;
      position: fixed;
      left: 0;
      top: 50px;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      box-shadow: inset 17px -14px 20px 0px rgba(0, 0, 0, 0.04);
      border-top: 0;
      padding: 0 !important;
      scroll-behavior: smooth;
      transition: all 0.2s ease-in-out;

      ul {
        display: inline-block !important;
        width: 100%;

        li {
          width: 100%;

          a {
            width: 100%;
            display: inline-block;
            font-size: 16px !important;
          }
        }
      }
    }

    .menu nav ul li:hover ul {
      position: relative;
      top: 10px !important;
      width: 100% !important;
      box-shadow: none;
      border-radius: 0;
      background: #046e4508;
    }

    .menu nav ul>li>a::before {
      font-size: 16px;
      right: 15px;
      top: 0px;
    }
  }

  .content-head {
    padding-right: 80px;
  }

  /* Search  */
  .search-head input {
    border: 1px solid #e5e5e5;
  }

  .section-slider-home {
    padding-top: 55px;

    .head-slider-home h1 {
      font-size: 32px;
      top: 35px;
      left: 120px;
    }
  }
}

/*-------------------------------------------------------------------- @media 767px ----------------------------------------------------------------------*/
.page-brochure {
  .section-nhan-hang {
    .container {
      padding-top: 80px;
    }
  }
}

.page-danh-muc-sp {
  .section-nhan-hang {
    .container {
      padding-top: 40px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .section-danh-muc-san-pham-home .list-danhmuc{
    margin: 0;
  }
  .section-danh-muc-san-pham-home .list-danhmuc .item-product .thumnaisl-avatar a img {
   
    width: 100px;
    height: 100px;
  }
  .section-danh-muc-san-pham-home{
    button.owl-prev{
      top: 35%;
      left: -15px;
    }
    button.owl-next{
      top: 35%;
      right: -15px;
    }
    .item-product{
padding: 0 !important;
    }
  }
  .slider-show-full-img{
    .detail-rating{
      padding: 0 0 20px 60px;
      margin-top: 20px;
    }
  }
  #viet-danh-gia{
    top: 20px;
    .modal-title{
      font-size: 18px;
    }
  }
  .tab-danhgiasanpham .nav-item a{
    padding: 10px  !important;
  }
 
.tab-danhgiasanpham{
  .nav-tabs{
    justify-content: flex-start;
  }
  .ratings{
    display: inherit;
  }
  .tab-pane{
    padding: 20px  !important;
  }
  .btn-viet-danh-gia{
    margin-left: 0  !important;
  }
  .pagging-page {
    margin: 0  !important;
  }
}
  .content-head .account .dropdown .dropdown-menu{
    right: -30px;
  }
  .section-danh-muc-san-pham-home{
	
    .list-danhmuc{
     
      .item-product{
       
        // width: 33.3%;
      
        p{
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          text-transform: capitalize;
          margin-top: 15px;
          margin-bottom: 25px;
        }
      }
    }	
    
  }
  .box-danh-gia .flex-center {
    display: initial;
    p {
        margin: 0 0 10px 0 !important;
    }
}
.infor-product-detail{
  .number-buy{
    margin-bottom: 0;
  }
}
.danhgiasanpham{
  padding-top: 0;
}
.box-danh-gia .title-section-detail {
  font-size: 22px !important;
  
}
.detail-rating {
  padding: 0 0 20px 40px;
  margin-bottom: 10px;
  .ava-rating{
    height: 32px;
  }
  .detail-rating-right{
    .flex-center{
      display: flex;
      p{
        margin-bottom: 0 !important;
      }
    }
    h4{
      font-size: 18px;
    }
  }
}
.detail-rating.rating-sub{
    margin: 20px 0 20px 10px;
}
.content-rating{
  .pagging-page{
    margin-top: 30px !important;
  }
}
.box-danh-gia{
  margin: 0;
  .box-info-rating{
    padding-left: 0;
    .info-rating-left{
      position: inherit;
      margin-bottom: 15px;
    }
    .info-rating-right{
      .list-img-product{
        img{
          
          width: 60px;
          height: 50px;
        }
      }
    }
    .box-view-more-img{
      width: 60px;
      height: 50px;
      padding: 0;
    }
  }
  .rating-bar {
    .middle{
      width: 100%;
    }
  }
  
}

  .section-product.sp-theo-cong-dung.mb-50 .content-sp-theo-cong-dung .col-md-4 .content {
    position: relative;
    display: flex;
    padding-bottom: 90px;

    img {
      max-width: 45px;
      margin-right: 10px;
    }

    h5 {
      margin-top: 15px;
    }

    .list-tags-sp {
      position: absolute;
      left: 0;
      top: 54px;
      text-align: left;
      padding: 0;

      .tags-sp {
        border-right: solid 1px #ffffff75;
        margin: 3px 1px;
        display: initial;
        padding-right: 10px;
      }

      a {
        font-size: 13px;
      }

      &.mt-20 {
        margin-top: 0;
      }
    }
  }


  /* Update css page san pham 16.02.2023*/
  .page-brochure {
    .section-nhan-hang {
      .container {
        padding-top: 40px;
      }
    }

    .section-gallery {
      .container {
        padding-top: 40px;
      }
    }
  }

  .page-danh-muc-sp {
    .list-product {
      .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    .section-nhan-hang {}
  }

  .sp-noibat-page-about {
    padding: 80px 0 40px 0px !important;
  }
}

@media only screen and (max-width: 320px) {
  .list-rating-tab-content .rate label{
    font-size: 24px;
  }
  .page-profile .section-acc.pt-0 .tab-content.mt-30{
    margin-top: 15px;
  }
  #viet-danh-gia{
    .modal-body{
      margin-top: 0;
     
    }
    .modal-content{
      height: auto !important;
    }
  }
  .content-head .account .dropdown .dropdown-menu{
    right: -80px;
  }

  .section-danh-muc-san-pham-home{
	
    .list-danhmuc{
     
      .item-product{
       
        p{
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          text-transform: capitalize;
          margin-top: 15px;
        }
      }
    }	
    
  }
  .page-brochure {
    .section-gallery {
      .container {
        padding-top: 80px;
      }
    }
  }

  .page-danh-muc-sp {
    .list-product {
      .container {
        padding-top: 60px;
      }
    }
  }
}