@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

$brand: #572885;
$gradient-color: radial-gradient(67.84% 1032.82% at 17.31% 47.94%, #752292 0%, #A357BD 48.44%, #752292 100%);
$text: #454545;
$text-alpha: #6A6A6A;
$border: #F1F1F1;




.page-profile.modal-open{
    .custom-select{
        .select-selected{
            color: #6A6A6A;
        }
    }
}
.center-btn{
    border-color: transparent;
    display: inline-block;
    background: #D60000;
    border-radius: 6px;
    padding: 11px 50px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    height: 45px;
    text-transform: uppercase;
    text-align: center;
}
.page-profile{
    .btn_status{
        border: 1px solid $border;
        background: white;
        color: $brand;
        border-radius: 6px;
        padding: 12px 10px 10px 10px;
        span{
            color: $text-alpha;
            margin-left: 6px;
        }
    }
    .tabs-nav-item{
            .nav-item{
                text-align: center;
        }
    }
    .them-sp-tm{
        text-align: center;
        .btn-common{
            font-size: 14px;
            display: inline-block;
            background: transparent;
            color: #572885;
            i{
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }
    .file-don-hang.dai-ly{
        .form-group{
            margin-bottom: 0;
            height: 45px;
            textarea {
            height: 45px !important;
            text-align: center;
            background: transparent;
        }
        }
    }
    #popup-rosefile{
        .ychh-box{
            text-align: center;
        }
    }
    .top-social{
        position: inherit;
        margin: 0;
        padding: 0;
        outline: none;
        .box-social{
            margin: 15px 20px;
            border: 1px dashed #E5E5E5;
            box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);   
            background: #FFFFFF;
            border-radius: 12px;
            padding: 30px;
            display: flex;
            align-items: center;
            max-width: 350px;
            height: 110px;
            .social-nhan-hang{
                background-color: transparent;
                top: 45px;
                width: 100px;
                height: 55px;
                margin-left: -54px;
                border-radius: 10px;
                padding: 10px;
                padding-top: 0px;
                text-align: center;
                img{
                    width: 80px;
                }
            }  
            .info-social{
                padding-left: 10px !important;
                position: relative;
                display: inline-block;
                width: 100%;
                p{
                    margin-top: 10px;
                    margin-bottom: 0;
                    display: inline-block;
                    width: 100%;
                    a{
                        color: #6A6A6A;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .btn-common{
                    background: transparent;
                    color: #572885;
                    text-align: left;
                    padding-left: 0;
                    cursor: pointer;
                }
            }    
        }
    }
    .box-ychh.box-shadow{
        margin-top: 40px;
        .file-down{
        width: 100%;
        .stt-filebox{
            width: 15px;
        }
        .ttyc-filebox{
            width: 250px;           
        }
        .date-filebox{
            width: 200px;
        }
        .thang-filebox{
            width: 150px;
        }
        .dang-xl{
            color: $brand;
        }
        .da-xl{
            color: #BFA145;
        }
    }
}
    .file-rose.box-shadow{
        .file-rose{
            .namectv-filebox{
                width: 220px;
            }
            .link-filebox{
                width: 320px;
            }
            .category-filebox{
                width: 180px;
            }
            .turnover-filebox{
                width: 120px;
                text-align: right;
                span::after{
                    content: "đ";
            }
        }
            .rose-filebox{
                width: 100px;
                text-align: right;
                span::after{
                    content: "%";
                }
            }
            .date-tm-filebox{
                width: 140px;
                text-align: right;
            }
        }
        .box-headbd{
            display: flex;
            justify-content: space-between;
        }
            padding: 30px 15px;
            margin-top: 20px;
            .head-dg.rose{
                display: flex;
                padding: 20px 0;
                h4{
                    margin-bottom: 0;
                }
                .tong-gia-rose{
                    display: flex;
                    align-items: center;
                    h4::after{
                        content: 'đ';
                    }   
                }
                .sl-nguoi-rose{
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                }
                .tong-hh-rose{
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    h4::after{
                        content: '%';
                    }  
                }
                .da-nhan-rose{
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    h4::after{
                        content: '%';
                    }  
                }
                .con-lai-rose{
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    h4::after{
                        content: '%';
                    }  
                }
                h4{
                    margin-left: 6px;
                    color: #BFA145;
                }
            }
        .box-taomoi.rose{
        display: flex;
    }
}

    thead{
        background: #E9E9EB;
        th{
            padding: 15px;              
        }
    }
    width: 100%;
    border-collapse: collapse;
    tbody{
        tr:nth-child(odd){background: #F8F8F8;}
        tr:nth-child(even){background: #fff;}
        tr{     
            td{
                text-align: left;
                padding: 6px 15px;
                a{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    img{
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .title-taomoi{
        background-color:  #D60000;
        color: #fff;
        padding: 10px 15px 10px 15px;
        border-radius: 6px;
        margin-left: 20px;
        height: 40px;
        cursor: pointer;
        i{
            margin-left: 6px;
        }
    }

    .file-rose{
        width: 100%;
    }

    
    .btn-view{
        color: $text;
        background-color: none;
        border-color: none;
        cursor: pointer;
    }
    .btn-view:hover{
        color: $brand;
    }
    .center.mt-72{
        margin-top: 40px;
    }
    .filter-search{
        display: flex;
        align-items: center;
        justify-content: right;
        a{
            img{
                height: 40px;
                max-width: inherit;
            }
        }
        #date{
            border-radius: 6px 0 0 6px;
            max-width: 225px;
            color: #6A6A6A;
        }
    }
    .tabs-info.mt-60{
        .search-head{
            margin-right: 20px;
            max-width: 275px;
            input{
                width: 275px;
            }
            .ti-search{
                background: inherit;
                color: #6A6A6A;
            }
        }
    }
    .box-shadow{
            width: 100%;
            border-collapse: collapse;             
    }
    .download-file.box-shadow{
        padding: 30px 15px;
        margin-top: 20px;
        height: 46vh;
        .head-dg.rose{
            display: flex;
            padding: 0 0 20px;
            .tong-gia-rose{
                display: flex;
                margin-left: 30px;
            }
            .sl-nguoi-rose{
                display: flex;
                margin-left: 30px;
            }
            .tong-hh-rose{
                display: flex;
                margin-left: 30px;
            }
            .da-nhan-rose{
                display: flex;
                margin-left: 30px;
            }
            .con-lai-rose{
                display: flex;
                margin-left: 30px;
            }
            h4{
                margin-left: 6px;
                color: #BFA145;
            }
        }
        .box-taomoi.dai-ly{ 
            #popup-tmdl{
                .form-group{
                    padding: 0 15px 15px;
                }
                .title-spdl{
                    padding: 15px;
                    font-weight: bold;
                }
                .san-pham-dl{
                    padding: 0 15px;
                }
                .close {
                    padding: 7px 10px !important;
                    background: #8E8E8E;
                    color: #fff;
                    b, span, label {
                        font-size: 20px;
                    }
                }    
            }
            .box-dhang{
                margin-top: 20px;
                .sl-filebox.mt-15{
                    width: 160px;
                }
                .tt-filebox.tt-15{
                    text-align: right;
                }
                .dg-filebox.tt-15{
                    text-align: right;
                }
                .product-quantity{
                    height: 40px;
                    width: 125px;
                    .horizontal-quantity{
                        background-color: transparent;
                        border: transparent;
                        text-align: center;
                    }
                }
                .form-group{
                    margin-top: 0px;
                }
                .file-don-hang.dai-ly{
                    thead{
                    background: transparent;
                    }
                    tbody{
                        tr {
                            background: transparent;
                            }
                        }
                    }
                }
            .form-group{
                margin-top: 20px;
            }
            .filebox-don-hang.box-shadow{
                overflow: auto;
                .box-dhang{
                    height: 250px;
                    min-width: 1000px;
                }
            }
        }

        .box-taomoi{
            #popup-tmdl{
                .modal-dialog{
                    max-width: 800px;
                    .box-dhang{
                        .file-don-hang.dai-ly{
                        width: 100%;
                            }
                        }
                    }
                }
            #popup-taomoi{
                .modal-dialog{
                    max-width: 1200px;
                    min-height: 400px;
                }
                .modal-header{
                    justify-content: left;
                    align-items: center;
                    .modal-title{
                        width: inherit;
                    }
                }
                .modal-body{
                    .filebox-don-hang.box-shadow{
                        .file-don-hang{
                            .sp-filebox.mt-12 input{
                                background-color: transparent;
                            }
                            width: 100%;
                            .stt-filebox.mt-12{
                                width: 50px;
                            }                          
                            .dg-filebox.tt-12{
                                text-align: right !important;
                                span::after{
                                    content: 'đ';
                                }    
                            }
                            .tt-filebox.tt-12{
                                text-align: right !important;
                                span::after{
                                    content: 'đ';
                                }    
                            }
                            .gc-filebox.mt-12{
                                text-align: center !important;
                            }
                            .sp-filebox.mt-12{
                                width: 300px !important;
                            }
                            .sl-filebox.mt-12{
                                text-align: center;
                                padding: 0px 0 0 60px;
                                .box-file-mt12{
                                    border: transparent;
                                    text-align: right;
                                    background-color: transparent;
                                } 
                            }
                        }                   
                    }
                    padding: 10px 0;
                    .head-body-file{
                        display: flex;
                        padding: 20px 0;
                        .tong-gia-mt20{
                            display: flex;
                        }
                        .trang-thai-mt20{
                            display: flex;
                            margin-left: 30px;
                        }
                        a{
                            margin-left: 6px;
                            color: #BFA145;
                        }
                    }
                }
                .close{
                    padding: 7px 10px !important;
                    background: #8E8E8E;
                    color: #fff;
                    b, span, label {
                        font-size: 20px;
                    }
                }
            }
            display: flex;
            margin-bottom: 20px;
            


        }
    .file-down{
        width: 100%;
        border-collapse: collapse;
        }
        .stt-filebox{
            width: 20px;
        }
        .date-filebox{
            width: 150px;
        }
        .down-filebox{
            width: 100px;
        }
        .money-filebox{   
            width: 150px;
            text-align: right !important;
            span::after{
                content: "đ";
            }        
        }
        .total-filebox{
            width: 150px;
            text-align: right !important;
        }
        .status-filebox{
            width: 300px;
            text-align: center !important;
        }
        .icon-filebox{
            width: 100px;
        }
        
        


    }
    .pagging-page.mt-30.mb-30{
        margin-bottom: 0px;
    }
}

.popup-rosefile-btn-close button.close{
    padding: 7px 10px !important;
    background: #8E8E8E;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    line-height: 0;
    span{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1601px) {
}
@media only screen and (max-width: 1201px) {
}
@media only screen and (max-width: 960px) {
    .page-profile.modal-open{
        .download-file.box-shadow .box-taomoi .modal-dialog {padding: 10px;}
        .filebox-don-hang.box-shadow{
            padding: 0;
        }
        .icon-filebox{
            text-align: center;
            width: 50px;
        }
        .sl-filebox.mt-12{
            width: 120px !important;
        }
        .gc-filebox.mt-12{
            width: 150px;
        }
        .sl-filebox.mt-12{
            padding: 15px !important;
        }
        .tt-filebox.tt-12{
            width: 150px;
        }
        .dg-filebox.tt-12{
            width: 150px;
        }
    }
    .page-profile{
        .section-acc.pt-0{
            padding: 0;
            .tabs-info.mt-60{
            .tabs-nav-item{
                overflow-x: auto;
                ul {
                    flex-wrap: inherit;
                    min-width: 846px;}
                }
            }
        }
        .tabs-info.mt-60{
            margin-top: 10px !important;
        }
        h2{
            font-size: 24px;
        }
        .title-profile{
            margin-bottom: 10px !important;
        }
        .pagging-page.mt-30.mb-30{
            margin: 30px 0 !important;
        }
        .download-file.box-shadow{
            .center.mt-72{
                margin-top: 20px;
            }
            .cbbox-daily{
                overflow: auto;
                .file-down{
                    min-width: 1000px;
                    .donhang-filebox{
                        width: 350px;
                    }
                }
            }
        }
        #tiep-thi-lien-ket{
            padding: 0;
            .row.top-social{
                display: inherit;
                .box-social{
                    width: 100%;
                    margin: 15px;
                }
            }
            .box-ychh.box-shadow{
                margin-bottom: 20px;
            }
        }
        .box-ychh.box-shadow{
            overflow: auto;
            .file-down{
                min-width: 1000px;
            }
        }
        .row.top-social{
            display: flex;
            justify-content: space-between;
            .box-social{
                width: 47%;
                margin: 0;
                h5{
                    font-size: 16px;
                }
            }
        } 
        .box-roselk{
            .file-rose.box-shadow{
                padding: 30px 15px 0;
                .head-dg.rose{
                    display: inherit !important;
                    .sl-nguoi-rose{
                        margin-left: 0 !important;
                        width: 50%;
                        float: left;
                    }
                    .tong-hh-rose{
                        width: 50%;
                    }
                    .da-nhan-rose{
                        margin-left: 0 !important;
                        width: 50%;
                        float: left;
                    }
                    .con-lai-rose{
                        width: 50%;
                    }
                }
                .file-rose-tb{
                    overflow: auto;
                    .file-rose{
                        min-width: 1200px;
                    }
                }   
            }
        .file-rose.box-shadow{
            .box-headbd{
                display: inherit;
                .filter-search{
                    margin-top: 15px;
                }
            }
            .filter-search{
                justify-content: left;
                .search-head{
                    max-width: 225px;
                    input{
                        width: 225px;
                    }
                }
            }
        }
        .nav-tabs .nav-item{
            a{
                font-size: 14px;
                }
            }
        }
    }
    footer .main-footer{
        .info-footer {
        max-width: inherit;
        width: 50% !important;
        }
        .info-footer:first-child{
            margin-bottom: 20px;
            width: 100% !important;
        }
    }
}
@media only screen and (max-width: 767px) {
    .page-profile.modal-open{
        #popup-tmdl{
            .box-dhang{
                height: 16vh;
                overflow-x: auto;
                .file-don-hang.dai-ly{
                    min-width: 700px;
                }
            }
        }
        .head-body-file{
            display: inherit !important;
            .trang-thai-mt20{
                margin-left: 0 !important;
            }
        }
        .head-popup-view{
            .modal-title{
                width: 100% !important;
                display: block;
                margin-bottom: 20px;
            }
            .title-taomoi.dai-ly{
                margin-left: 0;
            }
        }
    }
    .page-profile{
        .filter-search{
            display: inherit;
            #date{
                max-width: 100%;
                padding-right: 65px;
                border-radius: 6px;
            }
            .filter-icon{
                margin-left: -60px;
            }
            .search-head{
                max-width: inherit !important;
                margin-bottom: 12px;
                width: 100% !important;
                input {
                    width: 100% !important;
                }
            }
        }
        
        
        .box-roselk{
            .box-headbd{
                .box-taomoi.rose{
                    margin-bottom: 20px;
                    h2{
                        margin-bottom: 20px;
                    }
                    .title-taomoi.rose{
                        margin-left: 0;
                    }
                }
            }
        }
        .file-rose.box-shadow{
            .box-taomoi.rose {
            display: inherit;
            margin-left: 0px;
            }
            .filter-search{
                display: initial;
            }
        }
        .tabs-info.mt-60{
            .tabs-nav-item{
                overflow-x: auto;
                .nav.nav-tabs{
                    min-width: 700px !important;
                }
            }
        .search-head {
            margin-right: 10px;
        }
    }
        .nav-item{
            margin-right: 20px;
            a{
                padding: 0 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
                font-size: 14px !important;
                text-align: center;              
                padding: 0 !important;
            }
        }
        #tai-lieu-huan-luyen{
            .pagination{
                margin: 30px 0 40px;
            }
        }
        .download-file.box-shadow{
            overflow-x: auto;
            .file-down{
                min-width: 1500px;
                tbody tr td a {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
    footer .main-footer{
        .info-footer {
        max-width: inherit;
        width: 100% !important;
        }
        .info-footer:first-child{
            margin-bottom: 0px;
        }
    }
}
@media only screen and (max-width: 320px) {
    .page-profile.modal-open{
        #popup-taomoi .modal-body .head-body-file{
            padding: 10px 0 !important;
             a{
                h4{
                    font-size: 16px;
                }
            }
        }
        .modal-content{
            height: auto;
            padding: 15px;
        }
        .filebox-don-hang.box-shadow{
            height: 220px;
        }
        .box-dhang{
            margin-top: 5px !important;
        }
        .title-spdl{
            padding: 0 !important;
        }
        .san-pham-dl{
            padding: 15px 0 0 !important;
        }
        .form-group{
            padding: 0 !important;
        }
        .modal-body{
            margin-top: 20px;
        }
    }
    .page-profile{
        font-size: 13px;
        #tiep-thi-lien-ket .row.top-social {
            margin-right: 15px;}
        .title-profile{
            margin-bottom: 20px !important;
        }
        .section-acc.pt-0 .tabs-info.mt-60{
        margin-top: 5px !important;
        .filter-search{
            display: inherit;
            .search-head{
                margin-bottom: 12px;              
            }    
            .filter-icon{
                margin-left: -10px;
                }
            }
            .filter-search .filter-icon {
                margin-left: -60px;
            }
        }
        .box-roselk .box-headbd .filter-search #date {
            padding-right: 65px;
        }
        .head-dg.rose{
            display: flex;
            padding: 0 0 20px;
            .tong-gia-rose{
                width: 100% !important;
            }
            .sl-nguoi-rose{
                width: 100% !important;
            }
            .tong-hh-rose{
                width: 100% !important;
                margin-left: 0 !important;
            }
            .da-nhan-rose{
                width: 100% !important;
            }
            .con-lai-rose{
                width: 100% !important;
                margin-left: 0 !important;
            }
        }
    }
}