<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/ion.rangeSlider.min.js"></script>
<script src="js/lightslider.js"></script>

<script src="js/main.js"></script>



<!-- Add them thu vien cho hieu ung chay so-->