<footer>
    <div class="container-footer">
       <div class="tb-body-footer">
          <div class="tb-logo-footer">
             <img class="tb-img-logo-footer" src="images/logo.svg" alt="">
             <div class="social-footer">
                <a href=""><img src="images/facebook.svg" alt=""></a>
                <a href=""><img src="images/twitter.svg" alt=""></a>
                <a href=""><img src="images/linkedin.svg" alt=""></a>
                <a href=""><img src="images/instagram.svg" alt=""></a>
             </div>
          </div>
          <div class="tb-link-footer tb-link-contact-footer">
             <div class="tb-title-footer">
                <b>Contact Us</b>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/adress-footer.svg" alt="">
                <span>
                <b>Head office:</b> 26B, Phan Chu Trinh, Hiep <br/> Phu Ward, Thu Duc City, HCMC, Việt Nam
                </span>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/adress-footer.svg" alt="">
                <span>
                (84 28) 3736 0231 <br/>
                (84 28) 3736 0232
                </span>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/adress-footer.svg" alt="">
                <span>
                <b>Cuba office</b> Calle 32, No.308, e/ 3ra. y <br/> 5ta., Playa, La Habana, Cuba 
                </span>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/adress-footer.svg" alt="">
                <span>
                +537 2047791<br/>
                +537 2047792<br/>
                +537 2047793
                </span>
             </div>
             <div class="tb-mail-footer">
                <ul class="nav nav-tabs">
                   <li><a class="active" data-toggle="tab" href="#home">Buyer</a></li>
                   <li><a data-toggle="tab" href="#menu1">Supplier</a></li>
                   <li><a data-toggle="tab" href="#menu2">Investor</a></li>
                   <li><a data-toggle="tab" href="#menu3">Employee</a></li>
                </ul>
                <div class="tab-content">
                   <div id="home" class="tab-pane fade in show active">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>sales@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                   <div id="menu1" class="tab-pane fade">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>supplier@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                   <div id="menu2" class="tab-pane fade">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>investor@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                   <div id="menu3" class="tab-pane fade">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>employee@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="tb-link-footer">
             <div class="tb-title-footer">
                <b>Our corp</b>
             </div>
             <div class="tb-link-footer-editor">
                <a href="">About</a>
                <a href="">
                Product</a>
                <a href="">
                Investment</a>
                <a href="">
                Supplier</a>
                <a href="">
                Manufacturers</a>
                <a href="">
                Careers</a>
                <a href="">
                News</a>
             </div>
          </div>
          <div class="tb-link-footer">
             <div class="tb-title-footer">
                <b>Our Product</b>
             </div>
             <div class="tb-link-footer-editor">
                <a href="">Household products</a>
                <a href="">
                Food & Beverage</a>
                <a href="">
                Industrial Manufacturing</a>
                <a href="">
                Clothing & Accessories</a>
                <a href="">
                Electronic Appliances</a>
                <a href="">
                Cosmetic & Pharmaceutical</a>
                <a href="">
                NFurnitureews</a>
                <a href="">
                Construction Materials</a>
                <a href="">
                Vehicle & Parts</a>
                <a href="">
                Stationery</a>
                <a href="">
                Sports Equipment</a>
                <a href="">
                Baby Kids & Toys</a>
             </div>
          </div>
          <div class="tb-link-footer">
             <div class="tb-title-footer">
                <b>Cooperation</b>
             </div>
             <div class="tb-link-footer-editor">
                <a href="contact-coop.html">Buyers</a>
                <a href="contact-coop.html">
                Suppliers</a>
                <a href="contact-coop.html">
                Investors</a>
                <a href="contact-coop.html">
                Employee</a>
             </div>
          </div>
       </div>
    </div>
 </footer>