@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.breadcrumbs i {
  margin-right: 10px; }

.head-page .head-title-page {
  text-align: center;
  margin: 0 auto; }

.head-page::after {
  opacity: 0.8 !important; }

a:hover {
  color: #0093D8; }

.menu-tab-blogs {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06); }
  .menu-tab-blogs ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    margin: 0;
    padding-bottom: 0; }
    .menu-tab-blogs ul .no-sub {
      padding: 10px;
      margin: 0 40px; }
      .menu-tab-blogs ul .no-sub a:hover {
        color: #0093D8; }
      .menu-tab-blogs ul .no-sub.active {
        border-bottom: 2px solid #0093D8; }
        .menu-tab-blogs ul .no-sub.active a {
          color: #0093D8; }
    .menu-tab-blogs ul li {
      list-style: none; }
      .menu-tab-blogs ul li a {
        font-size: 18px;
        font-weight: 700;
        color: #222;
        text-transform: uppercase; }

.news-list-cate-news {
  padding-bottom: 0; }
  .news-list-cate-news .item-news .info-news {
    background: transparent;
    box-shadow: none;
    padding: 15px 0 0 0; }
  .news-list-cate-news .item-news .desc-news {
    -webkit-line-clamp: 3; }
  .news-list-cate-news .item-news .avatar-thumb a img {
    border-radius: 4px; }

.date-time-news span {
  margin-right: 5px !important; }

.title-cate-item {
  text-transform: uppercase;
  font-size: 12px;
  color: #777; }

.item-news .text-alpha {
  margin-bottom: 0; }
.item-news .title-news {
  margin: 5px 0; }
.item-news .date-time-news {
  margin-bottom: 0; }
.item-news .desc-news {
  margin-top: 10px; }

.hot-news {
  background: #F5F7FB;
  float: left; }

.detail-cate-news {
  padding-bottom: 0; }
  .detail-cate-news .title-section h2 {
    margin-bottom: 0; }
  .detail-cate-news .itemnews-large {
    height: 100%;
    align-items: center; }
    .detail-cate-news .itemnews-large.lagre-news .desc-news {
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3; }
    .detail-cate-news .itemnews-large.lagre-news .title-news a {
      font-size: 24px;
      line-height: 28px;
      color: #222; }
    .detail-cate-news .itemnews-large .avatar-thumb a img {
      border-radius: 4px; }
    .detail-cate-news .itemnews-large .info-news h3 {
      margin: 5px 0; }
    .detail-cate-news .itemnews-large .text-alpha {
      margin-bottom: 0; }
    .detail-cate-news .itemnews-large .date-time-news {
      margin-bottom: 20px; }
    .detail-cate-news .itemnews-large .desc-news {
      margin-bottom: 0; }

.list-detail-cate-news {
  padding-bottom: 0; }

.item-orther-categories {
  background: #FFFFFF;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px; }
  .item-orther-categories h4 {
    margin-bottom: 0; }
    .item-orther-categories h4 a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      font-size: 18px;
      color: #222; }
      .item-orther-categories h4 a:hover {
        color: #0093D8; }

.other-categories .col-md-4:nth-child(odd) .item-orther-categories {
  border-left: 8px solid #0093D8; }

.other-categories .col-md-4:nth-child(even) .item-orther-categories {
  border-left: 8px solid #EB1C24; }

.headpage-detail-news {
  margin-top: 130px; }
  .headpage-detail-news .breadcrumbs {
    position: inherit; }
    .headpage-detail-news .breadcrumbs a {
      color: #777; }
    .headpage-detail-news .breadcrumbs i {
      color: #777; }

.none-overflow {
  overflow: inherit; }

.content-detail-news .show-sticky {
  top: 140px; }
.content-detail-news .box-sticky-scroll {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px 20px; }
  .content-detail-news .box-sticky-scroll h5 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase; }
  .content-detail-news .box-sticky-scroll ul {
    padding-left: 30px;
    margin-bottom: 0; }
    .content-detail-news .box-sticky-scroll ul li {
      margin-bottom: 5px; }
      .content-detail-news .box-sticky-scroll ul li a {
        color: #222;
        font-size: 14px;
        font-weight: 500; }
    .content-detail-news .box-sticky-scroll ul .li-sub {
      list-style: none;
      padding-left: 20px; }
      .content-detail-news .box-sticky-scroll ul .li-sub a {
        opacity: 0.8;
        font-size: 13px;
        font-family: inherit;
        font-weight: normal; }
.content-detail-news img {
  border-radius: 4px; }
.content-detail-news .list-tags-news a {
  border: 1px solid #0093D8;
  border-radius: 30px;
  color: #0093D8;
  font-size: 14px;
  padding: 1px 20px;
  line-height: 28px;
  margin: 10px 10px 10px 0;
  display: inline-block; }
.content-detail-news .other-news-right {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-shadow: none; }
  .content-detail-news .other-news-right ul {
    padding-left: 0; }
  .content-detail-news .other-news-right li {
    list-style: none;
    margin-bottom: 0; }
    .content-detail-news .other-news-right li:last-child {
      border-bottom: none; }
    .content-detail-news .other-news-right li:first-child {
      padding-top: 0; }
  .content-detail-news .other-news-right .info-news {
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0; }
    .content-detail-news .other-news-right .info-news .title-news {
      margin: 5px 0;
      line-height: 22px; }
      .content-detail-news .other-news-right .info-news .title-news a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 16px;
        font-weight: 700; }
    .content-detail-news .other-news-right .info-news .text-alpha, .content-detail-news .other-news-right .info-news .date-time-news {
      margin-bottom: 0; }

.video-lagre.section-who-are-you .videos {
  height: 658px; }
  .video-lagre.section-who-are-you .videos .video-cans {
    height: 658px; }
  .video-lagre.section-who-are-you .videos .overlay {
    height: 658px; }
.video-lagre.section-who-are-you .videos .overlay._active iframe {
  height: 658px; }
.video-lagre.section-who-are-you .item-news {
  margin-bottom: 0;
  padding: 0; }
  .video-lagre.section-who-are-you .item-news .info-news {
    padding: 12px 0 0 0; }
.video-lagre.section-who-are-you .info-news {
  background: transparent;
  padding-left: 0;
  box-shadow: none; }

.featured-video {
  background: #F5F7FB; }
  .featured-video .item-news {
    padding: 0 15px;
    margin-bottom: 0; }
    .featured-video .item-news .avatar-thumb a {
      padding-top: 56%; }
      .featured-video .item-news .avatar-thumb a img {
        border-radius: 4px; }
    .featured-video .item-news .info-news {
      box-shadow: none;
      padding: 12px 0 0 0;
      background: transparent; }
  .featured-video .owl-nav {
    top: 25%; }

.daily-video {
  background: transparent; }
  .daily-video .item-news {
    text-align: left;
    padding: 0; }
    .daily-video .item-news .info-news {
      box-shadow: none;
      padding: 12px 0 0 0;
      background: transparent; }
    .daily-video .item-news .avatar-thumb a img {
      border-radius: 4px; }

.daily-video .playvideo-icon, .featured-video .playvideo-icon {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 50px;
  width: initial !important; }

.featured-video .playvideo-icon {
  top: 45px; }

.contact-form {
  text-align: left;
  background: #F5F7FB;
  padding: 54px 40px;
  border-radius: 0 4px 4px 0; }
  .contact-form h3 {
    font-size: 18px;
    margin-bottom: 20px; }
  .contact-form p {
    font-size: 13px;
    margin-bottom: 30px; }

.contact-page {
  padding-bottom: 0; }
  .contact-page .img-contact img {
    height: 100%; }
  .contact-page .avatar-thumb a {
    padding-top: 120%; }
    .contact-page .avatar-thumb a img {
      border-radius: 4px 0 0 4px; }

textarea {
  padding: 15px !important; }

.location .item-location {
  padding: 30px;
  min-height: 676px; }
  .location .item-location h6 {
    text-align: left;
    color: #0093D8;
    margin-bottom: 30px; }
  .location .item-location .detail {
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px; }
    .location .item-location .detail img {
      position: absolute;
      left: 0;
      top: 3px;
      height: 40px; }
    .location .item-location .detail .content-detail span {
      color: #777;
      font-size: 13px;
      margin-bottom: 5px; }
    .location .item-location .detail .content-detail a {
      color: #222; }
  .location .item-location .contact-detail {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 10px;
    margin-bottom: 30px; }
    .location .item-location .contact-detail:last-child {
      border-bottom: none;
      margin-bottom: 0; }

.content-faqs .search-head input {
  padding-left: 40px; }
  .content-faqs .search-head input::placeholder {
    color: #777;
    opacity: 0.7; }
.content-faqs .search-head i {
  position: absolute;
  left: 27px;
  top: 15px;
  font-size: 18px;
  color: #777;
  opacity: 0.7; }
.content-faqs .panel-group .panel {
  border-radius: 0;
  box-shadow: none; }
.content-faqs .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0; }
.content-faqs .panel-default {
  border-bottom: 1px #E6E6E6 solid; }
  .content-faqs .panel-default:last-child {
    border-bottom: none; }
.content-faqs .panel-title {
  margin-bottom: 0;
  font-weight: 600; }
.content-faqs .panel-title > a {
  padding: 21px 0 21px 0;
  text-decoration: none;
  line-height: 26px;
  font-size: 18px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.content-faqs .more-less {
  float: left;
  margin-left: 20px; }
.content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  margin: 0 0 25px;
  color: #777; }
  .content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body ul {
    padding-left: 15px; }
    .content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body ul li {
      margin-bottom: 8px; }

.download-page .list-download .detail {
  position: relative;
  margin-bottom: 20px;
  padding: 35px 220px 35px 40px; }
  .download-page .list-download .detail h4 {
    font-size: 20px;
    margin-bottom: 20px; }
  .download-page .list-download .detail p {
    margin-bottom: 0; }
  .download-page .list-download .detail .btn-download {
    position: absolute;
    right: 40px;
    top: 35px; }

.modal-dialog .modal-header {
  display: initial; }
.modal-dialog h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px; }
.modal-dialog p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px; }

.page-not-found {
  margin-top: 100px; }
  .page-not-found p {
    font-size: 20px;
    max-width: 50%;
    margin: 0 auto; }

.content-search .item-search {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .content-search .item-search a {
    color: #222;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; }
    .content-search .item-search a:hover {
      color: #0093D8; }
  .content-search .item-search span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; }

.career-page .item-career {
  margin-bottom: 50px;
  text-align: left; }
  .career-page .item-career img {
    height: 80px; }
  .career-page .item-career h4 {
    margin: 30px 0 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; }
  .career-page .item-career p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; }

.customer-feedback {
  background: #F5F7FB; }
  .customer-feedback .row {
    align-items: center; }
  .customer-feedback h2 {
    color: #0093D8;
    padding-left: 60px;
    position: relative; }
    .customer-feedback h2::before {
      width: 50px;
      height: 37px;
      background: url(../images/quoute.svg) no-repeat center !important;
      background-size: contain !important;
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: -9px; }
  .customer-feedback .owl-dots {
    display: none; }
  .customer-feedback .owl-next {
    right: 20px; }
    .customer-feedback .owl-next::before {
      width: 50px;
      height: 50px;
      background: url(../images/next-btn.svg) no-repeat center !important;
      background-size: contain !important;
      font-size: 0; }
  .customer-feedback .owl-prev {
    left: 20px; }
    .customer-feedback .owl-prev::before {
      width: 50px;
      height: 50px;
      background: url(../images/pre-btn.svg) no-repeat center !important;
      background-size: contain !important;
      font-size: 0; }
  .customer-feedback .owl-item {
    padding: 0 50px; }
  .customer-feedback .item-customer {
    background: #FFFFFF;
    border-radius: 28px;
    padding: 40px;
    position: relative;
    min-height: 415px; }
    .customer-feedback .item-customer::before {
      width: 600px;
      height: 300px;
      background: url(../images/img-bg-customer.svg) no-repeat center !important;
      background-size: contain !important;
      content: " ";
      position: absolute;
      left: -48px;
      top: 56px;
      z-index: -1; }
    .customer-feedback .item-customer p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 6; }
    .customer-feedback .item-customer .box-information {
      margin-top: 50px; }
      .customer-feedback .item-customer .box-information img {
        width: 60px;
        height: 60px;
        border-radius: 100%; }
      .customer-feedback .item-customer .box-information h6 {
        margin: 15px 0 5px 0;
        color: #0093D8;
        font-size: 18px; }
      .customer-feedback .item-customer .box-information p {
        color: #777; }

.we-hiring .scrollbar {
  height: 750px; }
.we-hiring .item-career {
  text-align: left;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .we-hiring .item-career p {
    color: #777;
    margin-bottom: 0; }

.file-upload-w-file-name [type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%; }
.file-upload-w-file-name [type=file] + label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  text-align: left;
  padding: 12px;
  width: 100%;
  margin: 0;
  position: relative;
  background: white;
  color: #777;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  height: 48px; }
  .file-upload-w-file-name [type=file] + label img {
    margin-right: 5px; }

.box-404 img {
  width: 100%;
  height: 100%;
  max-height: 500px; }

.page-not-found p {
  max-width: 100%; }

.menu-tab-blogs.menu-scroll {
  top: 103px;
  width: 100%; }

/*# sourceMappingURL=hanh.css.map */
