@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #0093D8;
$brand-2: #EB1C24;
$text:#222;
$text-alpha:#777;
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.breadcrumbs i{
	margin-right: 10px;
}
.head-page .head-title-page {
    
    text-align: center;
    margin: 0 auto;
}
.head-page::after{
	opacity: 0.8 !important;
}
a:hover{
	color: $brand;
}
// list cate news
.menu-tab-blogs{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
	
	ul{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 7px;
		margin: 0;
		padding-bottom: 0;
		.no-sub{
			padding:10px;
			margin: 0 40px;
			a:hover{
				color: $brand;
			}
			&.active{
				a{
					color: $brand;
				}
				border-bottom: 2px solid $brand;
			}
			
		}
		li{
			list-style: none;
			a{
				font-size: 18px;
				font-weight: 700;
				color: $text;
				text-transform: uppercase;
			}
		}
	}
}

.news-list-cate-news{
	padding-bottom: 0;
	.item-news{
		.info-news{
			background: transparent;
			box-shadow: none;
			padding: 15px 0 0 0;
		}
		.desc-news{
			-webkit-line-clamp: 3;
		}
		.avatar-thumb{
			a{
				img{
					border-radius: 4px;
				}
			}
		}
	}
	
}

.date-time-news span {
    margin-right: 5px !important;
}

.title-cate-item{
	text-transform: uppercase;
	font-size: 12px;
	color: $text-alpha;
}
.item-news{
	.text-alpha{
		margin-bottom: 0;
	}
	
	.title-news{
		margin: 5px 0;
	}
	.date-time-news{
		margin-bottom: 0;
	}
	.desc-news{
		margin-top: 10px;
	}
}
.hot-news{
	background: $bg-gray;
	float: left;

	
}

.detail-cate-news{
	padding-bottom: 0;
	// padding-top: 30px;
	.title-section{
		h2{
			margin-bottom: 0;
		}
	}
	.itemnews-large{
		height: 100%;
		align-items: center;
		&.lagre-news{
			.desc-news{
				font-size: 16px;
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
			}
			.title-news a {
				font-size: 24px;
				line-height: 28px;
				color: $text;
			}
		}
		.avatar-thumb{
			a{
				img{
					border-radius:  4px;
				}
			}
		}
		.info-news{
			h3{
				margin: 5px 0;
			}
		}
		.text-alpha  {
			margin-bottom: 0;
		}
		.date-time-news{
			margin-bottom: 20px;
		}
		.desc-news {
			margin-bottom: 0;
		}
		
	}
	 
}
.list-detail-cate-news{
	padding-bottom: 0;
}
.item-orther-categories{
	background: #FFFFFF;
	box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	
	padding:  25px;
	margin-bottom: 30px;
	
	h4{
		margin-bottom: 0;
		a{
			@include webkit-line-clamp();
			-webkit-line-clamp: 1;
			font-size: 18px;
			color: $text;
			&:hover{
				color: $brand;
			}
		}
	}

}
.other-categories{
	.col-md-4{
		&:nth-child(odd){
			.item-orther-categories{
				border-left: 8px solid $brand;
			}
		}
	}
}
.other-categories{
	.col-md-4{
		&:nth-child(even){
			.item-orther-categories{
				border-left: 8px solid $brand-2;
			}
		}
	}
}
.headpage-detail-news{
	
	margin-top: 130px;
	.breadcrumbs{
		position: inherit;
		a{
			color: $text-alpha;
		}
		i{
			color: $text-alpha;
		}
		// .breadrums-pag-detail{
		// 	@include webkit-line-clamp;
		// 		-webkit-line-clamp: 1;
		// }
	}
}
.none-overflow{
	overflow: inherit;
}
.content-detail-news{
	.show-sticky{
		top: 140px;
	}
	.box-sticky-scroll{
		background: #FFFFFF;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 30px 20px;
		h5{
			margin-bottom: 15px;
			font-size: 18px;
			line-height: 29px;
			text-transform: uppercase;
		}
		ul{
			padding-left: 30px;
			margin-bottom: 0;
			li{
				margin-bottom: 5px;
				a{
					color: $text;
					font-size: 14px;
					font-weight: 500;
				}
			}
			.li-sub{
				list-style: none;
    			padding-left: 20px;
				a{
					opacity: 0.8;
					font-size: 13px;
					font-family: inherit;
					font-weight: normal;
				}
			}
		}
	}
	img{
		border-radius: 4px;
	}
	.list-tags-news {
		a{
			border: 1px solid $brand;
			border-radius: 30px;
			color: $brand;
			font-size: 14px;
			padding: 1px 20px;
			line-height: 28px;
			margin: 10px 10px 10px 0;
    		display: inline-block;
		}
	}
	.other-news-right{
		background: #FFFFFF;
		border: 1px solid $border;
		box-shadow: none;
		ul{
			padding-left: 0;
		}
		li{
			list-style: none;
			margin-bottom: 0;
			&:last-child{
				border-bottom: none;
			}
			&:first-child{
				padding-top: 0;
			}
			
		}
		.info-news{
			border-bottom: 1px solid $border;
			padding: 20px 0;
			
			.title-news  {
				margin: 5px 0;
				line-height: 22px;
				a{
					@include webkit-line-clamp();
					-webkit-line-clamp: 2;
					font-size: 16px;
					font-weight: 700;
				}
			}
			.text-alpha, .date-time-news {
				margin-bottom: 0;
			}		
		}
	}
}
// video
.video-lagre.section-who-are-you{
	.videos{
		height: 658px;
		.video-cans{
			height: 658px;
		}
		.overlay{
			height: 658px;
			
		}
	
	}
	.videos .overlay._active iframe{
		height: 658px;
	}
	.item-news{
		margin-bottom: 0;
		padding: 0;
		.info-news{
			padding: 12px 0 0 0;
		}
	}
	.info-news{
		background: transparent;
		padding-left: 0;
		box-shadow: none;
	}
}
.featured-video{
	background: $bg-gray;
	.item-news{
		padding: 0 15px;
		margin-bottom: 0;
		.avatar-thumb{
			a{
				padding-top: 56%;
				img{
					border-radius: 4px;
				}
			}
		}
		.info-news{
			box-shadow: none;
			padding: 12px 0 0 0;
			background: transparent;
		}
	}
	.owl-nav{
		top: 25%;
	}
}
.daily-video{
	background: transparent;
	.item-news{
		text-align: left;
		padding: 0;
		.info-news{
			box-shadow: none;
			padding: 12px 0 0 0;
			background: transparent;
		}
		.avatar-thumb{
			a{
				img{
					border-radius: 4px;
				}
			}
		}
	}
	

}
.daily-video, .featured-video{
	.playvideo-icon{
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 50px;
		width: initial !important;
	}
}
.featured-video{
	.playvideo-icon{
		top: 45px;
	}
}
.contact-form{
	text-align: left;
	background: $bg-gray;
	padding: 54px 40px;
	border-radius: 0 4px 4px 0;
	h3{
		font-size: 18px;
		margin-bottom: 20px;
	}
	p{
		font-size: 13px;
		margin-bottom: 30px;
	}
}
.contact-page{
	.img-contact{
		img{
			height: 100%;
		}
	}
	
	.avatar-thumb{
		a{
			padding-top: 120%;
			img{
				border-radius: 4px 0 0 4px;
			}
		}
	}
	padding-bottom: 0;
}
textarea {
    padding: 15px !important;
	
}
.location{
	
	.item-location{
		padding: 30px ;
		min-height: 676px;
		h6{
			text-align: left;
			color: $brand;
			margin-bottom: 30px;
		}
		.detail {
			position: relative;
			padding-left: 60px;
			margin-bottom: 20px;
			img{
				position: absolute;
				left: 0;
				top: 3px;
				height: 40px;
			}
			.content-detail{
				span{
					color: $text-alpha;
					font-size: 13px;
					margin-bottom: 5px;
				}
				a{
					color: $text;
				}
				
			}

		}
		.contact-detail{
			border-bottom: 1px solid $border;
			padding-bottom: 10px;
			margin-bottom: 30px;
			&:last-child{
				border-bottom: none;
				margin-bottom: 0;
			}
		}
	}
}
// content-faqs
.content-faqs{
	.search-head{
		input{
			padding-left: 40px;
			&::placeholder{
				color: #777;
				opacity: 0.7;
			}
		}
		i{
			position: absolute;
			left: 27px;
			top: 15px;
			font-size: 18px;
			color: #777;
			opacity: 0.7;
		}
	}
	.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        
      }
    
      .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        
      }
      .panel-default{
        border-bottom: 1px $border solid;
		&:last-child{
			border-bottom: none;
			
		}
      }
    
      .panel-title {
        margin-bottom: 0;
        font-weight: 600;
      }
    
      .panel-title > a {
		padding: 21px 0 21px 0;
        text-decoration: none;
        line-height: 26px;
        font-size: 18px;
		color: $text;
        display: flex;
        align-items: center;
		justify-content: space-between;
      }
    
      .more-less {
        float: left;
		margin-left: 20px;
        
      }
    
      .panel-default > .panel-heading + .panel-collapse > .panel-body {
        font-size: 16px;
        margin: 0 0 25px;
		color: $text-alpha;
		ul{
			padding-left: 15px;
			li{
				margin-bottom: 8px;
			}
		}
      }
}
// download-page
.download-page{
	.list-download{
		.detail{
			position: relative;
			margin-bottom: 20px;
			padding: 35px 220px 35px 40px;
			h4{
				font-size: 20px;
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 0;
			}
			.btn-download{
				position: absolute;
				right: 40px;
				top: 35px;
			}
		}
	}
}
.modal-dialog{
	.modal-header{
		display: initial;
	}
	h3{
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}
	p{
		font-size: 13px;
		text-align: center;
		margin-bottom: 10px;
	}
}
// page-not-found
.page-not-found{
	margin-top: 100px;
	p{
		font-size: 20px;
		max-width: 50%;
		margin: 0 auto;
	}
	
}
// content-search
.content-search{
	.item-search{
		border-bottom: 1px solid $border;
		padding-bottom: 30px;
		margin-bottom: 30px;
		a{
			color: $text;
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 15px;
			@include webkit-line-clamp();
				-webkit-line-clamp: 2;
				&:hover{
					color: $brand
				}
		}
		span{
			@include webkit-line-clamp();
				-webkit-line-clamp: 3;
		}
	}
}
// career-page
.career-page{
	.item-career{
		margin-bottom: 50px;
		text-align: left;
		img{
			height: 80px;
		}
		h4{
			margin: 30px 0 15px 0;
			@include webkit-line-clamp();
				-webkit-line-clamp: 2;
		}
		p{
			@include webkit-line-clamp();
				-webkit-line-clamp: 3;
		}
	}
}
// customer-feedback 
.customer-feedback {
	background: $bg-gray;
	.row{
		align-items: center;
	}
	h2{
		color: $brand;
		padding-left: 60px;
		position: relative;
		&::before{
			width: 50px;
			height: 37px;
			background: url(../images/quoute.svg) no-repeat center !important;
			background-size: contain !important;
			content: " ";
			display: block;
			position: absolute;
			left: 0;
			top: -9px;
		}
	}
	.owl-dots{
		display: none;
	}
	.owl-next{
		right: 20px;
		&::before{
			width: 50px;
			height: 50px;
			background: url(../images/next-btn.svg) no-repeat center !important;
			background-size: contain !important;
			font-size: 0;
			
		}
	}
	.owl-prev{
		left: 20px;
		&::before{
			width: 50px;
			height: 50px;
			background: url(../images/pre-btn.svg) no-repeat center !important;
			background-size: contain !important;
			font-size: 0;
			
		}
	}
	.owl-item{
		padding: 0 50px;
	}
	.item-customer{
		background: #FFFFFF;
		border-radius: 28px;
		padding: 40px;
		position: relative;
		min-height: 415px;
		&::before{
			width: 600px;
			height: 300px;
			background: url(../images/img-bg-customer.svg) no-repeat center !important;
			background-size: contain !important;
			content: " ";
			position: absolute;
			left: -48px;
    		top: 56px;
			z-index: -1;
		}
		p{
			@include webkit-line-clamp();
				-webkit-line-clamp: 6;
		}
		.box-information{
			margin-top: 50px;
			img{
				width: 60px;
				height: 60px;
				border-radius: 100%;
			}
			h6{
				margin: 15px 0 5px 0;
				color: $brand;
				font-size: 18px;
			}
			p{

				color: $text-alpha;
			}
		}
	}
}
// we-hiring
.we-hiring{
	.scrollbar{
		height: 750px;
	}
	.item-career{
		text-align: left;
		border-bottom: 1px solid $border;
		padding-bottom: 20px;
		margin-bottom: 20px;
		p{
			color: $text-alpha;
			margin-bottom: 0;
		}
	}
}
.file-upload-w-file-name{
	[type=file] {
		position: absolute;
		filter: alpha(opacity=0);
		opacity: 0;
		width: 100%;
	}
	[type=file] + label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	  border-radius: 4px;
	  text-align: left;
	  padding: 12px;
	  width: 100%;
	  margin: 0;
	  position: relative;
	  background: white;
	  color: $text-alpha;
	  border: 1px solid $border;
	  cursor: pointer;
	  height: 48px;
	  img{
		margin-right: 5px;
	  }
	}
	
}
.box-404 img{
	width: 100%;
	height: 100%;
	max-height: 500px;
}
.page-not-found p {
    max-width: 100%;
}
.menu-tab-blogs.menu-scroll{
    top: 103px;
    width: 100%;
}

