
.timeline{
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    overflow: auto;
}
.timeline .ship{
    position:absolute;
    top:80px;
    left:0;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    left:50%;
    z-index:3;
}
.timeline ul{
    position:relative;
    transition:transform .5s linear;
}
.timeline li{
    width: 30%;
    text-align: left;
    display: inline-block;
    position: relative;
    margin-right: -7px;
    white-space: normal;
    vertical-align: top;
}
.timeline li:before{
    content:"";
    display:inline-block;
    width:14px;
    height:14px;
    border-radius:50%;
    background-color:#777;
    position:absolute;
    top:28px;
    z-index:2;
   
}
.timeline li .year{
    opacity:.5;
    font-size: 16px;
}

.timeline li.next-step .year,.timeline li.next-step p,.timeline li.prev-step .year,.timeline li.prev-step p{
    opacity:.5;
}
.timeline li.active:before{
    width:10px;
    height:10px;
    border: 3px solid #5ec9fa;
    background-color:#0093D8;
    -webkit-transform:scale(1.8);
    -moz-transform:scale(1.8);
    -ms-transform:scale(1.8);
    -o-transform:scale(1.8);
    transform:scale(1.8);
}
.timeline li.active .year{
    color: #0093D8;
    opacity:1;
    font-weight: 600;
    font-size: 16px;
}
.timeline li.active p{
    opacity:1;
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
    transform:none;
    text-align: left;
}
.timeline li p{
    opacity:.5;
    -webkit-transition:opacity .3s cubic-bezier(.25,.46,.45,.94);
    -moz-transition:opacity .3s cubic-bezier(.25,.46,.45,.94);
    transition:opacity .3s cubic-bezier(.25,.46,.45,.94);
    padding-right: 30px;
    display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;

}
.timeline li p span{
    font-weight: 500;
    font-size: 15px;
}
.timeline li:after{
    content: "";
    position: absolute;
    top: 33px;
    left: -5px;
    margin-left: 3px;
    width: 100%;
    height: 1.5px;
    background-color: #0093D8;
    z-index: 1;
}
.timeline li:last-child:after{
    display:none;
}
.timeline li .year{
    transform: translateY(50px);
    margin-bottom: 55px;
    font-size: 16px;
    display:block;
    -webkit-transition:-webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
    -moz-transition:-moz-transform .3s cubic-bezier(.25,.46,.45,.94);
    transition:transform .3s cubic-bezier(.25,.46,.45,.94);
}
.timeline__cursor{
    position:absolute;
    top:80px;
    left:50%;
    z-index:3;
    margin:0 0 0 15px;
    transform:translate(-50%);
}
@media screen and (min-width:768px){
    .timeline__cursor{
        top:95px;
    }
}

