@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@media only screen and (max-width: 1025px) {
  header {
    padding: 10px 5px; }
    header .logo img {
      height: 45px; }
    header .menu nav ul li a {
      padding: 0 15px; }
    header .menu nav ul li::before {
      top: 12px; }

  .slider-home .item .infor-slide {
    top: calc(40% - 67px); }

  .slider-product-home .owl-nav {
    top: 25%; }

  .owl-prev {
    left: 0 !important; }

  .owl-next {
    right: 0 !important; }

  section {
    padding: 30px 0; }

  .head-page {
    min-height: 300px; }

  .video-page {
    padding: 30px;
    min-height: 300px; }
    .video-page .icon-video img {
      height: 80px; }

  .product-features .row {
    margin-top: 10px; }
  .product-features ul li {
    padding-left: 50px;
    margin: 10px 0; }
    .product-features ul li img {
      height: 35px; }
  .product-features.pro-information .img-features img {
    padding-right: 0; }

  .daily-video .playvideo-icon {
    top: 25%; }

  .scroll-about-body {
    overflow-x: initial !important; }

  .timeline-history {
    display: initial;
    padding: 0 0 0 0; }
    .timeline-history .fix-position {
      border-top: 0;
      border-left: 1px solid #0093D8;
      padding: 0 15px 15px 15px; }
      .timeline-history .fix-position span::before {
        left: -8px;
        top: 8px; }

  .customer-feedback .item-customer::before {
    width: 540px; }

  .contact-page .avatar-thumb a {
    padding-top: 141%; }

  .timeline {
    padding: 20px 10px; }
    .timeline br {
      display: block; }
    .timeline li {
      width: 50%; }
      .timeline li p {
        padding-right: 15px; }

  .div-info-thinking {
    margin-top: 20px; } }
@media only screen and (max-width: 950px) {
  h1 {
    font-size: 30px !important; }

  h2 {
    font-size: 26px !important; }

  h3 {
    font-size: 22px !important; }

  h4 {
    font-size: 18px !important; }

  h5 {
    font-size: 16px !important; }

  h6 {
    font-size: 15px !important; }

  p {
    font-size: 14px !important; }

  br {
    display: none; }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block; }

  header {
    padding: 10px; }
    header .logo img {
      height: 40px; }
    header .top-head {
      padding: 0 10px 0 0; }
      header .top-head .language-box {
        margin-left: 0; }
      header .top-head .phone-box {
        display: none; }
    header .content-head-right {
      padding-right: 10px;
      margin-bottom: 3px; }
      header .content-head-right .btn-action {
        margin-right: 20px; }
        header .content-head-right .btn-action a {
          padding: 5px 10px;
          height: 40px;
          font-size: 13px; }
    header .menu-mobile {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block; }
      header .menu-mobile i {
        font-size: 24px;
        color: #0093D8; }
      header .menu-mobile .ti-menu {
        display: block; }
      header .menu-mobile .close-menu-6 {
        display: none; }
    header .menu {
      display: none; }
    header.show-menu .menu {
      display: block;
      position: fixed;
      left: 0;
      top: 61px;
      width: 100%;
      height: 100%;
      background: white;
      border-top: 0;
      padding: 0 !important;
      scroll-behavior: smooth;
      transition: all 0.2s ease-in-out; }
      header.show-menu .menu nav ul {
        display: inline-block !important;
        width: 100%; }
        header.show-menu .menu nav ul li {
          width: 100%; }
          header.show-menu .menu nav ul li a {
            width: 100%;
            display: inline-block;
            font-size: 16px !important;
            color: #222; }
          header.show-menu .menu nav ul li ul {
            transition: unset; }
    header.show-menu .menu-mobile .ti-menu {
      display: none; }
    header.show-menu .menu-mobile .close-menu {
      display: block; }
    header.show-menu nav {
      display: inline-block !important;
      width: 100%; }
      header.show-menu nav ul li::before {
        font-size: 16px;
        right: 20px;
        top: 10px;
        color: #222; }
      header.show-menu nav ul li:hover ul {
        position: relative;
        top: 0 !important;
        width: 100% !important;
        box-shadow: none;
        border-radius: 0;
        background: #046e4508;
        transition: unset;
        border-top: 1px solid #2A6BBC; }

  .list-news-system .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .slider-home .item h1 {
    width: 100%;
    margin: 0 auto 10px auto; }

  .section-who-are-you .content-about {
    margin: 0; }
    .section-who-are-you .content-about .col-md-3, .section-who-are-you .content-about .col-md-9 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .section-who-are-you .content-about .description-about {
      padding: 40px 0; }
  .section-who-are-you .videos {
    height: 300px; }
    .section-who-are-you .videos .overlay._active iframe {
      height: 415px; }
    .section-who-are-you .videos .video-cans {
      height: 300px; }

  .list-news-home .col-md-7, .list-news-home .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .call-to-action {
    min-height: inherit;
    padding: 50px 0; }

  footer .about-company-footer {
    padding-right: 20px; }

  .head-page {
    margin-top: 60px; }

  .vision-mission .vision-item {
    min-height: inherit;
    padding-left: 118px; }
    .vision-mission .vision-item img {
      top: 12px !important;
      height: 65px; }

  .content-facilities {
    padding-left: 0; }
    .content-facilities .avatar-thumb {
      position: inherit;
      top: 0;
      width: 100%;
      float: left; }
    .content-facilities .detail-facilities {
      min-height: inherit; }
    .content-facilities.facilities-02 {
      padding-right: 0;
      display: flex;
      flex-direction: column-reverse; }
      .content-facilities.facilities-02 .detail-facilities {
        min-height: inherit; }

  .box-certificates {
    min-height: inherit; }
    .box-certificates img {
      height: 70px; }

  .list-partners img {
    height: 50px; }

  .contact-page-product .form-connection {
    margin-top: 20px; }
  .contact-page-product .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .col-nav-sidebar {
    padding: 30px 20px; }

  .content-detail-news .show-sticky {
    top: 80px; }

  .daily-news .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .video-lagre.section-who-are-you .videos {
    height: 418px; }
    .video-lagre.section-who-are-you .videos .overlay {
      height: 418px; }
      .video-lagre.section-who-are-you .videos .overlay._active iframe {
        height: 418px; }
    .video-lagre.section-who-are-you .videos .video-cans {
      height: 418px; }

  .customer-feedback .item-customer::before {
    width: 400px; }

  .download-page .col-md-3, .download-page .col-md-9, .contact-page .col-md-3, .contact-page .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .download-page .col-nav-sidebar, .contact-page .col-nav-sidebar {
    padding: 20px;
    margin-bottom: 10px; }
    .download-page .col-nav-sidebar ul, .contact-page .col-nav-sidebar ul {
      display: flex;
      overflow-x: scroll;
      height: auto;
      white-space: nowrap;
      width: 100%;
      flex-wrap: unset;
      justify-content: left;
      margin-bottom: 0; }
      .download-page .col-nav-sidebar ul li, .contact-page .col-nav-sidebar ul li {
        width: 100%;
        padding-right: 20px; }
  .download-page .list-download .detail, .contact-page .list-download .detail {
    padding: 35px 200px 35px 40px; }
    .download-page .list-download .detail .btn-download, .contact-page .list-download .detail .btn-download {
      right: 10px; }

  .contact-page .row .avatar-thumb a {
    padding-top: 56%; }
  .contact-page .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 15px !important; }

  .location .col-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .location .item-location {
    min-height: inherit;
    margin-bottom: 15px; }

  .slider-project-detail.page-project-detail .lSSlideOuter .lSPager.lSGallery {
    bottom: 5px; } }
@media only screen and (max-width: 767px) {
  section {
    padding: 20px 0; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 25px;
    height: 25px; }

  .tab-system .nav-tabs {
    justify-content: left !important; }
    .tab-system .nav-tabs .nav-link {
      width: 100%; }

  .item-news.lagre-news .avatar-thumb {
    width: 100% !important;
    position: inherit; }

  .item-news {
    padding-left: 140px !important;
    min-height: auto !important;
    margin-bottom: 20px; }
    .item-news .info-news {
      padding-top: 0;
      padding-right: 0;
      background-color: transparent;
      box-shadow: none;
      padding: 0; }
      .item-news .info-news .desc-news {
        display: none; }
    .item-news .avatar-thumb {
      top: 5px; }
      .item-news .avatar-thumb a {
        padding-top: 72%; }
    .item-news .title-news {
      margin-bottom: 3px;
      margin-top: 0;
      line-height: 20px !important;
      -webkit-line-clamp: inherit; }
      .item-news .title-news a {
        font-size: 14px; }
    .item-news .date-time-news {
      margin-bottom: 0; }
      .item-news .date-time-news span {
        font-size: 11px; }
    .item-news .avatar-thumb {
      width: 130px !important;
      position: absolute;
      left: 0;
      top: 8px; }
      .item-news .avatar-thumb img {
        border-radius: 4px !important; }
    .item-news.lagre-news {
      padding-left: 0 !important; }
      .item-news.lagre-news .avatar-thumb {
        width: 100% !important;
        position: inherit; }
        .item-news.lagre-news .avatar-thumb a {
          padding-top: 56%; }
      .item-news.lagre-news .info-news {
        padding-top: 15px !important; }
        .item-news.lagre-news .info-news .desc-news {
          display: block; }
      .item-news.lagre-news .title-news a {
        font-size: 16px !important;
        margin-bottom: 10px; }

  .title-cate-item {
    font-size: 10px; }

  header .menu nav ul li {
    padding-bottom: 8px; }
    header .menu nav ul li ul li {
      padding: 5px 0; }
      header .menu nav ul li ul li a {
        transition: unset !important; }
        header .menu nav ul li ul li a:hover {
          padding-left: 0; }
  header .top-head .language-box {
    margin-right: 50px; }
  header .top-head .social-box {
    display: none; }
  header .search-head {
    display: none; }
  header .btn-search-mb {
    position: absolute;
    top: 20px;
    right: 58px;
    display: block; }
    header .btn-search-mb i {
      font-size: 18px;
      color: #858585; }
    header .btn-search-mb .close-search-10 {
      display: none; }
  header .ti-search-mb {
    display: block;
    font-weight: 600; }
  header.show-search-mb .close-search-10 {
    display: block; }
  header.show-search-mb .ti-search-mb {
    display: none; }
  header.show-search-mb .search-head {
    display: block;
    position: fixed;
    left: 0;
    top: 61px;
    width: 100%;
    margin: 0; }
    header.show-search-mb .search-head input {
      border-radius: 0;
      background-color: white;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
      border: 0;
      height: 50px; }
    header.show-search-mb .search-head .ti-search {
      display: none; }

  .img-banner-pc {
    display: none; }

  .slider-home {
    margin-top: 60px; }
    .slider-home .item h1 {
      font-size: 26px !important;
      line-height: 30px;
      padding: 0 30px; }
    .slider-home .item .img-banner-mb {
      display: block; }
    .slider-home .item .infor-slide p {
      display: none; }

  .section-who-are-you .description-about {
    padding: 0 !important; }
  .section-who-are-you .videos {
    height: 195px; }
    .section-who-are-you .videos .overlay._active iframe {
      height: 195px; }
    .section-who-are-you .videos .video-cans {
      height: 195px; }

  .slider-product-home .owl-nav {
    top: 30%; }
  .slider-product-home .owl-next {
    right: 0; }
  .slider-product-home .owl-prev {
    left: 0; }
  .slider-product-home .item {
    padding: 5px 15px; }
    .slider-product-home .item .info-slider-home h6 {
      min-height: inherit; }
      .slider-product-home .item .info-slider-home h6 a {
        -webkit-line-clamp: inherit; }

  .project-refernce {
    padding-top: 10px; }

  .title-section .desc-title {
    max-width: 100%; }

  .list-news-home .news-left {
    padding-right: 0;
    margin: 15px 0 10px 0; }
  .list-news-home .news-right {
    padding-left: 50px  !important;
    border-top: 1px solid #e6e6e6;
    padding-top: 15px; }
    .list-news-home .news-right .stt-news {
      top: 15px; }

  footer {
    padding-top: 20px; }
    footer ul {
      margin-top: 10px !important; }
      footer ul li a {
        margin-bottom: 5px;
        font-size: 12px; }

  .title-footer {
    margin: 10px 0 5px 0; }

  .head-page .head-title-page {
    max-width: 100%; }

  .vision-mission .vision-item {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }

  .div-info-thinking .info-thinking {
    padding: 25px 20px 20px 20px;
    text-align: center;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #F5F7FB; }
    .div-info-thinking .info-thinking h3::before {
      left: -10px;
      top: 5px;
      width: 52px;
      height: 52px; }
  .div-info-thinking .ceo-name {
    text-align: center; }

  .detail-facilities {
    padding: 30px; }

  .box-certificates {
    min-height: inherit;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    height: inherit; }

  .list-partners {
    margin-top: -10px; }
    .list-partners img {
      height: 25px;
      margin: 10px 3px; }

  .listproduct .col-md-3 {
    width: 50%; }
  .listproduct .item-product {
    padding: 15px 5px; }
    .listproduct .item-product a {
      -webkit-line-clamp: inherit;
      line-height: 22px;
      font-size: 16px; }

  .head-page .head-title-page p {
    display: none; }

  .form-connection {
    padding: 40px 20px; }

  .product-features .img-features img {
    padding-left: 0; }

  .video-page {
    text-align: center;
    padding: 20px; }
    .video-page p {
      display: none; }

  .slider-project-detail .lSSlideOuter .lSPager.lSGallery li {
    height: 40px; }
  .slider-project-detail .lSPager.lSGallery li img {
    height: 30px !important; }

  .section-pro-related .slider-product-home {
    margin-top: 0; }

  .page-list-project .col-md-6 {
    width: 50%; }
  .page-list-project .item-news {
    padding-left: 0 !important; }
    .page-list-project .item-news .avatar-thumb {
      width: 100% !important;
      position: inherit; }

  .col-nav-sidebar {
    padding: 15px 20px;
    margin-bottom: 20px; }
    .col-nav-sidebar ul {
      display: flex;
      overflow-x: scroll;
      height: auto;
      white-space: nowrap;
      width: 100%;
      flex-wrap: unset;
      justify-content: left;
      margin-bottom: 0; }
      .col-nav-sidebar ul li {
        width: 100%;
        padding-right: 15px; }

  .news-list-cate-news .item-news .info-news {
    padding: 0; }

  .content-detail-news .row {
    flex-direction: column-reverse; }
  .content-detail-news .box-scroll.show-sticky {
    margin-bottom: 15px; }
  .content-detail-news .box-sticky-scroll {
    padding: 18px 20px; }
    .content-detail-news .box-sticky-scroll h5 {
      font-size: 16px;
      line-height: 14px;
      margin-bottom: 6px; }
  .content-detail-news .list-tags-news a {
    font-size: 13px;
    padding: 6px 10px;
    line-height: 20px;
    margin: 5px 5px 5px 0; }
  .content-detail-news .other-news-right {
    margin-top: 15px; }
    .content-detail-news .other-news-right .info-news {
      padding: 5px 0; }
      .content-detail-news .other-news-right .info-news .title-news a {
        -webkit-line-clamp: inherit;
        font-size: 14px; }

  .headpage-detail-news {
    margin-top: 80px; }

  .daily-news .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .video-lagre.section-who-are-you .videos {
    height: 216px; }
    .video-lagre.section-who-are-you .videos .overlay {
      height: 216px; }
      .video-lagre.section-who-are-you .videos .overlay._active iframe {
        height: 216px; }
    .video-lagre.section-who-are-you .videos .video-cans {
      height: 216px; }

  .featured-video .slider-product-home .item-news {
    padding-left: 0 !important; }
  .featured-video .slider-product-home .avatar-thumb {
    width: 100% !important;
    position: inherit; }

  .daily-video .item-news .info-news {
    padding: 0 0 0 10px; }

  .section-certificates .col-md-3 {
    width: 50%; }

  .customer-feedback h2 {
    margin-bottom: 20px; }
  .customer-feedback .owl-item {
    padding: 0 20px; }
  .customer-feedback .item-customer::before {
    display: none; }

  .we-hiring .scrollbar {
    height: inherit; }

  .career-page .row.mt-50 {
    margin-top: 10px; }
  .career-page .item-career {
    position: relative;
    padding-left: 75px;
    margin-bottom: 10px; }
    .career-page .item-career h4 {
      margin: 20px 0 15px 0; }
    .career-page .item-career img {
      height: 60px;
      position: absolute;
      left: 0;
      top: 0; }

  .contact-form {
    padding: 30px 20px; }

  .download-page .list-download .detail {
    padding: 20px 15px 20px 20px; }
    .download-page .list-download .detail .btn-download {
      position: initial;
      margin-top: 15px; }

  .content-detail-project {
    padding-right: 0; }

  .page-project-detail {
    margin-top: 60px;
    margin-bottom: 5px; }

  .detail-cate-news .itemnews-large .date-time-news {
    margin-bottom: 10px !important; }

  .item-orther-categories {
    padding: 20px;
    margin-bottom: 15px; }
    .item-orther-categories h4 a {
      font-size: 16px; }

  .featured-video .slider-product-home {
    margin-top: -25px; }

  .daily-video .playvideo-icon {
    top: 30%;
    height: 35px; }

  .menu-tab-blogs ul li {
    padding: 5px 10px 10px 0; }
    .menu-tab-blogs ul li a {
      font-size: 15px; }

  .menu-tab-blogs.menu-scroll {
    top: 61px; }

  .video-page .modal-dialog {
    max-width: 100%; }
    .video-page .modal-dialog iframe {
      height: inherit; }

  .featured-video .playvideo-icon {
    top: 75px; } }
@media only screen and (max-width: 320px) {
  .slider-home .item h1 {
    font-size: 20px !important; }

  header.show-search-mb .search-head {
    top: 60px; }

  footer ul {
    margin: 8px 0 !important; }
  footer .hot-contact .phone-box {
    padding-left: 35px; }
    footer .hot-contact .phone-box img {
      height: 25px;
      top: 10px; }
    footer .hot-contact .phone-box span {
      font-size: 12px; }
    footer .hot-contact .phone-box a {
      font-size: 18px; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 20px;
    height: 20px;
    font-size: 12px; }

  .customer-feedback .owl-item {
    padding: 0 20px; } }

/*# sourceMappingURL=responsive.css.map */
