
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$border: #E6E6E6;
$bg-gray: #F3F6FE;
$brand: #0093D8;
$brand-2: #EB1C24;
$text:#222;
$text-alpha:#777;
@import "hanh";
body {
	font-family: 'Inter', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.5;
}
.container{
	max-width: 1200px;
	margin: auto;
}
a{
	&:hover{
		text-decoration: none;
	}
}
  *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
h1{
	font-size: 45px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 45px;
		font-weight: 700;
	}
}
h2{
	font-size: 32px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 32px;
		font-weight: 700;
	}
}
h3{
	font-size: 28px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 28px;
		font-weight: 700;
	}
}
h4{
	font-size: 24px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 24px;
		font-weight: 700;
	}
}
h5{
	font-size: 22px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 22px;
		font-weight: 700;
	}
}
h6{
	font-size: 20px;
	font-weight: 700;
	a, b , strong, p, label  {
		font-size: 20px;
		font-weight: 700;
	}
}
p, strong, b, i{
	font-size: 16px;
}
span{
	font-size: 13px;
}

label{
	font-size: 14px;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
// img{
// 	width: 100%;
// }

section{
	padding: 40px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.none-overflow{
	overflow: initial;
}
.box-shadow{
	background: #FFFFFF;
	box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.title-section {
	h2 {
		display: inline-block;
		width: 100%;
		
	}
	.desc-title{
		margin: 5px 0;
		color: $text-alpha;
		font-size: 18px;
		max-width: 80%;
		margin: 0 auto 20px auto;
	}

}
.title-page{
	display: inline-block;
	width: 100%;
}
.btn-action{
	display: inline-block;
	width: 100%;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	button{
		outline: none;
	}
}

button{
	border: 0;
	&:focus{
		outline: none;
	}
}
[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: unset;
	}
.btn-common-fill,
.btn-common-line,
input[type=button],
input[type=submit], .btn-common-fill2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 0 24px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	color: white;
	height: 48px;
	line-height: 24px;
	font-size: 13px;
	border-radius: 48px;
	text-transform: uppercase;
	min-width: 170px;
	width: fit-content;
	&:hover {
		opacity: 0.9;
		color: white;
	}

	i,
	img, svg {
		font-weight: 600;
		margin-left: 10px;
		width: 16px;
	}

}
.btn-common-line{
	background-color: transparent !important;
	color: $brand !important;
	border: 1px solid $brand !important;
}
.btn-common-fill2{
	background-color: $brand-2 !important;
	color: #fff !important;
	border: 1px solid $brand-2 !important;
}
.center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.text-main{
	color: $text;
}
.text-brand{
	color: $brand;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-alpha{
	color: $text-alpha;
}
.btn.focus, .btn:focus{
	box-shadow: none;
}
a{
	text-decoration: none;
}
.fw-normal{
	font-weight: normal;
}

.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
/* -------------- Scrollbar-------------------- */
.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}
::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 1px;
	height: 0;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #ffffff;
}
/* -------------- Input / textarea -------------------- */
textarea{
	height: 147px !important;
}
input, select, textarea{
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	width: 100%;
	padding: 5px 15px;
	height: 48px;
	font-size: 14px;
	color: $text;
	&::placeholder{
		color: $text-alpha;
	}
	&:focus{
		border: 1px solid $brand;
	}

}
::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}


 
/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}
.check-radio-custom [type="radio"]:checked+label{
	color: $brand !important;
}
.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-weight: normal;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid $border;
	border-radius: 100%;
	background: #fff;
}
.check-radio-custom [type="radio"]:checked + label::before{ 
	border: 1px solid $brand !important;
}
.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.form-control:focus {
    border-color: $brand;
    outline: 0;
    box-shadow: none;
}
/*------------ Custom select box -------------*/
.custom-select {
	height: 50px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: white;
	display: flex;
	align-items: center;
}
.select-items {
    overflow-y: auto !important;
    max-height: 250px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: $text-alpha;
	top: 15px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
}
.select-selected{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
}
/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	max-height: 140px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #EBF2FD;
}

/* ----------------------- Modal----------------------- */

.modal-dialog.modal-dialog-medium {
    max-width: 1000px;
}
.modal-dialog.modal-dialog-large {
    max-width: 100%;
}
.modal{
	padding: 80px 0;
	.submit-login-out{
		width: 100%;
	}
}

.modal-content{
    margin: auto;
	border: 0;
	border-radius: 4px;
	padding: 40px;
}
.modal-dialog {
	max-width: 560px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
	justify-content: center;

}
.modal-body{
	padding: 0;
}
.modal-header {
	padding: 0 10px;
	border-bottom: 0;
	justify-content: center;
	.close{
		position: absolute;
		right: 30px;
		font-size: 30px;
		padding: 10px;
		top: 20px;
		color: $text-alpha;
		opacity: 1;
		i{

		font-size: 20px;
		font-weight: 600;
		}
		&:hover{
			outline: none;
		}
	}
}
.modal-title{
	font-weight: 600;
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				display: flex;
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				text-decoration: none;
				color: $text;
				padding: 4px;
				font-weight: 500;
				align-items: center;
				justify-content: center;
				
				&.active {
					color: $brand;
					background-color: #fff;
					padding-top: 5px;
					border-radius:4px;
					border: 1px solid $brand;
				}
			}

			&:hover {
				a {
					opacity: 0.9;
				}
			}
		}
	}
}
/*------------- Custom slider slider --------------*/

.owl-nav{
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 40%;
	span{
		opacity: 0;
		display: none;
	}
}
.owl-carousel{
	.item{
		padding: 20px;
		.item-news{
			margin-bottom: 0;
		}
		
	}
}
.owl-theme .owl-dots .owl-dot {
	height: inherit;
}
.owl-prev{
	position: absolute;
	left: 0;
	top: 50%;
	&::before{
		content: "\e64a";
		font-family: 'themify';
		display: block;
		font-size: 40px;
		color: $text-alpha;
		
	}
  }
  .owl-next{
	position: absolute;
	right: 0;
	top: 50%;
	&::before{
		content: "\e649";
		font-family: 'themify';
		display: block;
		font-size: 40px;
		color: $text-alpha;
		
	}
	
  }
  .owl-theme .owl-nav [class*=owl-]:hover{
	  background: transparent;
  }
  .owl-theme .owl-nav {
	margin-top: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: $brand !important;
}
/*------------- Custom tab content --------------*/
.tab-system{
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border-color: transparent;
	}

	.nav-tabs{
		border-bottom: 1.5px solid $border;
		justify-content: center;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		.nav-link{
			font-weight: 600;
			width: 25%;
			text-align: center;
			span{
				font-size: 14px;
			}
		}
	}
	.nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background-color: transparent;
		border-bottom: 1.5px solid $brand;
		color: $brand;
	}
	
	.tab-content{
		margin: 20px 0;
	}
	.nav-tabs .nav-item {
		margin-bottom: 0;
		padding: 15px ;
		color: $text;
		font-weight: normal;
	}
}
/*------------- Custom editor  --------------*/
.editor-body{
	ul, ol{
		padding-left: 15px;
	}
	span, p, b, strong, label, i{
		font-size: initial ;
		width: initial;
		height: initial;
		font-weight: initial;
	}
	h1, h2, h3, h4, h5, h6{
		font-size: initial;
		width: initial;
		font-weight: initial;
		height: initial;
		span, p, b, strong, label, i, a{
		font-size: initial;
		width: initial;
		font-weight: initial;
		height: initial;
		}
	}
	img{
		max-width:100% ;
		margin: 15px 0;
		}
	}
/*------------- News --------------*/ 
.item-news {
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
	.info-news {
		padding: 20px;
		background: #FFFFFF;
		box-shadow: -2px 9px 14px rgba(0, 0, 0, 0.09);
		border-radius: 0 0 4px 4px;
		a span, span{
			color: $text-alpha;
		}
	}
	&.lagre-news{
		.desc-news{
			font-size: 16px;
		}
		.title-news  {
			font-size: 24px;
			line-height: 28px;
		}
	} 
	.avatar-thumb {
		display: block;
		a {
			img {
				border-radius: 4px 4px 0 0;
			}
		}
	}
	.title-news {
		margin-bottom: 5px;
		line-height: 22px;
		font-size: 16px;
		font-weight: 700;
		@include webkit-line-clamp();
		&:hover{
			color: $brand;
		}
		a{
			color: $text;
			font-size: 16px;
		}
	}
	.desc-news {
		@include webkit-line-clamp();
		min-height: 46px;
		font-size: 14px;
		margin-bottom: 0;
	}
}
.date-time-news {
	margin-bottom: 10px;
	color: $text-alpha;
	font-size: 13px;
	span{
		margin-right: 0 !important;
	}
	img{
		width: 20px;
		margin-right: 7px;
	}
	.date-news::after {
		content: '-';
		display: inline-block;
		margin-left: 5px;
	}
}
/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    top: 100px;
}
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	background: #fff;


}

/* --------------  Header -------------- */
header {
			display: inline-block;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99;
			-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			transition: all .2s linear;
			padding: 10px 30px;
			background: #fff;	
			border-bottom: 1px solid $border;
			.top-head{
				width: 100%;
				padding: 5px 0;
			
				.language-box{
					display: inline-block;
					margin-left: 20px;
					position: relative;
					img{
						height: 20px;
						cursor: pointer;
						margin-right: 7px;
					}
					ul{
						position: absolute;
						left:-15px;
						top: 0;
						width: 100px;
						display: inline-block;
						padding-top: 30px;
						opacity: 0;
						visibility: hidden;
						z-index: 2;
						li{
							opacity: 1 !important;
							display: inline-block;
							width: 100%;
							text-align: left;
							a{
								background: white;
								padding: 15px;
								box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.13);
								border-radius: 5px;
								color: #212529;
								width: 100%;
								display: inline-block;
								opacity: 1 !important;
								img{
									height: 20px;
									margin-right: 7px;
								}
								
								&:hover{
									opacity: 1 !important;
									color: $brand;
								}
								
							}
						}
					}
					&:hover{
						cursor: pointer;
						ul{
							opacity: 1;
							visibility: initial;
						}
					}
				}
			}
		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}	
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;
			text-align: left;
			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0 0 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 12px;
							color: $text;
							z-index: 3;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 14px;
							font-weight: 500;
							color: $text;
							display: flex;
							align-items: center;
						
						}
						
						ul {
							position: absolute;
							width: 290px;
							left: 0;
							top: 32px;
							border-radius: 0 0 4px 4px;
							border-top: 1px solid$brand;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 10px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 8px 0;
									font-size: 14px;
									color: $text;
									border-bottom: 1px solid #e6e6e6a6;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 4px;
										color: $text-alpha;
									}
									
								}
								&:last-child{
									a{
										border-bottom: 0;
									}
								}

							}

						}

						&:hover {
							&::before {
								color: $brand;
							}
							a{
								color: $brand;
							}
							ul {
								opacity: 1;
								visibility: initial;
								li a{
									color: $text;
									&:hover{
										color: $brand;
									}
								}
								
							}
						}

						&.active {
							&::before{
								color: $brand;
							}
							a {
								color: $brand;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $brand;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.btn-search-mb{
			display: none;
		}
		.search-head {
			position: relative;
			display: inline-block;
			margin: 0 20px;
			input {
				border: 1px solid #E6E6E6;
				height: 40px;
				width: 100%;
				background-color: #fff;
				border-radius: 4px;
				padding: 0 15px 0 15px;
				padding-right: 30px;
				&::placeholder{
					opacity: 0.7;
				}
				&:focus{
					border: 1px solid $brand;
				}
			}
			i {
				position: absolute;
				right: 10px;
				top: 13px;
				color: #858585;
				font-size: 18px;
				opacity: 0.7;
			}
		}
		.logo{
			float: left;
			img{
				height: 70px;
			}
		}
		.content-head-right{
			float: right;
			text-align: right;
		}
		.menu-mobile{
			display: none;
			.ti-menu{
				display: none;
			}
			 .close-menu{
				 display: none;
			 }
		 }
	
	}
	.social-box {
		display: inline-block;
		margin: 0 10px;
		a{
			color: $text;
			margin: 0 10px;
		}
	}
	.phone-box {
		display: inline-block;
		img{
			margin-right: 5px;
		}
		span {
			color: $brand;
			font-size: 18px;
			font-weight: 600;
		}
	}
/* --------------  End Header -------------- */

/* --------------  Slider homepage -------------- */

.slider-home{
	margin-top: 100px;
	.owl-prev{
		left: 5%;
		&::before{
			color: #fff;
			
		}
	}
	.owl-next{
		right: 5%;
		&::before{
			color: #fff;
		}
	}
    .item{
		position: relative;
		padding: 0;
        .infor-slide{
            top: calc(50% - 67px);
            position: absolute;
			width: 100%;
			text-align: center;
			z-index: 1;
			p{
				color: #fff;
				font-size: 18px;
				width: 50%;
				margin: 0 auto;
			}
        }
        h1{
			width: 80%;
			font-weight: 600;
			line-height: 47px;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			margin: 0 auto 20px auto;
        }
       .img-banner-mb{
		   display: none;
	   }
	   .img-banner-mpc{
		   display: block;
	   }
        img{
           width: 100%;
		}
		.btn-common-fill2{
			margin:  20px auto;
		}
		&::after{
			background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
			opacity: 0.6;
			height: 100%;
			content: '';
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: 0;
		}
    }
    .owl-dots{
        display: block !important;
        display: inline-block;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 10px;
        button{
            margin: 0 2px;
            span{
                width: 12px !important;
                height: 12px !important;
                border-radius: 50%;
				display: block;
				background: transparent !important ;
				border: 1px solid #fff ;
                content: '';
            }
            &.active{
                span{
					background: #fff !important;
					border: 0;
                }
            }
        }
	}
	
}
/* --------------  Section who are you -------------- */
.section-who-are-you{
	.row{
		align-items: center;
	}
	.content-about {
		width: 100%;
		background-color: $brand;
		margin-top: 30px;
		.description-about {
			height: 100%;
			color: #fff;
			.btn-common-line{
				border: 1px solid #fff !important;
				color: #fff !important;
			}
			.content-desc{
				padding: 30px;
			}
		}
	}
	.videos{
		width: 100%;
		height: 495px;
		.video-cans {
			
			display: inline-block;
			width: 100%;
			position: relative;
			background-size: cover !important;
			height: 495px;
			cursor: pointer;
			img {
			  width: 100%;
			}
		  }
		
		.close-bg-video {
			position: absolute;
			right: -50px;
			top: -10px;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			text-align: center;
			font-weight: normal;
			border: 0;
			font-size: 20px;
			outline: none;
			z-index: 9999999;
			background-color: white;
		  }
		  .current_page_item {
			a {
			  color: $brand;
			}
		  }
		  
		  .overlay {
			width: 100%;
			margin: 0 auto;
			height: 495px;
			display: none;
		  
			&._active {
			  display: block;
			  iframe {
				width: 100%;
				height: 495px;
			  }
			}
		  }
	}
}
.slider-product-home{
	.avatar-thumb a {
		padding-top: 100%;
	}
	.item{
		padding: 20px 30px;
		.info-slider-home{
			padding-top: 30px;
			h6{
				min-height: 60px;
				a{
					color: $text;
					font-size: 18px;
					font-weight: 600;
					@include webkit-line-clamp();
				}
			}
			ul {
				margin-top: 20px;
				li{
					list-style: none;
					position: relative;
					padding-left: 25px;
					display: block;
					margin-bottom: 15px;
					min-height: 30px;
					img{
						width: inherit;
						height: 20px;
						position: absolute;
						left: 0;
					}
					a{
						color: $text-alpha;
						font-size: 14px;
					}
				}
			}
		}
		&:hover{
			transition: all .3s ease-in-out;
			background: #FFFFFF;
			box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
			border-radius: 4px;
		}
		
	}
	.owl-dots{
		display: none;
	}
	.owl-next{
		right: -35px;
	}
	.owl-prev{
		left: -35px;
	}
	&.owl-carousel .owl-stage-outer{
		padding-bottom: 40px;
		padding-top: 20px;
	}
}
.slider-project-home{
	&.owl-carousel{
		
		.item{
			padding: 0;
			
		}
	} 
	.owl-nav{
		display: block !important;
	}
	.owl-dots{
		display: none;
	}
	.owl-prev::before, .owl-next::before {
		color: #fff;
	}
}
.list-project{
	.item-list{
		&:hover{
			.info-nm{
				background: linear-gradient(180deg, rgba(0, 147, 216, 0) 0%, rgba(0, 147, 216, 0.921875) 76.56%, #0093D8 100%);
			}
			.detail-info{
				max-height: 300px;
			}
			
		}
	}
	.info-nm{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 30px 30px;
		color: #ffffff;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		.btn-common-line{
			border: 1px solid #fff !important;
			color: white !important;
			&:hover{
				background-color: $brand !important;
				border: 1px solid transparent !important;
				color: #fff !important;
			}
		}
		
	}
	.detail-info{
		max-height: 0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		overflow: hidden;
	}
	.item-list{
		position: relative;
		color: white;
		h2 a{
			color: white;
			font-size: 24px;
		}
		
		.avatar-thumb a{
			padding-top: 90%;
		}
	}
		
}
.list-news-home{
	.info-news{
		box-shadow: none;
	}
	.title-cate-item{
		text-transform: inherit;
	}
	.news-left{
		padding-right: 320px;
		margin: 15px 0 30px 0;
		position: relative;
		display: inline-block;
		width: 100%;
		
		.desc-news{
			@include webkit-line-clamp();
			-webkit-line-clamp: 3;
			line-height: 24px;
			font-size: 14px;
			margin-top: 10px;
		}
		.info-news{
			padding-top: 0;
		}
		.avatar-thumb{
			position: absolute;
			right: 15px;
			top: 0;
			width: 280px;
			a img{
				border-radius: 4px;
			}
		}
	}
	
	.news-right{
		padding-left: 50px;
		margin: 10px 0 5px 0;
		position: relative;
		display: inline-block;
		width: 100%;
		.stt-news{
			font-size: 30px;
			color: $brand;
			position: absolute;
			left: 0;
			top: 0;
			line-height: initial;
			font-weight: 600;
		}
		.info-news{
			padding-top: 0;
		}
		.title-news{
			margin-top: 0;
		}
	}
}
.call-to-action{
	background-size: cover !important;
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
	justify-content: center;
	min-height: 438px;
	.content-action{
		text-align: center;
		color: #fff;
		max-width: 70%;
		margin: 0 auto;
		a{
			margin: 0 auto;
		}
	}
}
footer{
	padding: 50px 0 20px 0;
	border-top: 1px solid $border;
	clear: both;
	.title-footer{
		a{
			color: $text;
			font-weight: 600;
		}
	}
	.about-company-footer{
		padding-right: 50px;
		img{
			height: 50px;
		}
		p{
			font-size: 14px;
			margin-top: 20px;
			opacity: 0.8;
		}
	}
	
	ul li {
		list-style: none;
		a {
			color: $text;
			width: 100%;
			display: inline-block;
			margin-bottom: 6px;
			font-size: 13px;
			opacity: 0.8;
		}
	}
	.hot-contact{
		display: flex;
		align-items: center;
		.social-box{
			margin-left: 0;
			a{
				display: inline-block;
    			margin-left: 0;
			}
			img{
				height: 30px;
			}
		}
		
		.phone-box{
			position: relative;
			padding-left: 55px;
			img{
				height: 40px;
				position: absolute;
				left: 0;
				top: 5px;
			}
			span{
				font-size: 14px;
				font-weight: normal;
				display: inline-block;
				width: 100%;
			}
			a{
				font-size: 22px;
				font-weight: 600;
				color: $brand;
				line-height: initial;
			}
		}
	}
}
/* ------------------- Page about ------------------ */
.breadcrumbs {
	position: absolute;
	top: 25px;
	z-index: 1;

i {
	color: white;
	font-weight: 600;
	font-size: 13px;
}

	a {
		color: white;
		font-size: 13px;
	}
}
.head-page {
    position: relative;
    background-size: cover !important;
    min-height: 500px;
    text-align: center;
    color: white;
	margin-top: 103px;
	&::after{
		background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
		opacity: 0.6;
		height: 100%;
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		z-index: 0;
	}
	.head-title-page{
		z-index: 1;
		position: relative;
		max-width: 70%;
		margin: 0 auto;
    	text-align: center;
		text-transform: uppercase;
		p{
			text-transform: initial;
			font-size: 18px;
		}
	}
	
}
.intro-vison {
	font-weight: normal;
	text-align: center;
	line-height: 30px;
	margin: 30px 0 40px 0;
	font-size: 20px;
	img{
		height: 20px;
		padding: 0 10px;
		margin-bottom: 5px;
	}
}
.vision-mission{
    .vision-item{
        	background: #FFFFFF;
            position: relative;
			box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
			border-radius: 4px;
            padding: 20px 15px;
            padding-left: 150px;
            min-height: 175px;
			line-height: 26px;
			display: flex;
			align-items: center;
        img{
            position: absolute;
            left: 20px;
			top: 40px;
			height: 90px;
        }
        p{
			font-size: 14px;
			color: $text-alpha;
			line-height: 24px;
		}
		.infor-vision h4{
			font-weight: 500;
		}
    }
}
.div-info-thinking{
	margin-top: 50px;
	img{
		width: 100%;
		border-radius: 4px;
	}
	.info-thinking{
		position: relative;
		padding-left: 80px;
		h3{
			color: $brand;
			font-style: italic;
			margin-bottom: 20px;
			&::before{
				background: url(../images/ic-quote.svg) center top no-repeat;
				position: absolute;
				content: '';
				display: inline-block;
				left: 0;
				top: 0;
				width: 72px;
				height: 72px;

			}
		}
	}
}
.ceo-name{
	text-align: right;
	h4{
		color: $brand;
		margin-bottom: 5px;
		font-size: 18px;
	}
	p{
		color: $text-alpha;
	}
}
.content-facilities{
	position: relative;
	padding-left: 528px;
	.avatar-thumb{
		position: absolute;
		left: 0;
		top: 47px;
		width: 528px;
		a{
			padding-top: 73%;
		}
	}
	&.facilities-02{
		padding-left: 0;
		padding-right: 528px;
		.avatar-thumb{
			right: 0;
			left: inherit;
			top: 0;
		}
		.detail-facilities{
			background-color: #8C8B8D;
			min-height: 382px;
		}
	}
	&:last-child{
		.detail-facilities{
			background-color: #F3F6FE;
			color: $text;
		}
		.avatar-thumb{
			top: 0;
		}
	}
}
.detail-facilities{
	background-color: $brand;
	padding: 30px 50px;
	color: #fff;
	min-height: 430px;
	display: flex;
    height: 100%;
	align-items: center;
	h4{
		margin-bottom: 20px;
	}
}
.box-certificates{
	background: #FFFFFF;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 5px;
	text-align: center;
	min-height: 250px;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
	p{
		font-size: 18px;
		font-weight: 500;
		min-height: 60px;
		margin-bottom: 0;
	}
	img{
		height: 90px;
		margin-bottom: 20px;
	}
}
.list-partners{
	display: inline-block;
    width: 100%;
    text-align: center;
	img{
		height: 80px;
		margin: 10px 20px;
	}
	.owl-nav{
		display: none;
	}
}
.bg-gray{
	background-color: $bg-gray;
}
.section-histoy{
	position: relative;
	float: left;
	clear: both;
	img{
		position: absolute;
		bottom: 0;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		width: 100%;
	}
}
.timeline-history{
	
	margin-top: 30px;
	width: 100%;
	display: flex;
	position: relative;
	padding: 30px 30px 100px 30px;

	.fix-position{
		padding: 30px 0 0 30px;
		cursor: pointer;
		border-top: 1px solid $brand;
		position: relative;
		span{
			font-size: 18px;
			color: $text-alpha;
			margin-top: 30px;
			font-weight: 600;
			&::before{
				z-index: 1;
				content: '';
				display: inline-block;
				width: 16px;
				height: 16px;
				background: $text-alpha;
				border-radius: 50%;
				position: absolute;
				top: -8px;
			}
		}
		p {
			color: $text-alpha;
			line-height: 26px;
			margin-top: 15px;
			span{
				font-weight: 600;
				font-size: 16px;
			}
		}
		
		&.active{
			p{
				color: $text;
			}
			span{
				color: $brand;
				&::before{
					background: $brand;
					border: 4px solid #93d0edba;
				}
			}
		
		}
	}
	
}
.page-service{
	img{
		border-radius: 4px;
	}
}
.listproduct {
    display: inline-block;
	width: 100%;
	padding: 20px 0;
	.item-product{
		text-align: center;
		padding: 30px 15px;
		border: 1px solid #fff;
		transition: all .3s ease-in-out;
		&:hover{
			border: 1px solid $brand;
			box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
			border-radius: 4px;
			p a{
				color: $brand;
			}
		}
		.avatar-thumb a {
			position: relative;
			padding-top: 150%;
			margin-bottom: 10px;
			img{
				border-radius: 4px;
			}
		}
			margin-bottom: 0;
			a{
				font-size: 18px;
				font-weight: 600;
				color: $text;
				@include webkit-line-clamp();
			
		}
	}
}
.contact-page-product{
	img{
		border-radius: 4px;
		width: 100%;
		margin-bottom: 20px;
	}
	p span{
		font-weight: 600;
		font-size: 18px;
	}
}
.form-connection{
    padding:40px;
    background: $bg-gray;
	.title-head{
		font-size: 18px;
		text-transform: uppercase;
	}
  .description-title{
	  color: $text-alpha;
  }
}
.product-features{
	.row{
		align-items: center;
		margin-top: 30px;
	}
	ul li{
		list-style: none;
		position: relative;
		padding-left: 80px;
		width: 100%;
		display: inline-block;
		margin: 15px 0;
		h6{
			font-size: 18px;
			font-weight: normal;
		}
		span{
			color: $text-alpha;
		}
		img{
			position: absolute;
			left: 0;
			top: 0;
			height: 50px;
		}
	}
	
	.img-features img{
		width: 100%;
		border-radius: 4px;
		padding-left: 20px;
	}
	&.pro-information{
		.img-features img{
			padding-left: inherit;
			padding-right: 20px;
			margin-bottom: 30px;
			p{
				margin: 20px 0;
			}
		}
	}
}
.video-page{
    padding: 130px 0;
	margin-top: 50px;
	color: #fff;
	min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
	p{
		max-width: 80%;
		margin-top: 20px;
	}
    .icon-video {
		text-align: center;
		img{
			cursor: pointer;
			height: 100px;
			
		}
	}
	.modal-dialog {
		margin: 0 auto;
		background: none;
		box-shadow: none;
		border-radius: 0;
		max-width: 70%;
		.modal-body, .modal-content {
			padding: 15px;
		}
		iframe {
			width: 100%;
			height: 565px;
		}
	
	}
	.close{
		position: absolute;
		right: -5px;
		top: -10px;
	}
}
.slider-project-detail{
	margin: 30px 0;
	.lSSlideOuter {
		.lslide a {
		  &:hover{
			opacity: 1;
		  }
		}
		img {
			border: 0;
			width: 100%;
			border-radius: 4px;
			padding: 0;
		}
	}
	.lSSlideOuter .lSPager.lSGallery {
		margin: 0 auto !important;
		li{
			height: 90px ;
			img{
				padding: 0;
				height: 100%;
				border-radius: 4px;
				
			}
			&.active img {
				padding: 0;
				border: 1px solid $brand !important;
			}
		}
	}
	ul li {
		padding: 0 !important;
		margin: 0;
		img{
			height: 100% !important;
			border-radius: 4px;
		}
	}
	&.page-project-detail{
		.lSSlideOuter .lSPager.lSGallery {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;
			li img{
				border: 1px solid #fff;
			}
		}
	}
} 

.section-pro-related {
	background-color: $bg-gray;
	clear: both;
    float: left;
	.slider-product-home{
		margin-top: 30px;
		.item{
			border: 1px solid transparent;
			padding: 30px 15px;
			text-align: center;
			margin: 0 10px;
			.info-slider-home h6 {
				min-height: inherit;
			}
			&:hover{
				border: 1px solid $brand;
				box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
			}
			.avatar-thumb{
				a{
					padding-top: 150%;
					margin-bottom: 10px;
				}
			}
		}
		.info-slider-home{
			padding-top: 0;
		}
	}
}
.page-list-project{
	.avatar-thumb a img{
		border-radius: 4px;
	}
	.item-news {
		margin-bottom: 15px;
		.info-news {
			box-shadow: none;
			padding: 15px 0 0;
			p{
				margin-top: 5px;
			}
		  }
	}
	
}
.col-nav-sidebar{
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	text-align: left;
	  ul{
		  padding: 0;
		  margin-bottom: 0;
		  li{
			  list-style: none;
			  a{
				  font-size: 14px;
				  padding: 10px 0;
				  position: relative;
				  display: inline-block;
				  color: $text-alpha;
				  font-weight: 500;
				  width: 100%;
			  }
			  &:hover, &.active{
				  a{
					  color: $brand;
					 
				  }
			  }
		  }
	  }
}
.hover-scale {
    a {
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden;
  
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
      }
    }
  
    &:hover {
      img {
        webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
  .page-project-detail{
	position: relative;
	margin-top: 103px;
	.avatar-thumb a {
		padding-top: 40%;
		img{
			border-radius: 0;
		}
	}
	.lSSlideWrapper{
		&::after{
			background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
			opacity: 0.6;
			height: 99%;
			content: '';
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: 0;
		}
	}
	.lSAction{
		.lSPrev{
			background: url(../images/controls-right.png) no-repeat;
			right: 0;
			width: 50px;
			height: 50px;
			left: inherit;
		}
		.lSNext{
			background: url(../images/controls-left.png) no-repeat;
			left: 0;
			width: 50px;
			height: 50px;
			right: inherit;
		}
	}
  }
  .content-detail-project{
	  padding-right: 30px;
	  h1{
		  color: $brand;
	  }
  }
  .detail-project-right{
	.box-scale {
		border-radius: 4px;
		background: $brand;
		color: white;
		position: relative;
		overflow: hidden;
		z-index: 1;
	  &::after {
		background: url(../images/pattern-head.png) center top no-repeat;
		height: 100%;
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		z-index: 0;
		background-size: cover;
		opacity: 0.09;
	}
	  p{
		  margin-bottom: 0;
		  text-transform: uppercase;
	  }
		a {
			font-size: 45px;
			font-weight: 600;
			margin-right: 6px;
		}
	  .content-box-blue{
		  padding: 30px;
	  }
		.box-project-scale {
			padding: 8px 0;
			&:last-child{
				p{
					margin-bottom: 10px;
				}
				span{
					font-size: 16px;
				}
			}
		}
	  }
  }
  .slider-project-related{
	.item {
		padding: 20px 10px;
		.avatar-thumb a {
			padding-top: 66%;
		}
		.desc-news {
			min-height: inherit;
		}
		
		
	}
	.owl-nav {
		top: 32%;
	}
	.owl-prev {
		left: -40px;
	}
	.owl-next {
		right: -40px;
	}
	.owl-dots{
		display: none;
	}
  }
 .list-detail-cate-news{
	.info-news {
		padding: 15px 20px 20px 15px;
	}
 }