@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
$border: #D9D9D9;
$bg-gray: #F3EDE0;
$brand: #9F6C38;
$brand-2: #3F3B3B;
$text:#3F3B3B;
$text-alpha:#757575;
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.breadcrumbs i{
	margin-right: 10px;
}
.head-page .head-title-page {
    
    text-align: center;
    margin: 0 auto;
}
.head-page::after{
	opacity: 0.8 !important;
}
a:hover{
	color: $brand;
}

.none-overflow{
	overflow: inherit;
}
.content-detail-news{
	.show-sticky{
		top: 140px;
	}
	.box-sticky-scroll{
		background: #FFFFFF;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 30px 20px;
		h5{
			margin-bottom: 15px;
			font-size: 18px;
			line-height: 29px;
			text-transform: uppercase;
		}
		ul{
			padding-left: 30px;
			margin-bottom: 0;
			li{
				margin-bottom: 5px;
				a{
					color: $text;
					font-size: 14px;
					// font-weight: 500;
				}
			}
			.li-sub{
				list-style: none;
    			padding-left: 20px;
				a{
					opacity: 0.8;
					font-size: 13px;
					font-family: inherit;
					font-weight: normal;
				}
			}
		}
	}
	
}

// content-faqs
.content-faqs{
	
	.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        
      }
    
      .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        
      }
      .panel-default{
        border-bottom: 2px $border solid;
		&:last-child{
			border-bottom: none;
			
		}
      }
    
      .panel-title {
		position: relative;
		margin-bottom: 0;
		padding: 20px 20px 20px 0;
      }
    
      .panel-title > a {
		
        text-decoration: none;
        line-height: 24px;
        font-size: 18px;
		color: $text;

      }
    
      .more-less {
        float: left;
		margin-left: 20px;
		font-size: 16px;
		position: absolute;
		right: 0;
		top: 23px;
		font-weight: 600;
      }
    
      .panel-default > .panel-heading + .panel-collapse > .panel-body {
        font-size: 16px;
		line-height: 24px;
        margin: 0 0 20px;
		color: $text;
		padding-left: 24px;
		opacity: .8;
		ul{
			padding-left: 24px;
			li{
				margin-bottom: 8px;
			}
		}
      }
}
.show-search-mb{
	.search-head{
		input{
			width: 100%;
			font-size: 16px !important;
			&:focus{
				border: inherit !important;
			}
		}
	}
}

.modal-dialog{
	.modal-header{
		display: initial;
	}
	h3{
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}
	p{
		font-size: 13px;
		text-align: center;
		margin-bottom: 10px;
	}
}
// page-not-found
.page-not-found{
	margin-top: 100px;
	p{
		font-size: 20px;
		max-width: 50%;
		margin: 0 auto;
	}
	
}

// career-page
.moitruong-lamviec{
	.item-career{
		margin-bottom: 50px;
		text-align: left;
		img{
			height: 80px;
		}
		h4{
			margin: 24px 0 10px 0;
			@include webkit-line-clamp();
				-webkit-line-clamp: 2;
		}
		p{
			max-width: 85%;
			margin-bottom: 0;
			opacity: .8;
			// @include webkit-line-clamp();
			// 	-webkit-line-clamp: 3;
		}
	}
}

// we-hiring
.we-hiring{
	.scrollbar{
		height: 750px;
	}
	.item-career{
		text-align: left;
		border-bottom: 1px solid $border;
		padding-bottom: 20px;
		margin-bottom: 20px;
		p{
			color: $text-alpha;
			margin-bottom: 0;
		}
	}
}
.file-upload-w-file-name{
	[type=file] {
		position: absolute;
		filter: alpha(opacity=0);
		opacity: 0;
		width: 100%;
	}
	[type=file] + label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	  border-radius: 4px;
	  text-align: left;
	 
	  margin: 0;
	  position: relative;
	  background: white;
	  color: $text-alpha;
	 
	  cursor: pointer;
	  

	  border: 2px solid #D9D9D9;
	  border-radius: 4px;
	  width: 100%;
	  padding: 10px 15px;
	  height: 40px;
	  font-size: 14px;
	  line-height: 20px;
	  img{
		margin-right: 5px;
	  }
	}
	
}
.box-404 img{
	width: 100%;
	height: 100%;
	max-height: 500px;
}
.page-not-found p {
    max-width: 100%;
}
.menu-tab-blogs.menu-scroll{
    top: 103px;
    width: 100%;
}

// TRANG CHỦ//
.content-head-right{
    display: flex;
	align-items: center;
}
.language-box{
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
		&::after{
			content: "\e5c5";
			color: $text-alpha;
			font-size: 24px;
			font-family: 'Material Symbols Outlined';
		}
		a{
			span{
				color: $text;
				font-size: 14px;
			}
		}

}
.btn-catalogue{
	margin-right: 10px;
	img{
		width: 24px !important;
	}
}
.btn-hosonangluc{
	&::after{
		content: "\e873";
		// color: $brand;
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
		margin-left: 10px;
	}
}
.btn-header{
	display: flex;
}
// footer// 
footer{
	.about-company-footer{
		.contact-main-footer{
			display: flex;
			align-items: center;
			p{
				font-size: 14px;
				margin: 0;
			}
			a{
				display: flex;
				align-items: center;
				
				
				img{
					height: 20px;
					margin-right: 3px;
				}
			}
			.contact-phone{
				margin: 0 14px;
				font-size: 16px;
				color: $brand;
			}
			.contact-mail{
				font-size: 14px;
				color: $text;
			}
		}
		.location{
			p{
				font-size: 14px;
				line-height: 20px;
				text-transform: inherit;
				margin: 9px 0 0 0;
			}
		}
		.social{
			margin-top: 25px;
			a{
				img{
					height: inherit;
				}
			}
		}
	}
	.title-footer{
		text-transform: capitalize;
		font-size: 18px;
		margin-bottom: 15px;
	}
	
}
//slider-home
.slider-home{
	margin-top: 117px;
	&::after{
		content: none;
	}
	.img-sliders{
		width: 60%;
		.img-banner-pc{
			img{
				height: 700px;
			}
		}
	}
	.infor-slide{
		background: $bg-gray;
		width: 40%;
		padding: 130px 35px 60px 50px;
	}
	.item{
		display: flex;
		min-height: 700px;
	}
}
//box-head-page
.box-head-page{
	background: $brand;
	padding: 30px 0;
	.box-item{
		position: relative;
		padding-left: 50px;
		border-right: 1px solid #ffffff2b;
		
		background: transparent;
		
		margin-bottom: 0;
		border-left: 0;
		border-top: 0;
		border-bottom: 0;
		border-radius: 0;
		.icon-box-head{
			position: absolute;
			left: 0;
			top: 50%;
			height: 55px;
			transform: translateY(-50%);
		}
		.box-text{
			color: white;
			margin-left: 30px;
			h2{
				font-size: 32px;
				margin-bottom: 3px;
				display: flex;
				align-items: center;
				span{
					font-size: 24px;
					margin-left: 10px;
				}
			}
			p{
				font-size: 20px;
				margin-bottom: 0;
			}
		}
		
	}
	.col-md-4{
		
			&:last-child {
				.box-item{
					border-right: none;
				}
			}
		
	}
}
// danh-muc-san-pham
.danh-muc-san-pham{
	.content-danhmuc{
		.item-product{
			.avatar-thumb{
				a{
					padding-top: inherit;
					text-align: center;
					img{
						position: relative !important;
						width: 180px;
						height: 180px;
						max-width: 100%;
						border-radius: 100%;
						margin: 0 auto;
						border: 10px solid rgba(217, 217, 217, 0.4);
						
					}
				}
			}
			p{
				margin: 15px auto 0 auto;
				max-width: 75%;
				text-align: center;
				a{
					color: $text;
					font-size: 20px;
					line-height: 24px;
					text-align: center;
					
				}
			}
			&:hover{
				.avatar-thumb{
					a{
						img{
							border: 10px solid #9f6b3861;
							transition: all 0.3s ease-in-out;
						}
					}
				}
				p{
					a{
						color: $brand;
					}
				}
			}
		}
	}
}
// coso-vatchat
.coso-vatchat{
	.content-coso-vatchat{
		align-items: center;
		.avatar-thumb{
			a{
				padding-top: 82%;
				img{
					border-radius: 4px;
				}
			}
			
		}
		.col-md-4{
			margin-top: 30px;
			margin-left: 15px;
		}
		.img-right{
			display: flex;
			align-items: center;
			padding-left: 30px;
		}
		.csvc1{
			cursor: pointer;
			&::before{
				content: "";
				position: absolute;
				width: 570px;
				height: 467px;
				left: 15px;
				top: 0;
				opacity: 0.35;
				border: 10px solid rgba(217, 217, 217, 0.9);
				border-radius: 4px;
				z-index: 1;
			}
			&::after{
				content: "";
				background: url(../images/img-gray.png) no-repeat center top;
				background-size: cover;
				width: 743px;
				// display: block;
				height: 360px;
				top: 75px;
				position: absolute;
				z-index: -1;
				left: -30px;
			}
		}
		.csvc2{
			cursor: pointer;
			margin-bottom: 120px;
			&::before{
				content: "";
				position: absolute;
				width: 330px;
				height: 271px;
				left: 0;
				top: 0;
				opacity: 0.35;
				border: 10px solid rgba(217, 217, 217, 0.9);
				border-radius: 4px;
				z-index: 1;
			}
		}
		.csvc3{
			cursor: pointer;
			margin-bottom: 20px;
			.avatar-thumb{
				a{
					padding-top: 123%;
				}
			}
			&::before{
				content: "";
				position: absolute;
				width: 150px;
				height: 185px;
				left: 15px;
				top: 0;
				opacity: 0.35;
				border: 10px solid rgba(217, 217, 217, 0.9);
				border-radius: 4px;
				z-index: 1;
			}
		}
		.csvc4{
			cursor: pointer;
			.avatar-thumb{
				a{
					padding-top: 123%;
				}
			}
			&::before{
				content: "";
				position: absolute;
				width: 150px;
				height: 185px;
				left: 15px;
				bottom: 7px;
				opacity: 0.35;
				border: 10px solid rgba(217, 217, 217, 0.9);
				border-radius: 4px;
				z-index: 1;
			}
		}
		.line-border-x{
			position: absolute;
			bottom: -17px;
			left: -25px;
		}
		.line-border-y{
			position: absolute;
			bottom: -20px;
			left: -25px;
		}
		.box-border{
			position: relative;
		}
		.line-border-box{
			position: absolute;
			bottom: -40px;
			right: -25px;
			z-index: -1;
		}
	}
}
//vi sao chon shunfa
.visao-chonshunfa{
	background: $bg-gray;
	// margin-top: 40px;
	.content-visao-chonshunfa{
		position: relative;
		padding-right: 643px;
		.content-right{
			.detail{
				position: relative;
				padding-left: 40px;
				border-bottom: 1px solid $border;
				padding-bottom: 20px;
				margin-bottom: 20px;
				&:last-child{
					border-bottom: 0;
					margin-bottom: 0;
				}
				img{
					position: absolute;
					left: 0;
					top: 3%;
					width: 24px;
					height: 24px;
					
				}
				.info{
					h6{
						margin-bottom: 6px;
					}
					p{
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 0;
						opacity: .8;
					}
				}
			}
		}
		.content-left{
			display: flex;
    		align-items: center;
			.item-left{
				width: 40%;
			}
			.item-right{
				width: 60%;
				margin-left: 10px;
			}
		}
		.item1{
			a{
				padding-top: 100%;
			}
		}
		.item2{
			a{
				padding-top: 80%;
				img{
					width: 80%;
					margin-left: 43px;
				}
			}
		}
		.item3{
			a{
				padding-top: 100%;
			}
		}
	}
	.content-img{
		position: absolute;
		left: 50%;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
// khachhang
.khachhang{
	background: #F9F6F3;
	.list-partners{
		display: inline-block;
		width: 100%;
		text-align: center;
		img{
			height: 60px;
			margin: 0 auto;
			width: initial;
			max-width: 100%;
			object-fit: contain;
		}
		.owl-nav{
			display: none;
		}
		
	}
}
// chungnhan-tieuchuan
.chungnhan-tieuchuan{
	.danhsach-chungnhan{
		display: flex;
		width: 100%;
		justify-content: center;
		margin: auto;
		flex-wrap: wrap;
		.box{
			
			border-radius: 4px;
			padding: 20px 24px;
			width: 18%;
			margin: 0 10px 20px 10px;
			float: left;

			text-align: center;
			min-height: 165px;
			display: flex;
			align-items: center;
			height: 100%;
			justify-content: center;
			img{
				height: 50px;
			}
			p{
				color: $brand;
				font-size: 18px;
				margin-bottom: 0;
				margin-top: 20px;
				padding: 0 10px;
			}
		}
	}
}
// tintuc-noibat
.tintuc-noibat-pc{
	display: block;
}
.tintuc-noibat-mb{
	display: none;
}
.tintuc-noibat-mb{
	.logo-backgr-img{
		display: none;
	}
	.row{
		flex-direction: column-reverse;
		.col-md-4{
			flex: 0 0 100%;
			max-width: 100%;
			.tintuc-noibat {
				.chude {
					margin-right: 20px;
				}
			}
		}
		.col-md-8{
			flex: 0 0 100%;
			max-width: 100%;
			.danhsach-tintuc{
				display: inherit;
				.box-flex{
					display: flex;
				}
			}
		}
	}
}
.tintuc-noibat{
	position: relative;
	
	p{
		margin-bottom: 24px;
		font-size: 20px;
	}
	.btn-action{
		text-align: left;
	}
	.chude{
		display: inline-block;
		width: 100%;
		a{
			color: $brand;
			font-size: 14px;
			line-height: 24px;
			border-radius: 4px;
			display: inline-block;
			padding: 10px 20px;
			margin-right: 10px;
			margin-bottom: 10px;

		}
		
	}
	.danhsach-tintuc{
		
		
		overflow-x: auto;
		height: auto;
		margin-bottom: 40px;
		flex-wrap: nowrap;
	}
	.logo-backgr-img{
		position: absolute;
		left: -38px;
		bottom: 0;
		z-index: -2;
	}
}
// lienhe-calltocation
.lienhe-calltocation{
	position: relative;
	clear: both;
	background-size: cover !important;
    padding: 40px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 328px;
	&::after{
		height: 100%;
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		z-index: 0;
		background: $brand;
		opacity: .8;
	}
	.content{
		color: white;
		text-align: center;
		position: relative;
		z-index: 123;
		max-width: 80%;
		margin: 0 auto;
		h2{
			text-transform: uppercase;
			font-size: 42px;
			line-height: 45px;
		}
		p{
			font-size: 28px;
			line-height: 45px;
			margin-bottom: 0;
		}
	}
	
}
// button call to action


.action-btn{
	display: block;
	bottom: 110px;
	position: fixed;
	right: 30px;
	z-index: 999;
   
}
.action-btn{
    z-index: 12 !important;
}
.coccoc-alo-ph-circle {
	width: 70px;
    height: 70px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid $brand;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: $brand;
    opacity: .6 !important;
}

.coccoc-alo-ph-circle-fill {
	width: 70px;
    height: 70px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.img-phone{
    .coccoc-alo-ph-img-circle{
        background: $brand url(../images/ic_baseline-phone.svg) no-repeat center center;
    }
}
.img-mess{
    .coccoc-alo-ph-img-circle{
        background: $brand url(../images/ri_messenger-fill.svg) no-repeat center center;
    }
}
.coccoc-alo-ph-img-circle {
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: $brand url(../images/tuvan-mb.svg) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
   
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: $brand;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: $brand;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: $brand;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: $brand;
    opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: $brand;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
// breadcrumb-box
.breadcrumb-box{
	display: inline-block;
    width: 100%;
    margin-top: 130px;
	.breadcrumb-icon-home{
		img{
			height: 20px;
			margin-bottom: 2px;
		}
	}
	nav{
		ol{
			padding-left: 0;
			padding-bottom: 0;
			margin: 0;
			background: none;
			display: flex;
    		align-items: center;
			.breadcrumb-item{
				color: $text-alpha;
				// display: initial;
				a{
					font-size: 14px;
					line-height: 20px;
				}
			}	
		}
	}
	.breadcrumb-item+.breadcrumb-item {
		display: flex;
		padding-left: 0.5rem;
		font-size: 14px;
		align-items: center;
		&::before {
			content: "\e409";
			color: $text-alpha;
			font-size: 16px;
			font-family: 'Material Symbols Outlined';
			
		}
	}
	.breadcrumb-item+.breadcrumb-item a{
		color: $text-alpha;
	}
}
// danh muc san pham
.title-headpage{
	margin-top: 45px;
	margin-bottom: 35px;
	font-size: 44px;
}
.danhsach-sanpham{
	padding-top: 0;
	.banner-headpage{
		img{
			width: 100%;
			margin-bottom: 25px;
		}
	}
	.content-page-list{
		
		.search-head{
			font-size: 18px;
			color: #757575;
			width: 25%;
			position: relative;
			text-align: right;
					
					input{
						background-size: 20px;
						background-position: 8px center;
						padding-left: 40px;
						border: 2px solid #D9D9D9;
						border-radius: 4px;
						height: 40px;
						background-image: url(../images/ic-search.svg);
						background-repeat: no-repeat;
						&::placeholder{
							color: #8C8B8D;
							font-size: 14px;
							line-height: 20px;
						}
					}
		}
		.title-content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 24px;
			p{
				margin-bottom: 0;
			}
		}
	}
}
.tab-page-list {
	.tab-content{
		margin: 0 !important;
	}
	
	.nav-tabs .nav-link {
		border: 2px solid $border !important;
		color: $text;
		border-radius: 56px;
		height: 46px;
		margin-right: 10px;
		padding: 11px 24px !important;
		font-size: 16px;
		line-height: 24px;
		font-weight: normal!important;
		
		&.active {
			background-color: $brand  !important;
			color: white !important;
			border-radius: 50px;
			height: 46px;
			border:  2px solid transparent !important;
		}

	}
	&.tab-custom .nav-tabs{
		padding-bottom: 20px !important;
		
	}
	::-webkit-scrollbar-track
	{
	 border-radius: 0px;
	 background-color: transparent;
	}
	
	::-webkit-scrollbar
	{
	 width: 0;
	 height: 0;
	 background-color: transparent;
	}
	
	::-webkit-scrollbar-thumb
	{
	 border-radius: 0px;
	 background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: transparent;
	}
}
.box-item{
	display: inline-block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $border;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 40px;
	.avatar-thumb{
		a{
			padding-top: 100%;
			img{
				border-radius:  4px 4px 0 0;
			}
		}
	}
	.info-item{
		background: white;
		text-align: center;
		padding: 20px;
		.title-product{
			color: $text;
			text-transform: capitalize;
			font-size: 20px;
			line-height: 28px;
			min-height: 56px;
			@include webkit-line-clamp();
			&:hover{
				color: $brand;
			}
		}
		.btn-action{
			a{
				display: flex  !important;
				width: 100% !important;
				text-transform: inherit !important;
			}
		}
		img{
			border-radius: 4px 4px 0 0;
		}
	}
}
// chi tiet san pham
.chitietsanpham{
	.slider-product-detail {
		.item {
			margin-bottom: 60px;
		}
	
		.lSSlideOuter .lSPager.lSGallery li img {
			opacity: 0.7;
			border: 1px solid $border;
		}
	
		.lSSlideOuter .lSPager.lSGallery li.active img {
			opacity: 1;
			border: 1px solid $brand;
		}
	
		.lSAction>.lSPrev,
		.lSAction>.lSNext {
			background-position: unset;
		}
	
		.lSAction>a {
	
			position: absolute;
			top: 50%;
			width: 32px;
			height: 32px;
			opacity: 1;
			z-index: 0;
		}
	
		.lSAction>.lSPrev {
			background-image: url(../images/arrow-left.png);
			background-size: contain !important;
			left: 20px;
		}
	
		.lSAction>.lSNext {
			background-image: url(../images/arrow-right.png);
			background-size: contain !important;
			right: 20px;
		}
	
		.lSSlideOuter {
			img {
				border-radius: 4px;
				width: 100%;
			}
		}
	
		.lSPager.lSGallery {
			margin-top: 11px !important;
			margin: 0 auto;
			width: 100% !important;
			li{
				width: 100px !important;
				margin-right: 10px!important;
			}
		}
	
		.lSSlideOuter .lSPager.lSGallery img {
			height: 100px;
			border-radius: 5px;
			width: 100px;
		}
	}
	.chitiet{
		.title-headpage{
			margin-top: 0;
			margin-bottom: 0;
		}
		p{
			margin-bottom: 35px;
			margin-top: 15px;
			font-size: 16px;
			line-height: 25px;
			span{
				color: $brand;
				font-size: 16px;
			line-height: 25px;
			}
		}
		.btn-common-fill{
			width: 100%;
		}
		.btn-brochure{
			width: 100%;
			&::after{
				content: "\e173";
				color: $brand;
				font-size: 24px;
				font-family: 'Material Symbols Outlined';
				margin-left: 10px;
			}
		}
		.mota{
			
				.panel-group .panel {
					border-radius: 0;
					box-shadow: none;
					
				  }
				
				  .panel-default > .panel-heading {
					padding: 0;
					border-radius: 0;
					
				  }
				  .panel-default{
					border-bottom: 2px $border solid;
					&:last-child{
						border-bottom: none;
						
					}
				  }
				
				  .panel-title {
					margin-bottom: 0;
					font-weight: 600;
					a{
						&:active{
							color: $brand;
						}
					}
				  }
				
				  .panel-title > a {
					padding: 25px 0 25px 0;
					text-decoration: none;
					line-height: 26px;
					font-size: 22px;
					color: $brand;
					display: flex;
					align-items: center;
					justify-content: space-between;
					
					
				  }
				  .panel-title > a.collapsed{
					color:$text;
				}
				  .more-less {
					float: left;
					margin-left: 20px;
					font-weight: 600;
				  }
				
				  .panel-default > .panel-heading + .panel-collapse > .panel-body {
					font-size: 16px;
					margin: 0 0 25px;
					color: $text;
					ul{
						margin-left: 30px;
						li{
							margin-bottom: 12px;
						}
					}
					p{
						margin-top: 0;
						margin-bottom: 16px;
					}
				  }
			
		}
	}
	
}
//sanpham-cungloai
.sanpham-cungloai{
	.box-item{
		margin-bottom: 0;
	}
	.item{
		padding-top: 0  !important;
		padding-bottom: 0!important;
	}
	.owl-dots{
		display: none;
	}
	.owl-prev{
		left: -30px;
	}
	.owl-next{
		right: -30px;
	}
}
#popup-contacts{
	.modal-header .close {
		position: absolute;
		right: 30px;
		font-size: 30px;
		padding: 8px;
		color: #757575;
		opacity: 1;
		background: #d9d9d9;
		text-shadow: none;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		top: 30px !important;
	}
	.modal-dialog{
		max-width: 700px;
	}
    .modal-body{
        padding: 0;
    }
    .modal-content{
        margin: 0;
        background-color: white;
        width: 100%;
        // height: 100%;
       
    }
	.form-contact{
		p{
			max-width: 50%;
			margin: 0 auto 35px auto;
		}
	}
}


.contact-section{
	.btn-action{
		text-align: right;
		margin-top: 10px;
	}
	text-align: center;
	padding: 0;
	.modal-body{
		.container{
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}
	.form-contact{
		max-width: 600px;
		margin: auto;
		.button-submitform{
            float: right;
        }
	}
    .title-section{
        h2{
            text-transform: inherit;
            font-size: 32px;
            line-height: 39px;
			margin-bottom: 10px;
        }
        p{
        
            font-size: 16px;
            line-height: 28px;
            padding: 0;
            margin-bottom: 35px;
        }       
    }
    .form-control{
        color: $text;
    }
    .form-group{
        margin-bottom: 25px;
    }
}
//content-popup-csvc

.content-popup-csvc{
	.modal-header .close{
		right: 60px;
		top: 0 !important;
	}
#modal-popup-csvc{
	.modal-dialog{
		max-width: 1400px;
	}
}
	.modal{
		background: #00000080;
	}
	
	.content-detail{
		position: relative;
	}
	.caption-detail{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	#caption{
		font-size: 24px;
		margin-bottom: 0;
	}
	.list-colum{
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 0 20px 20px 20px;
		background: #00000036;
	}
	.modal-content{
		background: transparent;
	}
	.column {
		float: left;
		width: 166px;
		margin-right: 10px;
		display: flex;
	  }
	  
	 
	  
	  .mySlides {
		display: none;
	  }
	  
	  .cursor {
		cursor: pointer;
	  }
	  
	  /* Next & previous buttons */
	  .close{
		top: 35px  !important;
	}
	  .next {
		
		background-image: url(../images/chevron-right.png);
			background-size: contain !important;
			right: 0;
			position: absolute;
			width: 72px;
			height: 72px;
			bottom: 350px;
			cursor: pointer;
	  }
	  .prev{
		background-image: url(../images/chevron-left.png);
		background-size: contain !important;
		left: 0;
		position: absolute;
		width: 72px;
		height: 72px;
		bottom: 350px;
		cursor: pointer;
	  }
	  
	  img {
		border-radius: 4px;
	  }
	  
	  .caption-container {
		text-align: center;
		background: #00000080;
		padding: 15px ;
		color: white;
	  }
	  
	  .demo {
		opacity: 0.7;
		border: 1px solid transparent;
	  }
	  
	  .active,
	  .demo:hover {
		opacity: 1;
		border: 1px solid $brand;
	  }
	  
}
// tintuc-large
.tintuc-large{
	padding-bottom: 10px;
	padding-top: 0;
	.tintuc-small{
		.date-time-news p::before {
			font-size: 16px;
			top: 0;
		}
		.item-news .info-news a span{
			font-size: 13px;
			line-height: 20px;
		}
		.date-time-news span{
			font-size: 14px !important;
			line-height: 20px !important;
		}
		.item-news .title-news a{
			font-size: 16px;
			line-height: 18px;
		}
		.date-time-news p {
			margin-left: 20px;
		}
	}
	.date-time-news p::before{
		font-size: 24px;
		top: -8px;
	}
	.date-time-news p{
		margin-left: 30px;
	}
	.item-news .avatar-thumb a img{
		border-radius: 4px;
	}
	.info-news {
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: transparent!important;
		box-shadow: none !important;
	}
	.item-news .info-news a span, .item-news .info-news span{
		font-size: 16px;
		line-height: 20px;
	}
	.item-news .title-news a{
		font-size: 32px;
		line-height: 40px;
	}
}
.danhsach-tintuc-tab{
	padding-top: 40px;
	.item-news .avatar-thumb a img{
		border-radius: 4px;
	}
	.tab-page-list.tab-custom .nav-tabs{
		padding-bottom: 35px !important;
	}
	.item-news{
		margin-bottom: 35px;
	}
	.date-time-news p::before{
		top: 0;
	}
	.item-news .title-news a{
		font-size: 20px;
		line-height: 24px;
	}
	.info-news {
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: transparent!important;
		box-shadow: none !important;
	}
	
}
.block-toc__link--active {
	padding: 6px 10px;
    background: $bg-gray;
    margin-bottom: 8px;
    border-radius: 4px;
	margin-bottom: 8px;
}
// chi tiet bai viet
.chitiettintuc-large{
	padding-bottom: 40px;
	.title-headpage{
		margin-bottom: 0;
		margin-top: 16px;
	}
	.avatar-thumb{
		a{
			img{
				border-radius: 4px;
			}
		}
	}
	.row{
		margin-top: 35px;
		align-items: center;
	}
	.title-timedate{
		border: 1px dashed $border;
		border-radius: 50px;
		width: fit-content;
		padding: 8px;
		display: flex;
		align-items: center;
		a{
			background: #9f6b38;
			color: white;
			border-radius: 50px;
			padding: 2px 10px;
			font-size: 13px;
			line-height: 20px;
			margin-right: 6px;
			
		}
		.date-time-news{
			margin-left: 5px;
			p{
				margin-left: 20px;
				&::before{
					font-size: 16px;
					top: 0;
				}
			}
		}
	}
}
.noidungbaiviet{
	
	background: #F9F6F3;
	.show-sticky{
		top: 50px;
	}
	.nd-danhmuc{
		h2{
			margin-bottom: 24px;
			font-size: 18px;
			line-height: 24px;
		}
		ul{
			
			counter-reset: headings;
			
			li{
				padding-left: 0;
				list-style: none;
				font-size: 14px;
				line-height: 20px;
				width: 100%;
				background: transparent;
				margin-bottom: 8px;
				border-radius: 4px;
				
				a{
					color: $text;
					padding: 6px 10px;
					counter-increment: headings;
					&::before{
						content: counter(headings) ". ";
					}
				}
				
			}
			
		}
	}
	.bg-light{
		background-color: transparent  !important;
		padding: 0;
	}
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
		background-color: $bg-gray;
		color: $text;
	}
}
.share-social{
	text-align: center;
	border-top: 1px solid $border;
    padding-top: 35px;
	p{
		margin-bottom: 16px;
		
	}
	img{
		height: 30px;
		margin: 0 7px ;
	}
}
.chitiet-baiviet{
	p{
		text-align: justify;
		font-size: 16px;
		line-height: 30px;
	}
	h2{
		font-size: 24px;
		line-height: 38px;
	}
}
// baiviet-tuongtu
.baiviet-tuongtu{
	.date-time-news p::before{
		top: 0;
	}
	.info-news {
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: transparent!important;
		box-shadow: none !important;
	}
	.item-news .avatar-thumb a img{
		border-radius: 4px;
	}
}
// chinh sach bao mat
.chinhsach-baomat{
	background: #F9F6F3;
	padding-top: 0;
	.content-chinhsachbaomat{
	    max-width: 70%;
    	margin: 0 auto;
		p{
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
		}
		h2{
			font-size: 24px;
			line-height: 38px;
		}
	}
}
//404

.page-not-found{
	background: #F9F6F3;
    margin-top: 0;
    padding-top: 150px;
	
	.content-404{
		text-align: center;
		img{
			width: 100%;
			height: 100%;
			max-width: 350px;
			margin-bottom: 20px;
		}
		.box-text{
			h1{
				font-size: 100px;
			}
			h5{
				font-size: 18px;
			}
		}
	}
}
// tim kiem 
.timkiem{
	background: #F9F6F3;
	padding-top: 0;
	h4{
		font-size: 32px;
		margin-bottom: 24px;
	}
	.content-timkiem {
		.item{
			border-bottom: 2px solid $border;
			padding-bottom: 25px;
			margin-bottom: 25px;
			&:last-child{
				border-bottom: 0;
			}
			a{
				color: $text;
				line-height: 32px;
				font-size: 20px;
				margin-bottom: 5px;
				@include webkit-line-clamp();
					
					&:hover{
						color: $brand;
					}
			}
			span{
				font-size: 14px;
				line-height: 24px;
				@include webkit-line-clamp();
					
			}
		}
	}

}
// FAQS
.faqs-page{
	padding-top: 0;
	.nd-danhmuc{
		h2{
			margin-bottom: 24px;
			font-size: 18px;
			line-height: 24px;
		}
		ul{
			
			counter-reset: headings;
			
			li{
				padding-left: 0;
				list-style: none;
				font-size: 14px;
				line-height: 20px;
				width: 100%;
				background: transparent;
				margin-bottom: 8px;
				border-radius: 4px;
				padding: 6px 10px;
				&.active{
					background: $bg-gray;
				}
				a{
					color: $text;
					padding: 6px 10px;
					counter-increment: headings;
					&::before{
						content: counter(headings) ". ";
					}
				}
				
			}
			
		}
	}
	.content-faqs{
		.search-head {
			font-size: 18px;
			color: #757575;
			width: 100%;
			position: relative;
			text-align: right;
			input{
				background-size: 20px;
				background-position: 8px center;
				padding-left: 40px;
				border: 2px solid #D9D9D9;
				border-radius: 4px;
				height: 40px;
				background-image: url(../images/ic-search.svg);
				background-repeat: no-repeat;
				width: 100%;
				&:hover{
					border: 2px solid $brand;
				}
				&::placeholder{
					font-size: 14px;
					color: #8C8B8D;
				}
			}
		}
	}
}
//gioithieu-tuyendung
.gioithieu-tuyendung{
	.row{
		align-items: center;
	}
	.box-left{
		position: relative;
		img{
			width: 100%;
    		padding-left: 90px;
		}
		.box-item{
			
			background: white;
			padding: 15px 30px;
			border: 0;
			margin-bottom: 0;
			width: inherit;
			text-align: center;    
			max-width: 40%;
		}
		.box-item1{
			position: absolute;
			right: 0;
			bottom: 0;
		}
		.box-item2{
			position: absolute;
			left:  0;
			top: 50px;
		}
		.box-item3{
			position: absolute;
			left: 0;
			top: 180px;
			max-width: 40%;
		}
	}
	.box-right{
		
		h2{
			margin-bottom: 24px;
			color: $brand;
			position: relative;
			padding-left: 72px;
			max-width: 90%;
			&:before{
				content: "\e244";
				color: $brand;
				font-size: 55px;
				font-family: 'Material Symbols Outlined';
				font-weight: 600;
				position: absolute;
				left: 20px;
				bottom: 40px;
			}
			
		}
		p{
			font-size: 20px;
			line-height: 32px;
			padding-left: 72px;
			span{
				text-transform: uppercase;
				font-size: 20px;
				line-height: 32px;
			}
		}
		}
}
//danhsach-ungtuyen
.danhsach-ungtuyen{
	.box-detail{
		display: flex;
		align-items: center;
	}
	.btn-common-fill{
		bottom: 35px;
		position: absolute;
		right: 23px;
	}
	.box-items {
		padding: 24px;
		border-radius: 4px;
		position: relative;
		padding-right: 250px;
		margin-bottom: 24px;
		.detail{
			text-align: left;
			h6{
				margin-bottom: 15px;
				line-height: 32px;
			}
			
			.item-detail1{
				position: relative;
				padding-left: 30px;
				line-height: 24px;
				margin-right: 25px;
				margin-bottom: 0;
				opacity: .8;
				&:before{
					content: "\e7fd";
					color: $brand;
					font-size: 24px;
					margin-right: 5px;
					font-family: 'Material Symbols Outlined';
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			.item-detail2{
				opacity: .8;
				margin-bottom: 0;
				position: relative;
				padding-left: 30px;
				line-height: 24px;
				margin-right: 25px;
				&:before{
					content: "\f6ea";
					color: $brand;
					font-size: 24px;
					margin-right: 5px;
					font-family: 'Material Symbols Outlined';
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			.item-detail3{
				opacity: .8;
					margin-bottom: 0;
				    position: relative;
					padding-left: 30px;
					line-height: 24px;
					margin-right: 25px;
				&:before{
					content: "\e916";
					color: $brand;
					font-size: 24px;
					margin-right: 5px;
					font-family: 'Material Symbols Outlined';
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}
// chi tiet tuyen dung
.chitiet-ungtuyen{
	.form-ungtuyen {
		margin-top: 120px;
		border-radius: 4px;
		.title-section{
			p{
				max-width: 80%;
				margin: 0 auto 35px auto;
			}
		}
	}
	.contact-section{
		padding: 30px 40px;
	}
	.btn-common-fill{
		position: inherit;
		width: 100%;
	}
	.box-items {
		padding: 0;
		position: relative;
		margin-bottom: 45px;
		h6{
			font-size: 32px;
		}
		
	}

	.chitiet{
		margin-bottom: 35px;
		h4{
			margin-bottom: 16px;
		}
		p{
			position: relative;
			font-size: 16px;
			margin-bottom: 10px;
			padding-left: 30px;
			line-height: 24px;
			&:before{
				content: "\f88b";
				color: $text-alpha;
				font-size: 24px;
				margin-right: 5px;
				font-family: 'Material Symbols Outlined';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}	
// lienhe
.lienhe{
	padding-top: 20px;
	.contact-section{
		padding: 30px 40px;
		border-radius: 4px;
		position: relative;
	}
	.box-around1{
		// box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		background: #9f6b3873;
		width: 481px;
		height: 635px;
		position: absolute;
		left: 0;
		top: 15px;
		z-index: -2;
	}
	
	.box-around2{
		// box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		background: #9f6b3873;
		width: 481px;
		height: 635px;
		position: absolute;
		left: -15px;
		top: 30px;
		z-index: -2;
	}
	.thongtinlienhe{
		.detail{
			position: relative;
			padding-left: 60px;
			margin-bottom: 35px;
			img{
				position: absolute;
				left: 0;
				top: 3px;
				height: 47px;
			}
			.content-detail{
				a{
					color: $text;
				}
				span{
					color: $text-alpha;
					font-size: 13px;
					margin-bottom: 5px;
				}
				p{
					margin-bottom: 0;
				}
			}
		}
	}
	
}
.gg-map{
	padding-bottom: 0;
	a{
		display: inline-block;
		width: 100%;
	}
	img{
		width: 100%;
		cursor: pointer;
	}
}
//ds-catalogue
.ds-catalogue{
	padding-top: 0;
	.item-news {
		.avatar-thumb{
			img{
				border-radius: 4px;
			}
		}
		.info-news {
			padding: 20px 0 0 0;
			box-shadow: none;
			background: transparent;
			.title-news{
				min-height: inherit;
				margin-bottom: 5px;
			}
			.desreption{
				opacity: .8;
				font-size: 16px;
				line-height: 24px;
				color: $text;
			}
		}
	}
}
// gioi thieu chung
.tab-link-about{
	nav{
		ul{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-top: 0;
			margin: 0;
			padding-bottom: 0;
			border-bottom: 2px solid $border;
			margin-bottom: -2px;
			li{
				list-style: none;
				padding: 0 0 20px 0;
				margin: 0 30px 0 0;
				a{
					color: #757979;
					font-size: 18px;
					line-height: 24px;
				}
				&.active{
					border-bottom: 2px solid $brand;
					margin-bottom: -2px;
					a{
						color: $brand;
					}
				}
			}
		}
	}
}
.gioithieu{
	padding-top: 25px;
	.row{
		align-items: center;
	}
	.thum-img{
		position: relative;
		padding: 30px;
		img{
			width: 100%;
			border-radius: 4px;
		}
		
	}
	.items-box1{
		position: absolute;
		left: 15px;
		width: initial;
		top: 0;
		z-index: -3;
		padding: 0;
	}
	.items-box2{

		position: absolute;
		right: 15px;
		width: initial;
		bottom: 0;
		z-index: -3; 
		padding: 0;
	
	}
	.content-gioithieu{
		h3{
			margin-bottom: 24px; 
		}
		.des{
			p{
				margin-bottom: 5px;
			color: #525757;
			opacity: .8;
			font-size: 18px;
			line-height: 32px;
			}
		}
		.thongtin-doanhnghiep{
			p{
				position: relative;
				font-size: 16px;
				margin-bottom: 20px;
				padding-left: 33px;
				line-height: 24px;
				&:before{
					content: "\e2e6";
					color: $brand;
					font-size: 24px;
					margin-right: 5px;
					font-family: 'Material Symbols Outlined';
					position: absolute;
					left: 0;
					top: 0;
				}
				span{
					text-transform: uppercase;
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}
}
.tamnhin-sumenh{
	position: relative;
	.tamnhin{
		max-width: 70%;
		margin: 0 auto;
		h4{
			margin: 24px 0 10px 0;
		}
		img{
			height: 80px;
		}
		p{
			margin-bottom: 0;
			text-align: justify;
			opacity: .8;
		}
	}
	.bg-logo{
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
// gia tri cot loi
.giatri-cotloi{
	
	.content-circle{
		position: relative;
		max-width: 262px;
		img{
			height: 250px;
		}
		.content-text{
				position: absolute;
				left: 0;
				right: 0;
				top: 35%;
				font-family: 'Noto Sans', sans-serif;
				text-align: center;
				text-transform: uppercase;
				padding: 0 20px;
			.text-back{
				font-size: 24px;
				color: $text;
				margin-bottom: 0;
			}
			.text-brand{
				
					font-size: 24px;
					color: $brand;
					margin-bottom: 0;
			}
		}
		
	}
	.content-value{
		right: 20px;
		top: 50%;
		position: absolute;
		font-size: 24px;
		line-height: 38px;
		max-width: 48%;
		transform: translateY(-50%);
		text-align: justify;
	}
	.box-circle{
		margin-bottom: 60px;
		position: relative;
		padding-right: 300px;
	}
}
// cta-hosonangluc

.cta-hosonangluc{
    position: relative;
    background: #9F6C38;
    min-height: 328px;
	overflow: inherit;
	img{
		
		position: absolute;
		right: 250px;
		top: -110px;

	}
	.content{
		color: white;
		text-align: left;
		position: relative;
		z-index: 123;
		max-width: 56%;
		
		span{
			text-transform: uppercase;
			font-size: 42px;
			line-height: 45px;
		}
		p{
			font-size: 28px;
			line-height: 45px;
			margin-bottom: 0;
		}
		.btn-common-line{
			text-align: right;
			&::after{
				content: "\e873";
				color: $brand;
				font-size: 24px;
				font-family: 'Material Symbols Outlined';
				margin-left: 10px;
			}
		}
	}
	
}
.coso-vatchat-vechungtoi{
	padding-top: 25px;
}
// linh vuc hoat dong
.linhvuc-hoatdong{
	.item-news{
		img{
			border-radius: 4px 4px 0 0;
		}
		border-radius: 40px;
		border: 1px solid $border;
		margin-bottom: 0;
		.info-news{
			min-height: 227px;
			&:hover{
				background: $brand;
				transition: all 0.3s ease-in-out;
				.title-news{
					a{color: white;}
				}
				.desreption{
					color: white;
				}
			}
			.desreption{
				opacity: .8;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}    
	}
}
// quy trinh san xuat
.quytrinh-sanxuat{
	padding-top: 25px;
	img{
		width: 100%;
	}
}
// triet ly kinh doanh
.trietly-kinhdoanh{
	.row{
		align-items: center;
	}
	.box-left{
		img{
			width: 100%;
		}
	}
	.box-right{
		font-size: 20px;
		line-height: 36px;
		position: relative;
		padding-right: 151px;
		padding-left: 15px;
		text-align: justify;
		span{
			font-size: 20px;
			line-height: 36px;
			color: $brand;
		}
		&::after{
			z-index: -4;
			width: 305px;
			height: 264px;
			background: url(../images/quote.png) no-repeat center !important;
			background-size: contain !important;
			content: " ";
			display: block;
			position: absolute;
			right: 0;
			top: 0;
		
		}
	}
}
.chungnhan-tieuchuan{
	.box{
		min-height: 165px!important;
	}
	.des{
		max-width: 68%;
		margin: 0 auto;
		line-height: 32px;
		color: #757979;
		margin-bottom: 0;
		font-size: 20px;
	}
	.box-certificates{
		span{
			font-size: 14px;
			line-height: 20px;
			margin-top: 4px;
			max-width: 80%;
			display: inline-block;
		}
	}
}
.chienluoc{
	position: relative;
	
	.box-lagre{
		position: relative;
    	padding-right: 130px;
		
	}
	.box-left{
		padding: 20px 30px 20px 170px;
		width: 100%;
		background: white;
		border-radius: 24px;
		border: 1px solid #D9D9D9;
		position: relative;
		&::after{
			content: "";
			background: url(../images/poly.svg) no-repeat center top;
			background-size: cover;
			width: 28px;
			height: 54px;
			position: absolute;
			right: -27px;
			top: 35%;
		}
		
		.box-item-icon{
			position: absolute;
			top: -16px;
			left: 30px;
			.box-grap{
				position: relative;
			}
			.box-icon{
				position: absolute;
				bottom: 30px;
				left: 28px;
				height: 55px;
			}
		}
	}
	.box-right{
		padding: 20px 130px 20px 40px;
		width: 100%;
		background: white;
		border-radius: 24px;
		border: 1px solid $border;
		position: relative;
		&::after{
			content: "";
			background: url(../images/poly.svg) no-repeat center top;
			background-size: cover;
			width: 28px;
			height: 54px;
			position: absolute;
			left: -27px;
			top: 35%;
			transform: rotate(180deg);
		}
		
		.box-item-icon{
			position: absolute;
			top: -16px;
			right: 30px;
			.box-grap{
				position: relative;
			}
			.box-icon{
				position: absolute;
				height: 55px;
				right: 25px;
				bottom: 35px;
			}
		}
	}
	.box-postion4{
		margin-top: -25px;
	}
	.box-postion3{
		margin-top: 110px;
		
	}	
	.box-postion1{
		margin-top: 144px;
	}
	.box-chienluoc{
		position: relative;
		
		&::after{
			content: "";
			background: url(../images/line-item.svg) no-repeat center top;
			background-size: cover;
			width: 105px;
			height: 459px;
			position: absolute;
			left: -60px;
			right: 0;
			margin: 0 auto;
			top: 65px;
		}
	}
	.item-box{
		// position: relative;
		h6{
			line-height: 30px;
			margin-bottom: 13px;
			color: $brand;
			
		}
		ul{
			list-style: disc;
			margin-bottom: 0;
			li{
			
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 5px;
			}
		}
		img{
			width: 100%;
		}
	}
}
.chungnhan-tieuchuan{
	&.box-title{
		.box{
			min-height: 205px !important;
		}
	}
}
.contact-facebook{
	iframe{
		width: 100%;
		display: inline-block;
		._2p3a{
			width: 100% !important;
		display: inline-block !important;
		}
	}
}

