@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
$border: #D9D9D9;
$bg-gray: #F3EDE0;
$brand: #9F6C38;
$brand-2: #3F3B3B;
$text:#3F3B3B;
$text-alpha:#757575;
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media only screen and (max-width: 1500px) {
	.chienluoc .box-chienluoc::after{
		left: -100px;
	}
	.cta-hosonangluc img{
		right: 20px;
	}
}
@media only screen and (max-width: 1300px) {
	.tintuc-noibat {
		.danhsach-tintuc{
			margin-bottom: 0;
		}
	}
}
@media only screen and (max-width: 1000px) {
	.cta-hosonangluc {
		.box-calltoaction{
			margin-top: 30px;
		}
		.content{
			max-width: 50%;
			p{
				font-size: 20px;
				line-height: 30px;
				span{
					font-size: 20px;
				}
			}
		}
		img{
			right: 0;
			top: -90px;
			width: 400px;
		}
	}
	.giatri-cotloi{
		.content-value{
			font-size: 18px;
			line-height: 28px;
		}
		.box-circle{
			padding-right: 267px;
			.content-circle{
				img{
					height: 180px;
				}
				.content-text{
					left: 5px;
					right: 0;
					top: 35%;
					p{
						font-size: 18px;
					}
				}
			}
		}
	}
	.row.thongtinlienhe{
		flex-direction: inherit !important;
	}
	.gg-map{
		padding-top: 60px;
	}
	.lienhe{
		.contact-facebook {
			margin-bottom: 40px;
		}
		.box-around1{
			width: 90%;
			height: 90%;
			left: 37px;
			top: 77px;
		}
		.box-around2{
			width: 90%;
			height: 90%;
			left: 20px;
			top: 95px;
		}
		.row{
			flex-direction: column-reverse;
			.col-md-6{
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.contact-section {
			margin: 20px 40px 0 40px;
			.title-section{
				p{
					max-width: 60%;
					margin: 0 auto 25px auto;
				}
			}
			.row{
				flex-direction: inherit !important;
				
			}
			.form-contact{
				max-width: 800px;
			}
		}
	}
	.chungnhan-tieuchuan .danhsach-chungnhan .box{
		width: 22%;
	}
	.container{
		max-width: 960px !important;
	}
	.breadcrumb-box{
		margin-top: 120px;
	}
	header .search-head{
		top: 90px;
	}
	.content-popup-csvc {
		#modal-popup-csvc{
			.modal-header {
				.close {
					right: 40px;
					top: 0 !important;
				}
			}
		}
		.next{
			bottom: 210px;
		}
		
	}
	footer{
		.about-company-footer{
			.contact-main-footer{
				display: inherit;
				.contact-phone{
					
					margin: 15px 0;
				}
			}
			.location {
				p{
					margin-top: 15px;
				}
			}
		}
	}
	
	header .logo img {
		height: 70px;
	}
	footer {
		.about-company-footer {
			img {
				height: 70px;
			}
		}
	}
	.lienhe-calltocation {
		min-height: 100%;
		z-index: 3;

		.content {
			p{
				line-height: 24px !important;
				font-size: 20px;
			}
		}
	}
	.tintuc-noibat {
		.danhsach-tintuc {
			
			margin-top: 45px;
		}
	}
	.item-news {
		.info-news{
			padding: 10px 15px 20px 15px;
		}
	}
	.date-time-news{
		p{
			&::before{
				top: 4px;
			}
		}
	}
	.khachhang{
		.owl-dots{
			display: block;
		}
		.owl-nav{
			top: 10%;
		}
	}
	// .item{
	// 	padding: 0 20px!important;
	// }
	section {
		padding: 30px 0;
	}
	.container {
		max-width: 1000px;
		margin: 0 auto;
	}
	.danh-muc-san-pham{
		.item-product {
			p{
				max-width: 65% !important;
			}
		}
	}
	.visao-chonshunfa {
		.content-visao-chonshunfa{
			padding-right: 543px;
			.item2{
				a{
					img{
						margin-left: 38px;
					}
				}
			}
		}
	}
	.coso-vatchat{
		padding-bottom: 60px;
		.content-coso-vatchat{
			margin: 0 15px;
			
			.img-right{
				.col-md-8{
					overflow: hidden;
				}
				.line-border-x{
					left: -15px;
				}
				.line-border-y{
					left: -60px;
				}
				.col-md-4{
					padding: 0;
					.csvc3{
						&::before{
							width: 100%;
							height: 180px;
							left: 0;
							top: 0;
						}
					}
					.csvc4{
						&::before{
							width: 100%;
							height: 180px;
							left: 0;
						}
					}
				}
			}
			.col-md-6{
				padding: 0;
			}
			.csvc1{
				&::after{
				width: 100%;
				height: 80%;
				top: 35px;
				}
			}
			.csvc1, .csvc2{
				&::before{
					width: 100%;
					height: 98%;
					left: 0;
					top: 0;
				}
			}
		}
	}
	
	.slider-home {
		margin-top: 90px;
		.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
			display: none;
		}
		   .btn-common-line {
			z-index: 3;
			position: relative;
		   }
	}
	.slider-home {
		.item{
			display: inherit;
			// flex-direction: column-reverse;
			position: inherit;
		}
		.infor-slide{
			width: 100%;
    		padding: 60px 35px 60px 50px;
		}
		.img-sliders {
			width: 100%;
			position: relative;
		}
		.owl-dots{
			display: block !important;
		}
		.owl-nav{
			top: 30%;
		}
	}
	header .menu nav ul li:hover ul li a {
		color: $text;
		padding: 0 0 0 24px;
	}
    header{
			padding: 10px;
			.btn-search-mb{
				margin-right: 30px;
			}
			// .logo img{
			// 	height: 40px;
			// }
			.top-head{
				padding: 0 10px 0 0;
				.language-box {
					margin-left: 0;
				}
				.phone-box{
					display: none;
				}
			} 
           .content-head-right{
			   margin-right: 30px;
			   margin-bottom: 3px;
			   .btn-action{
				   margin-right: 20px;
				   a{
					padding: 5px 10px;
					height: 40px;
					font-size: 13px;
				   }
			   }

		   }
		 
            .menu-mobile{
				position: absolute;
				top: 30px;
				right: 25px;
				display: block;
				z-index: 2;
                i{
                    font-size: 24px;
                    color: $text-alpha;
                }
                .ti-menu{
                   
                    display: block;
				}
				.close-menu-6{
					display: none;
				}

            }
          .menu{
			  display: none;
		  }
            &.show-menu {
				.menu {
					display: block;
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: #FAF6F3;
					border-top: 0;
					padding:60px 0 30px 0!important;
					scroll-behavior: smooth;
					transition: all 0.2s ease-in-out;
		
					nav {
		
						ul {
							display: inline-block !important;
							width: 100%;
		
							li {
								width: 100%;
								padding:24px 0 0 0;
								left:0;
								a {
									width: 100%;
									display: inline-block;
									font-size: 18px !important;
									color: $text;
									padding-left: 24px;
								}
								ul{
									transition: unset;
								}
							}
						}
					}
				   
				}
                .menu-mobile{
                    .ti-menu{
                        display: none;
                    }
                    .close-menu{
                        
						position: fixed;
						top: 30px;
						right: 25px;
						display: block;
						z-index: 2;
                    }
                  }
    
                nav {
                    display: inline-block !important;
                    width: 100%;
    
                    ul li {
						&::before {
							font-size: 24px;
							right: 24px;
							top: 10px;
							color: $text;
						}
                        &:hover ul {
                            position: relative;
                            top: 0 !important;
							left:0;
                            width: 100% !important;
                            box-shadow: none;
                            border-radius: 0;
							background: #F3EDE0;
							transition: unset;
							border-top: 2px solid $brand;
							padding-top: 0;
							padding-bottom: 24px;
                        }
                    }
    
                }
            }
    }
	
	.slider-home .item h1 {
		width: 100%;
		margin: 0 auto 10px auto;
		padding-left: 0 !important;
	}
	
	.call-to-action{
		min-height: inherit;
		padding: 50px 0;
	}
	footer .about-company-footer {
		padding-right: 20px;
	}
	.head-page {
		margin-top: 60px;
	}

	.slider-project-detail.page-project-detail .lSSlideOuter .lSPager.lSGallery {
		bottom: 5px;
	}
	
}
@media only screen and (max-width: 950px){ 
	.btn-header-mobile{
		z-index: 9;
		display: block;
		position: fixed;
		bottom: 0;
		right: 0;
		height: 56px;
		width: 100%;
		background: #FFF;
		box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.07);
		padding-right: 80px;
		.btn-profile-mb{
			border-right: 1px solid $border;
			width: 50%;
			height: 56px;
			float: left;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				height: 24px;
			}
			a{
				color: $brand;
			}
			p{
				margin-bottom: 0;
			}
		}
		.btn-toggle-action{
			position: absolute;
			right: 0;
			height: 52px;
			width: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
			button{
				background: none;
				outline: none;
				img{
					display: none;
					&:nth-child(1){
						display: block;
					}
					&:nth-child(2){
						display: none;
					}
				}
				
			}
			
		}
		&.active{
			.btn-profile-mb{
				display: none;
			}
			width: 80px;
			border-radius: 10px 0 0 0;
			button{
				img{
					display: none;
					&:nth-child(1){
						display: none;
					}
					&:nth-child(2){
						display: block;
					}
				}
			}
		}
	}
	.tintuc-large {
.tintuc-small{
	.date-news{
		width: 100%;
		display: inline-block;
	}
	.item-news  {
		.date-time-news .date-news::after {
			
		}
	}
}
	}
	.linhvuc-hoatdong {
		.col-md-3{
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 30px;
		}
	}

	
	.chienluoc{
		.box-grap{
			width: 60px;
		}
		.box-right{
			.box-item-icon{
				top: -9px;
				right: 20px;
				
				.box-icon{
					position: absolute;
					height: 55px;
					right: 15px;
					bottom: 7px;
					width: 30px;
				}
			}
		}
		.box-left{
			.box-item-icon{
				top: -8px;
				.box-icon{
					width: 30px;
					left: 15px;
					bottom: 7px;
					
				}
			}
			
		}
	}
	
	#popup-contacts{
.contact-section{
	margin: 20px 0 0 0;
}
	}
	.item-news .title-news {
		min-height: 45px;
	}
	.cta-hosonangluc {
		.box-calltoaction{
			margin-top: 30px;
			position: relative;
			z-index: 1;
		}
		.content{
			max-width: 50%;
			p{
				font-size: 16px;
				line-height: 24px;
				span{
					font-size: 16px;
				}
			}
		}
		img{
			
			width: 350px;
			top: -65px;
		}
	}
	.giatri-cotloi{
		.content-value{
			font-size: 16px;
			line-height: 24px;
			right: 40px;
		}
		.box-circle{
			padding-right: 224px;
			.content-circle{
				img{
					height: 130px;
				}
				.content-text{
					left: 5px;
					right: 0;
					top: 35%;
					p{
						font-size: 12px;
					}
				}
			}
		}
	}
	.tamnhin-sumenh .tamnhin {
		max-width: 90%;
		
	}
	.gioithieu{
		.row{
			flex-direction: column-reverse;
			.col-md-6{
				flex: 0 0 100%;
				max-width: 100%;
				&:first-child{
					flex: 0 0 50%;
					max-width: 50%;
				}
			}
		}
	}
	.lienhe .contact-section {
		margin: 45px 40px 0 40px;
		
	}
	.lienhe{
		.contact-facebook {
			margin-bottom: 10px;
		}
		.box-around1{
			width: 86%;
			height: 90%;
			left: 37px;
			top: 83px;
		}
	}
	.contact-section {
		margin: 20px 40px 0 40px;
		.title-section{
			p{
				// max-width: 80% !important;
				
			}
		}
		
	}
	.coso-vatchat-vechungtoi{
		padding-top: 30px !important;
	}

	.danhsach-ungtuyen {
		
		.box-items {
			padding: 24px 15px;
			padding-right: 175px;
			.detail {
				.item-detail1, .item-detail2, .item-detail3 {
					margin-right: 20px;
					// width: 100%;
				}
			}
			.btn-common-fill  {
				right: 15px;
			}
		}
		&.chitiet-ungtuyen{
			// .box-items {
			// 	padding: 0;
			// 	h6{
			// 		font-size: 24px;
			// 	}
			// 	.box-detail{
			// 		display: inherit;
			// 		p{
			// 			margin-bottom: 15px;
			// 		}
			// 	}
			// }
			.form-ungtuyen {
				margin-top: 30px;
			}
			.row{
				display: inherit;
				.col-md-7, .col-md-5{
					max-width: 100%;
				}
			}
		}
	}
	.chitiet-ungtuyen .contact-section {
		padding: 30px 20px;
		.title-section{
			p{
				max-width: 100%;
			}
		}
	}
	.sanpham-cungloai {
		.owl-dots {
			display: block;
		}
		.owl-next {
			right: 10px;
		}
		.owl-prev {
			left: 10px;
		}
		.owl-nav{
			display: block !important;
		}
	}
	.chitietsanpham .slider-product-detail .lSPager.lSGallery li {
		width: 70px !important;
		margin-right: 10px !important;
	}
	.chitietsanpham .slider-product-detail .lSSlideOuter .lSPager.lSGallery img {
		height: 70px;

		width: 70px;
		
	}
	.chitietsanpham{
		
		.lSNext {
		
			right: 0 !important;
		}
		.lSPrev {
		
			left: 0 !important;
		}
	}
	.chungnhan-tieuchuan {
		.des {
			max-width: 80%;
		}
		&.box-title{
			.box-certificates {
				span{
					max-width: 100%;
				}
			}
			.box{
				min-height: 240px  !important;
			}
		}
	}
	.trietly-kinhdoanh{
		.box-right{
			padding: 0 60px;
		}
		.row{
			display: inherit;
			.col-md-4{
				max-width: 50%;
				margin: 0 auto;
			}
			.col-md-8{
				max-width: 100%;
			}
		}
	}
	.chienluoc{
		.box-postion1 {
			margin-top: 65px;
			margin-left: 30px;
		}
		.box-postion3 {
			margin-top: 35px;
			margin-left: 30px;
		}
		.box-postion4 {
			margin-top: -55px;
			margin-left: 60px;
		}
		.box-postion2 {
			
			margin-left: 60px;
		}
		.box-chienluoc{
			&::after{
				left: 0;
				top: 50px;
			}
			.box-lagre{
				padding-right: 90px;
				.box-left, .box-right{
					padding: 60px 20px 30px 45px;
					.item-box{
						.text{
							h6{
								font-size: 16px;
							}
						}
					}
				}
				
			}
		}
	}
	.tab-link-about {
		nav {
			ul {
				li {
					margin: 0 20px 0 0;
					a{
						font-size: 15px;
					}
				}
			}
		}
	}
	.tintuc-noibat {
		.btn-action{
			text-align: center;
		}
	}
	.lienhe-calltocation {
		.content{
			max-width: 90%;
		}
	}
	.tintuc-noibat-pc{
		display: none;
	}
	.tintuc-noibat-mb{
		display: block;
	}
	.chungnhan-tieuchuan {
		.danhsach-chungnhan {
			.box{
				width: 20%;
				img{
					height: 40px;
				}
			}
		}
	}
	h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 24px !important;
    }
    h3{
        font-size: 22px !important;
    }
    h4{
        font-size: 18px !important;
    }

    // h5{
    //     font-size: 20px !important;
    // }
    // h6{
    //     font-size: 18px !important;
    // }
    // p{
    //     font-size: 16px !important;
    // }
    br{
        display: none;
	}
	.slider-home .infor-slide {
		
		padding: 35px 20px;
	}
	.btn-header{
		display: none;
	}
	.btn-header-mobile{
		display: block !important;
	}
	.img-banner-mb{
		display: block !important;
	}
	.img-banner-pc{
		display: none;
	}
	.csvc3, .csvc4{
		&::before{
			height: 170px !important;	
		}
	}
	.visao-chonshunfa .content-visao-chonshunfa {
		padding-right: 500px;
	}
	.box-head-page {
		.box-item {
			img{
				height: 45px !important;
			}
			.box-text {
				margin-left: 5px;
				h2{
					font-size: 24px !important;
				}
				p{
					font-size: 14px!important;
				}
				
			}
		}
	}
	.danh-muc-san-pham{
		.col-md-3 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
		.content-danhmuc {
			.item-product {
				margin-bottom: 35px;
				p{
					font-size: 18px;
				}
			}
		}
	}
	.coso-vatchat{
		// display: none;
		padding-top: 0;
		.content-coso-vatchat{
			margin: 0;
			.col-md-6{
				flex: 0 0 100%;
				max-width: 100%;
				
			}
			.img-right{
				display: flex;
				padding-left: 0;
				.col-md-8{
					flex: 0 0 33%;
					max-width: 33%;
					padding-right: 10px;
					padding-left: 0;
					
				}
				.col-md-4{
					display: flex;
					margin-top: 0;
					margin-left: 0;
					flex: 0 0 100%;
					max-width: 100%;
					.csvc3{
						overflow: hidden;
						width: 33%;
						margin-right: 10px;
						margin-bottom: 0;
						position: relative;
						.avatar-thumb{
							a{
								padding-top: 78%;
							}
						}
						&::before{
							width: 100%;
							height: 97% !important;
							right: 0;
							left: 0;
							bottom: 8px;
						}
					}
					.csvc4{
						position: relative;
						width: 33%;
						.avatar-thumb{
							a{
								padding-top: 78%;
							}
						}
						&::before{
							width: 100%;
							height: 97% !important;
							right: 0;
							left: 0;
							bottom: 8px;
						}
					}
				}
			}
			.csvc1{

				margin-bottom: 3px;
				position: relative;
			
				&::before{
					height: 99% !important;
				}
				&::after{
					display: none;
				}
			}
			.csvc2{
				position: relative;
				margin-bottom: 0;
				&::before{
					width: 100%;
					height: 97%;
					left: 0;
					top: 0;
				}
				.avatar-thumb{
				a{
					padding-top: 81%;
					img{
						display: block;
					}
				}
				}
				
			}
			
			.line-border-x, .line-border-y, .line-border-box{
				display: none;
			}
		}
	}
	.visao-chonshunfa{
		.content-visao-chonshunfa{
			padding-right: 0;
			padding: inherit;
			.content-img{
				position: initial;
				transform: translateY(0);
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.tintuc-noibat-mb{
		
			.col-md-6{
				.date-news{
					width: 100%;
					display: inline-block;
				}
			
		}
	}
	.linhvuc-hoatdong {
		.item-news  {
			padding-left: 0  !important;
			border-radius: 5px;
			.avatar-thumb{
				width: 100% !important;
				position: initial;
			}
		}
	}
	.sanpham-cungloai {
		.title-product{
			text-align: left;
		}
		
		.owl-next {
			right: -22px;
		}
		.owl-prev {
			left: -22px;
		}
	}
	
	.danhsach-sanpham{
		.btn-action {
			margin-top: 5px;
		}
		.row{
			justify-content: center;
		}
		.btn-common-line  {
			min-width: fit-content;
			height: 42px;
			padding: 0;
			line-height: 24px;
			font-size: 14px;
			&::after{
				font-size: 18px;
				margin-left: 0;
			}
		}
		.col-md-4{
			width: 50%;
		}
		.box-item{
			margin-bottom: 20px;
			.info-item{
				padding: 20px 15px;
				text-align: left;
				.title-product{
					font-size: 14px;
					line-height: 26px;
					text-align: left;
				}
			}
		}
		
	}
	.danhsach-sanpham .content-page-list .title-content {
		display: inherit;
		.search-head{
			margin-top: 20px;
			width: 100%;
			input{
				width: 100%;
			}
		}
	}
	.ds-catalogue{
		.item-news  {
			margin-bottom: 10px;
			.info-news{
				padding-top: 10px;
			}
			.avatar-thumb{
				top: 12px;
			}
			.desreption{
				@include webkit-line-clamp();
			}
		}
	}
	.noidungbaiviet .nd-danhmuc h2 {
		line-height: 32px;
	}
	.danhsach-tintuc-tab, .tintuc-large{
		.item-news {
			margin-bottom: 15px;
			.info-news {
				padding: 0;
			}
		}
	}
	.tintuc-noibat{
		.item-news {
			position: initial;
			padding-left: 0 !important;
			.avatar-thumb{
				position: initial !important;
    			width: 100% !important;
				a{
					padding-top: 56%;
				}
			}
		}
	}
	.item-news {
		padding-left: 140px !important;
		min-height: 110px !important;
		margin-bottom: 20px;
		margin-bottom: 30px;
		position: relative;
		display: inline-block;
		width: 100%;
		.title-news  {
			a{
				line-height: 20px !important;
			}
		}
		.avatar-thumb {
			width: 130px !important;
			position: absolute;
			left: 0;
			top: 7px;
			display: block;
			a{
				padding-top: 76%;
			}
		}
	}
	.baiviet-tuongtu{
		.item-news  {
			.avatar-thumb{
				top: 12px;
			}
		}
	}
	.cta-hosonangluc{
		.content{
			max-width: 100%;
		}
		img{
			position: initial;
			margin-top: 30px;
		}
	}
	.giatri-cotloi {
		padding-bottom: 0;
		.title-section{
			margin-bottom: 55px;
		}
		.content-text{
			position: initial !important;
    		padding: 0!important;
			p{
				font-size: 14px !important;
				text-align: left;
			}
		}
		.box-circle{
			padding-left: 130px;
			margin-bottom: 30px;
			padding-right: 0;
		
			.content-circle{
				top: 50%;
				left: 0;
				padding: 0;
				display: inline-block;
				width: 100%;
				transform: translateY(-50%);
				position: absolute;
				max-width: fit-content;
			}
			img{
				display: none;
			}
		}
		.content-value{
			max-width: 100%;
			top: 0;
			position: initial;
			transform: translateY(0%);
		}
	}
	.tamnhin-sumenh {
		.col-md-6{
			&:last-child{
				.tamnhin{
					margin-bottom: 0;
				}
			}
		}
		.tamnhin {
			
			max-width: 100%;
			margin-bottom: 35px;
			img{
				height: 60px;
			}
		}
	}
	.gioithieu .row .col-md-6:first-child {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.lienhe {
		.box-around2 {
			width: 70%;
			left: 55px;
		}
		.box-around1 {
			width: 80%;
    

		}
		.contact-section{
			margin: 20px 0 0 0;
			padding: 30px 20px;
			.title-section{
				p{
					max-width: 100% !important;
				}
			}
		}
	}
	.breadcrumb-box {
		margin-top: 80px;
	}
	.title-headpage{
		margin: 20px 0 !important;
	}
	.linhvuc-hoatdong {
		.col-md-3{
			width: 50%;
		}
			.item-news  {
				margin-bottom: 30px;
				.info-news{
					min-height: 200px;
				}
			}
	}
	.gioithieu-tuyendung {
		padding-bottom: 0;
		.box-left{
			.box-item{
				font-size: 14px;
    			padding: 10px;
			}
			.box-item3{
				top: 330px;
			}
			.box-item1{
				bottom: 0;
			}
			// .box-item2{
			// 	top: 122px;
			// }
			img{
				padding-left: 0;
			}
		}
		.box-right {
			margin-top: 80px;
			
			h2{
				padding-left: 0;
				max-width: 100%;
				font-size: 20px !important;
				&::before{
					left: 0;
					bottom: 33px;
				}
			}
			p{
				font-size: 16px;
				line-height: 24px;
				padding-left: 0;
				span{
					font-size: 16px;
				}
			}
		}
	}
	.moitruong-lamviec{
		.item-career{
			margin-bottom: 30px;
			img{
				height: 45px;
			}
			h4{
				margin-top: 15px;
			}
		}
	}
	.timkiem .content-timkiem .item a{
		line-height: 28px;
	}
	.danhsach-ungtuyen {
		
		.box-items {
			padding-right: 0;
			h6{
				font-size: 20px;
			}
			.box-detail{
				display: inherit;
				p{
					margin-bottom: 15px !important;
				}
			}
			.btn-common-fill  {
				position: initial;
				margin-top: 20px;
			}
		}
		&.chitiet-ungtuyen{
			.box-items {
				padding: 0;
				h6{
					font-size: 24px;
				}
				.box-detail{
					display: inherit;
					p{
						margin-bottom: 15px;
					}
				}
			}
			.form-ungtuyen {
				margin-top: 30px;
			}
			.row{
				display: inherit;
				.col-md-7, .col-md-5{
					max-width: 100%;
				}
			}
		}
	}
	.chinhsach-baomat .content-chinhsachbaomat {
		max-width: 100%;
		margin: 0 auto;
	}
	.trietly-kinhdoanh{
		.box-right{
			padding: 0 ;
			font-size: 16px;
			line-height: 30px;
		}
		.row{
			display: inherit;
			.col-md-4{
				max-width: 100%;
				margin: 0 auto;
			}
		
		}
	}
	
	.chienluoc{
		.box-postion1 {
			margin-top: 0;
			margin-left: 0;
			.box-item-icon{
				.box-icon{
					left: 15px;
					bottom: 15px !important;
				}
			}
		}
		.box-postion3 {
			margin-top: 25px;
			margin-left: 0;
			.box-item-icon{
				.box-icon{
					left: 15px;
					bottom: 15px !important;
				}
			}
		}
		.box-postion4 {
			margin-top: 25px;
			margin-left: 20px;
		}
		.box-postion2 {
			margin-top: 25px;
			margin-left: 20px;
		}
		.box-chienluoc{
			&::after{
				display: none;
			}
			.box-lagre{
				padding-right: 20px;
				.box-left{
					.box-item-icon{
						left: 18px;
					}
				}
				.box-left, .box-right{
					padding: 20px 30px 20px 75px;
					.item-box{
						.text{
							h6{
								font-size: 16px;
							}
						}
					}
					.box-item-icon{
						top: -9px;
    					right: 18px;
						.box-grap{
							width: 60px;
						}
						.box-icon{
							position: absolute;
							height: 30px;
							right: 15px;
							bottom: 20px;
							width: 30px;
						}
					}
				}
				
			}
		}
	}
	.tab-link-about nav ul {
		/* margin: auto; */
		overflow-x: auto;
		height: auto;
		margin-bottom: 40px;
		flex-wrap: nowrap;
		display: flex;
		align-items: center;
		justify-content: left;
		padding-top: 0;
		/* margin: 0; */
		padding-bottom: 0;
		border-bottom: 1px solid #D9D9D9;
		margin-bottom: -2px;
		max-width: 345px;
		margin-left: 0;
		li.active{
			border-bottom: none
		}
	}
	.tab-link-about nav ul li a {
		
		white-space: nowrap;
	}
	.tab-link-about nav ul li a {
		font-size: 18px;
	}
	.chungnhan-tieuchuan {
		.des {
			max-width: 100%;
			font-size: 16px;
			line-height: 24px;
		}
		&.box-title{
			.box-certificates {
				width: 150px;
				span{
					max-width: 100%;
				}
			}
			.box{
				min-height: 220px !important;
				padding: 15px !important;
			}
		}
	}
	header .search-head {
		top: 62px;
	}
	.page-not-found .content-404 .box-text h5 {
		font-size: 16px;
	}
	.page-not-found{
		padding-top: 100px;
	}
	.page-not-found .content-404 img{
		max-width: 250px;
	}
	footer .about-company-footer p {
		font-size: 16px;
	}
	.lienhe-calltocation .content p {
		
		font-size: 18px;
	}
	.tintuc-noibat-mb{
		.item-news{
			margin-bottom: 15px;
			.info-news {
				// min-height: 174px;
			}
		}
		.box-flex{
			align-items: center;
			.col-md-6{
				&:first-child{
					padding-right: 0;
				}
			}
		}
	}
	.item-news {
		
		.info-news {
			// padding: 15px;
			a {
				span{
					font-size: 12px  !important;
				}
			}
		}
		.title-news  {
			margin-bottom: 12px;
			min-height: 100%;
		}
	}
	.date-time-news {
		p::before {
			top: 4px;
		}
	}
	.date-time-news {
		span{
			font-size: 12px !important;
		}
	}
	.item-news {
		.title-news {
			a{
				font-size: 16px !important;
				line-height: 20px;
			}
		}
	}
	.tintuc-noibat-mb {
		.col-md-8{
			padding: 0;
		}
		.danhsach-tintuc{
			margin-top: 0;
			
		}
	}
	.chungnhan-tieuchuan {
		.title-section {
			margin-bottom: 5px;
		}
		.danhsach-chungnhan {
			overflow-x: auto;
			height: auto;
			justify-content: left;
			flex-wrap: nowrap;
			.box {
				width: 100%;
				padding: 15px 40px;
				margin: 20px 10px 20px 10px;
				box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07);
				.box-certificates{

					min-height: 100%;
					margin-bottom: 0;

					img{
						
					}
					p{
						font-size: 14px;
					}
				}
			}
		}
	}
	.khachhang{
		.owl-carousel {
			.item{
				padding-top: 0;
			}
		}
	}
	.title-section{
		margin-bottom: 25px;
	}
	.visao-chonshunfa {
		.content-visao-chonshunfa {
			padding: 0;
			.content-right {
				.detail {
					.info {
						h6{
							font-size: 18px;
						}
					}
				}
			}
			.content-left{
				flex-direction: column-reverse;
				.item-right{
					margin-left: 0;
					width: 100%;
				}
				.item-left{
					width: 100%;
					display: flex;
					.item2{
						margin-right: 10px;
						width: 50%;
						a{
							padding-top: 100%;
							img{
								width: 100%;
								margin-left: 0;
							}
						}
					}
					.item3{
						width: 50%;
					}
				}
			}
		}
	}
	.content-popup-csvc {
		#modal-popup-csvc{
			.modal-content{
				padding: 0 20px;
			}
			#caption{
				font-size: 18px;
			}
			.caption-container{
				padding: 5px;
			}
			.list-colum{
				padding: 0 10px 10px 10px;
			}		
			.modal-header {
						.close{
							top: -40px !important;
						}
					}
					.prev{
						width: 30px;
						height: 30px;
						bottom: 100px;
					}
					.next{
						width: 30px;
						height: 30px;
						bottom: 100px;
					}
		}
	}

	.coso-vatchat {
		.content-coso-vatchat{
			margin: 0;
			.col-md-6{
			}
			.img-right{
				
				.col-md-4{
				
					.csvc3{
						
						.avatar-thumb{
							a{
								padding-top: 78%;
							}
						}
						&::before{
						
							height: 93% !important;
							
						}
					}
					.csvc4{
					
						&::before{
						
							height: 93% !important;
						
						}
					}
				}
			}
			.csvc1{
				&::before{
					height: 97% !important;
				}
			}
			.csvc2{
				position: relative;
				margin-bottom: 0;
				&::before{					
					height: 93%;				
				}
				.avatar-thumb{
				a{
					padding-top: 86%;
					img{
						display: block;
					}
				}
				}
				
			}
			
		}
	}

	.danh-muc-san-pham{
		.content-danhmuc{
		.item-product{
			.avatar-thumb{
				a{
					img{
						width: 120px;
    					height: 120px;
					}
				}
			}
			p{
				max-width: 80% !important;
				a{
					font-size: 18px;
				}
			}
		}
			
		}
	}
	.slider-home {
		.img-sliders{
			img{
				min-height: 300px;
			}
		}
		.owl-dots{
			bottom: 80px;
			left: 20px;
		}
		.item {
			min-height: 100%;
			h1{
				line-height: 40px;
			}
			.infor-slide {
				p{
					margin-right: 0;
				}
			}
		}
	}
	header.show-menu .menu-mobile .close-menu{
		top: 15px;
		
	}
	header {
		.menu-mobile{
			top: 20px;
			
		}
		.content-head-right{
			margin-right: 15px;
		}
	}
	.slider-home {
		margin-top: 66px;
	}
	header .logo img {
		height: 46px;
	}
	#popup-contacts {
		.modal-header {
			.close{
				top: 40px !important;
			}
		}
		
		.form-contact {
			p {
				max-width: 100%;
				margin: 0 auto 35px auto;
			}
		}
		.modal-content{
			padding: 50px 20px;
		}
	}
	.container{
		padding-right: 20px;
		padding-left: 20px;
	}
	.box-head-page .col-md-4:last-child .box-item {
		border-bottom: 0;
		border-right: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.box-head-page{
		.col-md-4{
			flex: 0 0 100%;
    		max-width: 100%;
		}
		.box-item {
			border-bottom: 1px solid #ffffff2b;
			border-right: 0;
			padding-bottom: 20px;
			margin-bottom: 20px;
			.box-text {
				h2{
					font-size: 24px !important;
				}
			}
		}
		
	}
	section{
		padding: 30px 0;
	}
	
    .pagging-page ul li a, .pagging-page ul li span {
        width: 25px;
        height: 25px;
    }

// header {
	
// 	.menu nav ul li {
// 		padding-bottom: 8px;
// 		ul li {
// 			padding: 5px 0;
// 			a {
// 				transition: unset !important;
				
// 				&:hover{
// 					padding-left: 0;
// 				}
// 			}
// 		}
// 	}
//     .top-head{
//         .language-box {
//             margin-right: 50px;
//         }
//         .social-box{
//             display: none;
//         }
//     } 
//     .search-head{
//         display: none;
//     }
//     .btn-search-mb {
//         position: absolute;
// 		top: 30px;
// 		right: 45px;
//         display: block;
//         i{
//             font-size: 18px;
//             color: #858585;
            
//         }
//         .close-search-10{
//             display: none;
//         }
//     }
//     .ti-search-mb{
//         display: block;
//         font-weight: 600;
//     }
//     &.show-search-mb{
//         .close-search-10{
//             display: block;
//         }
//         .ti-search-mb{
//             display: none;
//         }
//         .search-head{
//             display: block;
//             position: fixed;
//             left: 0;
//             top: 61px;
//             width: 100%;
//             margin: 0;
//             input{
//                 border-radius: 0;
//                 background-color: white;
//                 box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
// 				border: 0;
// 				height: 50px;
//             }
//             .ti-search{
//                 display: none;
//             }
//         }
        
//     }
// }

	.title-section .desc-title {
		max-width: 100%;
	}
	.list-news-home {
		.news-left {
			padding-right: 0;
			margin: 15px 0 10px 0;
		}
		.news-right{
			padding-left: 50px  !important;
			border-top: 1px solid #e6e6e6;
			padding-top: 15px;
			.stt-news {
				top: 15px;
			}
		}
	}
	footer{
		.about-company-footer {
			padding-right: 0;
			margin-bottom: 35px;
		}
		padding-top: 20px;
		ul{
			margin-top: 10px !important;
			li a {
				margin-bottom: 5px;
				font-size: 14px;
			}
		}
	}
	footer .title-footer{
		margin-bottom: 0;
	}
	.title-footer{
		margin: 10px 0 5px 0;
	}
	.head-page .head-title-page {
		max-width: 100%;
	}
	.vision-mission .vision-item {
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
	}
	.div-info-thinking {
		.info-thinking{
			padding: 25px 20px 20px 20px;
			text-align: center;
			margin-top: 30px;
			border-radius: 4px;
			background-color: $bg-gray;
			h3::before {
				left: -10px;
				top: 5px;
				width: 52px;
				height: 52px;
			
			}
		} 
		.ceo-name{
			text-align: center;
		}
	}
	.detail-facilities{
		padding: 30px;
	}
	.box-certificates {
		min-height: inherit;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
		height: inherit;
	}
	.list-partners{
		margin-top: -10px;
		img {
			height: 25px;
			margin: 10px 3px;
		}
	}
	.listproduct{
		.col-md-3{
			width: 50%;
		}
		.item-product {
			padding: 15px 5px;
			a{
				-webkit-line-clamp: inherit;
				line-height: 22px;
				font-size: 16px;
			}
		}
	}
	.head-page .head-title-page p {
		display: none;
	}
	.form-connection {
		padding: 40px 20px;
	}
	.product-features .img-features img {
		padding-left: 0;
	}
	.video-page {
		text-align: center;
		padding: 20px;
		p{
			display: none;
		}
	}
	.slider-project-detail{
		.lSSlideOuter .lSPager.lSGallery li {
			height: 40px;
		}
		.lSPager.lSGallery li img{
			height: 30px !important;
		}
	}
	.section-pro-related .slider-product-home {
		margin-top: 0;
	}
	.page-list-project{
		.col-md-6{
			width: 50%;
		}
		.item-news{
			padding-left: 0 !important;
			.avatar-thumb {
				width: 100% !important;
				position: inherit;
			}
		}
	}
	.col-nav-sidebar{
		padding: 15px 20px;
		margin-bottom: 20px;
		ul{
			display: flex;
			overflow-x: scroll;
			height: auto;
			white-space: nowrap;
			width: 100%;
			flex-wrap: unset;
			justify-content: left;
			margin-bottom: 0;
			li{
				width: 100%;
				padding-right: 15px;
			}
		}
	} 
	.news-list-cate-news .item-news .info-news {
		padding: 0;
	}
	.content-detail-news {
		.row{
			flex-direction: column-reverse;
		}
		.box-scroll.show-sticky{
			margin-bottom: 15px;
		}
		.box-sticky-scroll {
			padding: 18px 20px;
			h5 {
				font-size: 16px;
				line-height: 14px;
				margin-bottom: 6px;
		}
	}
		.list-tags-news a {
			font-size: 13px;
			padding: 6px 10px;
			line-height: 20px;
			margin: 5px 5px 5px 0;
		}
		.other-news-right {
			margin-top: 15px;
			.info-news {
				padding: 5px 0;
				.title-news a {
					-webkit-line-clamp: inherit;
					font-size: 14px;
				}
			}
		}
	}
	.headpage-detail-news{
		margin-top: 80px;
	}
	.daily-news{
		.col-md-3{
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.video-lagre.section-who-are-you .videos{
		height: 216px;
		.overlay {
			height: 216px;
			&._active iframe {
				height: 216px;
			}
		}
		.video-cans {
			height: 216px;
		}
	}
	.featured-video {
		.slider-product-home{
			.item-news {
				padding-left: 0 !important;
			}
			.avatar-thumb{
				width: 100% !important;
				position: inherit;
			}
		}
	}
	.daily-video .item-news .info-news {
		padding: 0 0 0 10px;
	}
	.section-certificates{
		.col-md-3{
			width: 50%;
		}
	}
	.customer-feedback {
		h2 {
			margin-bottom: 20px;
		}
		.owl-item {
			padding: 0 20px;
		}
		.item-customer::before {
			display: none;
		}
	
	}
	
	.we-hiring .scrollbar {
		height: inherit;
	}
	.career-page {
		.row.mt-50{
			margin-top: 10px;
		}
		
		.item-career {
			position: relative;
			padding-left: 75px;
			margin-bottom: 10px;
			h4 {
				margin: 20px 0 15px 0;
			}
			img {
				height: 60px;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.contact-form {
		padding: 30px 20px;
	}
	.download-page .list-download .detail {
		padding: 20px 15px 20px 20px;
		.btn-download {
			position: initial;
			margin-top: 15px;
		}
	}
	.content-detail-project{
		padding-right: 0;
	}
	.page-project-detail {
		margin-top: 60px;
		margin-bottom: 5px;
	}
	.detail-cate-news .itemnews-large .date-time-news {
		margin-bottom: 10px !important;
	}
	.item-orther-categories {
		padding: 20px;
		margin-bottom: 15px;
		h4 a{
			font-size: 16px;
		}
	}
	.featured-video {
		.slider-product-home{
			margin-top: -25px;
		}
	}
	.daily-video .playvideo-icon {
		top: 30%;
		height: 35px;
	}
	.menu-tab-blogs ul {
		li {
			padding: 5px 10px 10px 0;
			a{
				font-size: 15px;
			}
		}
	}
	.menu-tab-blogs.menu-scroll{
		top: 61px;
	}
	.video-page .modal-dialog{
		max-width: 100%;
		iframe {
			height: inherit;
		}
	}
	.featured-video{
		.playvideo-icon{
			top: 75px;
		}
	}
	

}

@media only screen and (max-width: 320px) {
	.slider-home .item h1 {
		font-size: 20px !important;
	}
	header.show-search-mb .search-head {
		top: 60px;
	}
	footer {
		ul{
			margin: 8px 0 !important;
		}
		.hot-contact {
			.phone-box {
				padding-left: 35px;
				img {
					height: 25px;
					top: 10px;
				}
				span {
					font-size: 12px;
				}
				a {
					font-size: 18px;
				}
			}
		}
	}
	.pagging-page ul li a, .pagging-page ul li span {
		width: 20px;
		height: 20px;
		font-size: 12px;
	}
	.customer-feedback{
		.owl-item {
			padding: 0 20px;
		}
	} 
	.btn-header-mobile{
		.btn-profile-mb{
			border-right: 1px solid $border;
			width: 50%;
			height: 56px;
			float: left;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				height: 22px;
			}
			a{
				color: $brand;
			}
			p{
				margin-bottom: 0;
				font-size: 12px;
			}
		}
	}
}