
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
$border: #D9D9D9;
$bg-gray: #F3EDE0;
$brand: #9F6C38;
$brand-2: #3F3B3B;
$text:#3F3B3B;
$text-alpha:#757575;
@import "hanh";
body {
	font-family: 'Questrial', sans-serif;
	color: $text;
	// font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.5;
	background: #FAF6F3;
}
*{
	font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.container{
	max-width: 1200px;
	margin: auto;
}
a{
	&:hover{
		text-decoration: none;
		color: $brand;
	}
}
  *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
h1{
	font-size: 44px;
	 font-weight: normal;
	a, b , strong, p, label  {
		font-size: 45px;
		font-weight: normal;
	}
}
h2{
	font-size: 32px;
	font-weight: normal;
	a, b , strong, p, label  {
		font-size: 32px;
		font-weight: normal;
	}
}
h3{
	font-size: 28px;
	font-weight: normal;
	a, b , strong, p, label  {
		font-size: 28px;
		font-weight: normal;
	}
}
h4{
	font-size: 24px;
	font-weight: normal;
	a, b , strong, p, label  {
		font-size: 24px;
		font-weight: normal;
	}
}
h5{
	font-size: 22px;
	font-weight: normal;
	a, b , strong, p, label  {
		font-size: 22px;
		font-weight: normal;
	}
}
h6{
	font-size: 20px;
	font-weight: normal;
	a, b , strong, p, label  {
		font-size: 20px;
		font-weight: normal;
	}
}
p, strong, b, i{
	font-size: 16px;
}
span{
	font-size: 13px;
}

label{
	font-size: 14px;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-35 {
	margin-top: 35px;
}
.mt-45 {
	margin-top: 45px;
}
.mt-50 {
	margin-top: 50px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}
.mr-20 {
	margin-right: 20px;
}
.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
// img{
// 	width: 100%;
// }
.btn-header-mobile{
	display: none;
}
section{
	float: left;
	padding: 40px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.none-overflow{
	overflow: initial;
}
.box-shadow{
	background: #FFFFFF;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
	
}
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.title-section {
	h2 {
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
		line-height: 48px;
		margin-bottom: 0;
	}
	.desc-title{
		margin: 5px 0;
		color: $text-alpha;
		font-size: 18px;
		max-width: 80%;
		margin: 0 auto 20px auto;
	}

}
.title-page{
	display: inline-block;
	width: 100%;
}
.btn-action{
	display: inline-block;
	width: 100%;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	button{
		outline: none;
	}
}

button{
	border: 0;
	&:focus{
		outline: none;
	}
}
[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: unset;
	}
.btn-common-fill,
.btn-common-line,
input[type=button],
input[type=submit], .btn-common-fill2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 14px 12px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	color: white;
	height: 52px;
	line-height: 24px;
	font-size: 18px;
	border-radius: 4px;
	
	min-width: 160px;
	width: fit-content;
	&:hover {
		opacity: 0.7;
		color: white;
	}

	i,
	img, svg {
		//font-weight: 600;
		margin-left: 10px;
		width: 16px;
	}
	&::after{
		content: "\e941";
		
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
		margin-left: 10px;
	}
	
}
.btn-hosonangluc{
	&::after{
		content: "\e873";
		color: white;
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
		margin-left: 10px;
	}
}
.btn-xemthem-tintuc{
	&::after{
		content: "\e5db";
		color: white;
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
		margin-left: 10px;
	}
}
.btn-catalogue{
	&::after{
		content: none;
		color: white;
		font-size: 24px;
		font-family: 'Material Symbols Outlined';
		margin-left: 10px;
	}
}
.btn-common-fill{
	color: white;
}
.btn-common-line{
	background-color: white !important;
	color: $brand !important;
	border: 2px solid $brand !important;
	// &:hover{
	// 	background: $brand !important;
	// 	color: white !important;
	// 	border: 2px solid $brand !important;
	// }
}
.btn-common-fill2{
	background-color: $brand-2 !important;
	color: #fff !important;
	border: 2px solid $brand-2 !important;
}
.center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.text-main{
	color: $text;
}
.text-brand{
	color: $brand;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-alpha{
	color: $text-alpha;
}
.btn.focus, .btn:focus{
	box-shadow: none;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.fw-normal{
	font-weight: normal;
}

.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
/* -------------- Scrollbar-------------------- */
.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}
::-webkit-scrollbar-track
{
	border-radius: 50px;
	background-color: $border;
}

::-webkit-scrollbar
{
	width: 0;
	height: 2px;
	background-color: $border;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb
{
	
	border-radius: 50px;
	background-color: $brand;
}
/* -------------- Input / textarea -------------------- */
textarea{
	height: 88px !important;
}
.form-group{
	input, select, textarea{
		border: 2px solid $border;
		border-radius: 4px;
		width: 100%;
		padding: 10px 15px;
		height: 40px;
		font-size: 14px;
		line-height: 20px;
		color: $text;
		&::placeholder{
			color: #8C8B8D;
		}
		&:focus{
			border: 2px solid $brand;
		}
	
	}
}
::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}


 
/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}
.check-radio-custom [type="radio"]:checked+label{
	color: $brand !important;
}
.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-weight: normal;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid $border;
	border-radius: 100%;
	background: #fff;
}
.check-radio-custom [type="radio"]:checked + label::before{ 
	border: 1px solid $brand !important;
}
.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.form-control:focus {
    border-color: $brand;
    outline: 0;
    box-shadow: none;
}
/*------------ Custom select box -------------*/
.custom-select {
	height: 50px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: white;
	display: flex;
	align-items: center;
}
.select-items {
    overflow-y: auto !important;
    max-height: 250px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: $text-alpha;
	top: 15px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
}
.select-selected{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
}
/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	max-height: 140px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #EBF2FD;
}

/* ----------------------- Modal----------------------- */

.modal-dialog.modal-dialog-medium {
    max-width: 1000px;
}
.modal-dialog.modal-dialog-large {
    max-width: 100%;
}
.modal{
	padding: 80px 0;
	.submit-login-out{
		width: 100%;
	}
}

.modal-content{
    margin: auto;
	border: 0;
	border-radius: 4px;
	padding: 40px;
}
.modal-dialog {
	max-width: 700px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
	justify-content: center;

}
.modal-body{
	padding: 0;
}
.modal-header {
	padding: 0 10px;
	border-bottom: 0;
	justify-content: center;
	.close{
		position: absolute;
		right: 30px;
		font-size: 30px;
		padding: 8px;
		top: 30px;
		color: $text-alpha;
		opacity: 1;
		background: #d9d9d9;
		text-shadow: none;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		&:hover{
			outline: none;
		}
		&:before{
			content: "\e5cd";
			color: $brand;
			font-size: 24px;
			font-family: 'Material Symbols Outlined';
		
		}
	}
}
.modal-title{
	//font-weight: 600;
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		// margin-top: 35px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				display: flex;
				width: 38px;
				height: 38px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				text-decoration: none;
				color: $text;
				padding: 4px;
				//font-weight: 500;
				align-items: center;
				justify-content: center;
				
				&.active {
					color: $brand;
					background-color: transparent;
					padding-top: 5px;
					border-radius:50px;
					border: 1px solid $brand;
				}
			}

			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}
/*------------- Custom slider slider --------------*/

.owl-nav{
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 40%;
	span{
		opacity: 0;
		display: none;
	}
}
.owl-carousel{
	.item{
		padding: 20px;
		text-align: center;
		.item-news{
			margin-bottom: 0;
		}
		
	}
}
.owl-theme .owl-dots .owl-dot {
	height: inherit;
}
.owl-prev{
	position: absolute;
	left: 0;
	top: 50%;
	&::before{
		content: "\e64a";
		font-family: 'themify';
		display: block;
		font-size: 40px;
		color: $text-alpha;
		
	}
  }
  .owl-next{
	position: absolute;
	right: 0;
	top: 50%;
	&::before{
		content: "\e649";
		font-family: 'themify';
		display: block;
		font-size: 40px;
		color: $text-alpha;
		
	}
	
  }
  .owl-theme .owl-nav [class*=owl-]:hover{
	  background: transparent;
  }
  .owl-theme .owl-nav {
	margin-top: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: $brand !important;
}
/* --------------------------- Custom tab content ------------------------------- */
.tab-custom {
	.tab-content {
		margin: 20px 20px 0 10px;

	}

	.nav-tabs {
		border: 0;
		display: flex;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		justify-content: left;

		.nav-link {
			color: $text;
			border: 0;
			padding: 10px 25px;
			font-size: 16px;
			font-weight: 600;

			&.active {
				background-color: transparent;
				border-bottom: 2px solid $brand;
				color: $brand;
			}
		}
	}
}
/*------------- Custom editor  --------------*/
.editor-body{
	ul, ol{
		padding-left: 15px;
	}
	span, p, b, strong, label, i{
		font-size: initial ;
		width: initial;
		height: initial;
		font-weight: initial;
	}
	h1, h2, h3, h4, h5, h6{
		font-size: initial;
		width: initial;
		font-weight: initial;
		height: initial;
		span, p, b, strong, label, i, a{
		font-size: initial;
		width: initial;
		font-weight: initial;
		height: initial;
		}
	}
	img{
		max-width:100% ;
		margin: 15px 0;
		}
	}
/*------------- News --------------*/ 
.item-news {
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
	.info-news {
		padding: 10px 20px 20px 20px;
		background: white;
		box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.11);
		border-radius: 0 0 4px 4px;
		a span, span{
			color: $text-alpha;
			line-height: 20px;
		}
	}
	
	.avatar-thumb {
		display: block;
		a {
			img {
				border-radius: 4px 4px 0 0;
			}
		}
	}
	.title-news {
		min-height: 50px;
		margin-bottom: 15px;
		margin-top: 3px;
		line-height: 20px;
		@include webkit-line-clamp();
		&:hover{
			color: $brand;
		}
		a{
			color: $text;
			font-size: 18px;
			line-height: 26px;
			&:hover{
				color: $brand;
			}
		}
	}
	
}
.date-time-news {
	margin-bottom: 0;
	color: $text-alpha;
	position: relative;
	span{
		margin-right: 0 !important;
		font-size: 14px;
		line-height: 20px;
	}
	img{
		width: 20px;
		margin-right: 7px;
	}
	.date-news::after {
		content: ',';
		display: inline-block;
		margin-left: 0;
	}
	p{
		margin-left: 20px;
		margin-bottom: 0;
		&::before {
			content: "\ebcc";
			color: $text-alpha;
			font-size: 16px;
			font-family: 'Material Symbols Outlined';
			position: absolute;
			left: 0;
			top: 4px;
			
		}
	}

}
/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    top: 100px;
}
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	background: #fff;


}

/* --------------  Header -------------- */
header {
			display: inline-block;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99;
			transition: top 0.3s;
			// -webkit-transition: all .2s linear;
			// -moz-transition: all .2s linear;
			// transition: all .2s linear;
			padding: 20px 20px;
			background: #FAF6F3;	
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
			// border-bottom: 1px solid $border;
			.top-head{
				display: flex;
				align-items: center;
				.language-box{
					
					margin: 0 20px;
					
					img{
						height: 24px;
						cursor: pointer;
						margin-right: 0;
					}
					ul{
						position: absolute;
						left:-15px;
						top: 10px;
						width: 100px;
						display: inline-block;
						padding-top: 30px;
						opacity: 0;
						visibility: hidden;
						z-index: 2;
						li{
							opacity: 1 !important;
							display: inline-block;
							width: 100%;
							text-align: left;
							a{
								background: white;
								padding: 15px;
								box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.13);
								border-radius: 5px;
								color: #212529;
								width: 100%;
								display: inline-block;
								opacity: 1 !important;
								img{
									height: 24px;
									margin-right: 0;
								}
								
								&:hover{
									opacity: 1 !important;
									color: $brand;
								}
								
							}
						}
					}
					&:hover{
						cursor: pointer;
						ul{
							opacity: 1;
							visibility: initial;
						}
					}
				}
			}
		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}	
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;
			text-align: left;
			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding:  0 15px;
						&::before {
							content: "\e5c5";
							color: $text-alpha;
							font-size: 18px;
							font-family: 'Material Symbols Outlined';
							
							position: absolute;
							right: -5px;
							top: 0;
							z-index: 3;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0;
							position: relative;
							font-size: 18px;
							//font-weight: 500;
							color: $text;
							display: flex;
							align-items: center;
						
						}
						
						ul {
							position: absolute;
							width: 330px;
							left: 15px;
							top: 32px;
							border-radius: 0 0 4px 4px;
							border-top:2px solid $brand;
							opacity: 0;
							visibility: hidden;
							background: #FAF6F3;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding:  12px 24px 12px 24px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding:  0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 12px 0;
									font-size: 18px;
									color: $text;
									border-bottom: 0;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 0;
										border-radius: 0;
										color: $text-alpha;
									}
									
								}
								&:last-child{
									a{
										border-bottom: 0;
									}
								}

							}

						}

						&:hover {
							&::before {
								color: $brand;
							}
							a{
								color: $brand;
							}
							ul {
								opacity: 1;
								visibility: initial;
								li a{
									color: $text;
									&:hover{
										color: $brand;
									}
								}
								
							}
						}

						&.active {
							&::before{
								color: $brand;
							}
							a {
								color: $brand;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $brand;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.btn-search-mb{
			display: none;
		}
		.search-head{
			background: white;
			display: none;
			width: 100%;
			display: none;
			position: fixed;
			top: 100px;
			left: 0;
			transition: 0.5s;
			box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
			border: 1px solid $border;
			&:hover{
				border: 1px solid $brand;
			}
			.container{
				max-width: 600px;
				position: relative;
			}
			.ti-close:before {
				content: "\e646" !important;
			}
			i{
				position: absolute;
				right: 0;
				top: 5px;
				cursor: pointer;
				color: $text-alpha;
				padding: 10px;
				border-radius: 0 2px 2px 0;
				//font-weight: 400;
			}
		}
		.btn-search-mb{
			display: block;
			// background: #F0F5FA;
			// width: 35px;
			// height: 35px;
			// border-radius: 50%;
			// padding-top: 8px;
			// padding-left: 11px;
			cursor: pointer;
			.ic-search{
				color: #959FAB;
				&::before{
					//font-weight: 600;
					// content: "\e610";
					font-size: 15px;
				}
			}
		}
		.top-head{
			// position: relative;
			&.show-search-mb {
				.search-head{
					display: block;
					z-index: 2;
				   
					i{
						border-radius: 0;
					}
				}
				.close-search{
					display: block;
				}
				input{
					border:0;
					border-radius: 2px;
					height: 55px;
					&::placeholder{
						color: $text-alpha;
						font-size: 14px;
					}
				}
			   
				.top-head{
					position: absolute;
					top: 15px;
					width: 100%;
					left: 0;
				}
			  }
		}
		.logo{
			float: left;
			img{
				height: 76px;
			}
		}
		
		.menu-mobile{
			display: none;
			.ti-menu{
				display: none;
			}
			 .close-menu{
				 display: none;
			 }
		 }
	
	}
	.social-box {
		display: inline-block;
		margin: 0 10px;
		a{
			color: $text;
			margin: 0 10px;
		}
	}
	.phone-box {
		display: inline-block;
		img{
			margin-right: 5px;
		}
		span {
			color: $brand;
			font-size: 18px;
			//font-weight: 600;
		}
	}
/* --------------  End Header -------------- */

/* --------------  Slider homepage -------------- */

.slider-home{
	// margin-top: 100px;
	.owl-prev{
		left: 5%;
		&::before{
			color: #fff;
			
		}
	}
	.owl-next{
		right: 5%;
		&::before{
			color: #fff;
		}
	}
    .item{
		position: relative;
		padding: 0;
        .infor-slide{
            top: calc(50% - 67px);
            // position: absolute;
			// width: 100%;
			text-align: left;
			z-index: 1;
			p{
				color: $text;
				font-size: 20px;
				line-height: 32px;
				margin-bottom: 24px;
				margin-right: 120px;
			}
        }
        h1{
			
			line-height: 60px;
			color: $text;
			text-align: left;
			text-transform: uppercase;
			margin-bottom: 16px;
        }
       .img-banner-mb{
		   display: none;
	   }
	   .img-banner-mpc{
		   display: block;
	   }
        img{
           width: 100%;
		}
		.btn-common-fill2{
			margin:  20px auto;
		}
		&::after{
			//background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
			opacity: 0.6;
			height: 100%;
			content: '';
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: 0;
		}
    }
	.owl-nav{
		display: none;
	}
    .owl-dots{
        display: block !important;
        display: inline-block;
        // width: 100%;
        text-align: center;
        position: absolute;
		bottom: 50px;
		left: 40px;
        button{
            margin: 0 2px;
            span{
                width: 50px !important;
                height: 6px !important;
                border-radius: 50%;
				display: block;
				background: #B3B1A9 !important ;
				// border: 1px solid #fff ;
				margin: 0 5px !important;
                content: '';
            }
            &.active{
                span{
					background: #fff !important;
					border: 0;
                }
            }
        }
	}
	
}

.call-to-action{
	background-size: cover !important;
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
	justify-content: center;
	min-height: 438px;
	.content-action{
		text-align: center;
		color: #fff;
		max-width: 70%;
		margin: 0 auto;
		a{
			margin: 0 auto;
		}
	}
}
footer{
	padding: 50px 0 50px 0;
	border-top: 1px solid $border;
	clear: both;
	.title-footer{
		a{
			color: $text;
			//font-weight: 600;
		}
	}
	.about-company-footer{
		
		img{
			height: 80px;
		}
		p{
			font-size: 22px;
			margin-top: 25px;
			text-transform: uppercase;
			margin-bottom: 9px;
		}
	}
	
	ul li {
		list-style: none;
		a {
			color: $text;
			text-transform: capitalize;
			width: 100%;
			display: inline-block;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.hot-contact{
		display: flex;
		align-items: center;
		.social-box{
			margin-left: 0;
			a{
				display: inline-block;
    			margin-left: 0;
			}
			img{
				height: 30px;
			}
		}
		
		.phone-box{
			position: relative;
			padding-left: 55px;
			img{
				height: 40px;
				position: absolute;
				left: 0;
				top: 5px;
			}
			span{
				font-size: 14px;
				font-weight: normal;
				display: inline-block;
				width: 100%;
			}
			a{
				font-size: 22px;
				//font-weight: 600;
				color: $brand;
				line-height: initial;
			}
		}
	}
}
/* ------------------- Page about ------------------ */
.breadcrumbs {
	position: absolute;
	top: 25px;
	z-index: 1;

i {
	color: white;
	//font-weight: 600;
	font-size: 13px;
}

	a {
		color: white;
		font-size: 13px;
	}
}
.head-page {
    position: relative;
    background-size: cover !important;
    min-height: 500px;
    text-align: center;
    color: white;
	margin-top: 103px;
	&::after{
		background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
		opacity: 0.6;
		height: 100%;
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		z-index: 0;
	}
	.head-title-page{
		z-index: 1;
		position: relative;
		max-width: 70%;
		margin: 0 auto;
    	text-align: center;
		text-transform: uppercase;
		p{
			text-transform: initial;
			font-size: 18px;
		}
	}
	
}

.list-partners{
	display: inline-block;
    width: 100%;
    text-align: center;
	img{
		height: 80px;
		margin: 10px 20px;
	}
	.owl-nav{
		display: none;
	}
}
.bg-gray{
	background-color: $bg-gray;
}

.col-nav-sidebar{
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	text-align: left;
	  ul{
		  padding: 0;
		  margin-bottom: 0;
		  li{
			  list-style: none;
			  a{
				  font-size: 14px;
				  padding: 10px 0;
				  position: relative;
				  display: inline-block;
				  color: $text-alpha;
				  //font-weight: 500;
				  width: 100%;
			  }
			  &:hover, &.active{
				  a{
					  color: $brand;
					 
				  }
			  }
		  }
	  }
}
.hover-scale {
    a {
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden;
  
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
      }
    }
  
    &:hover {
      img {
        webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
  


  