@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700;800&family=Manrope:wght@400;500;700&display=swap");
@media only screen and (max-width: 1500px) {
  .tb-manufacturing-about .slider_counter {
    margin-bottom: 30px; }
    .tb-manufacturing-about .slider_counter .current {
      font-size: 60px; }
    .tb-manufacturing-about .slider_counter .length {
      font-size: 60px; }
  .tb-manufacturing-about .next-slick-arrow span::before {
    width: 120px;
    height: 120px;
    top: 0; }
  .tb-manufacturing-about .slick-thumb-nav img {
    width: 120px; }

  .tb-vision-mission .tb-vision-mission-container {
    max-width: 1200px; }
  .tb-vision-mission .tb-box-vision b {
    font-size: 18px; }
  .tb-vision-mission .tb-box-vision p {
    font-size: 28px; }
    .tb-vision-mission .tb-box-vision p b {
      font-size: 28px; }
  .tb-vision-mission .core-value img {
    width: 430px; }

  .tb-history-page .tb-title-section {
    margin-bottom: 40px; }
  .tb-history-page .slick-list {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slick-dots {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slide-placeholder .content {
    padding-top: 50px; }
    .tb-history-page .tb-horizontal .slide-placeholder .content p {
      -webkit-line-clamp: inherit;
      min-height: 230px; }
  .tb-history-page .tb-horizontal .slide-placeholder h2 {
    font-size: 40px; }
  .tb-history-page .tb-horizontal .slick-next::before {
    right: 50px;
    top: -100px;
    width: 50px;
    height: 50px; }
  .tb-history-page .tb-horizontal .slick-prev::before {
    left: 50px;
    top: -100px;
    width: 50px;
    height: 50px; }

  .tb-item-content-investment p {
    min-height: 186px; }

  footer .container-footer {
    max-width: 1200px; }
    footer .container-footer .tb-logo-footer {
      margin-right: 80px; }

  .tb-product-categories .tb-product-categories-container .tab-content .content {
    top: 10px;
    padding: 30px 54px; }
    .tb-product-categories .tb-product-categories-container .tab-content .content h2 {
      margin-bottom: 20px; }

  .tb-project-in-cuba .tb-project-in-cuba-container {
    max-width: 1200px !important; }
    .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
      font-size: 50px !important; }
    .tb-project-in-cuba .tb-project-in-cuba-container .mg-right {
      margin-right: 40px !important; }
    .tb-project-in-cuba .tb-project-in-cuba-container .content-left p {
      font-size: 20px !important; }

  .tp-consumer-project-detail-banner {
    margin-bottom: 100px; }

  .tb-project-in-cuba {
    margin-bottom: 100px; }

  .tb-our-the-business {
    margin-bottom: 100px; }
    .tb-our-the-business .tb-our-the-business-container {
      max-width: 1200px !important; }

  .tb-together.tb-together-product {
    margin-bottom: 100px; }

  .tb-consumer-product .tb-consumer-product-container {
    max-width: 1200px !important; }

  .tb-green-power-project .tb-green-power-project-container {
    max-width: 1200px !important; }

  .tb-benefits-of-investment {
    margin-bottom: 48px; }

  .tb-benefits-of-investment-container {
    max-width: 1200px !important; }
    .tb-benefits-of-investment-container .tb-title-section {
      font-size: 40px !important; }
    .tb-benefits-of-investment-container .tb-infor-manafactures h5 a {
      font-size: 24px !important; }
    .tb-benefits-of-investment-container .tb-infor-manafactures p {
      font-size: 20px !important; }

  .tb-box-achrievement-numbers {
    max-width: 1200px; }

  .tb-achrievement-item a.tb-infor-achrievement {
    left: 30px;
    bottom: 30px;
    font-size: 30px; }

  .tb-contact-banner {
    margin-bottom: 60px !important; }

  .tab-tb-content-contact .tab-custom {
    margin-top: 0; }

  .tab-tb-content-contact .tab-custom .tab-title {
    max-width: 1200px; }

  .tb-mariel-special-development-container {
    max-width: 1200px !important; }

  .tb-content-absolute .tb-container-absolute {
    max-width: 1200px !important; }
    .tb-content-absolute .tb-container-absolute .tb-item-content-investment h6 {
      padding-right: 0; }

  .tb-investment.tb-product-orientation {
    margin-bottom: 100px; }

  .tb-product-categories .tb-product-categories-container {
    max-width: 1200px; }

  .tb-social-activites.tb-mariel-special-development {
    margin-bottom: 60px; }

  .tb-green-power-project {
    margin-bottom: 100px;
    padding: 100px 0; }

  .tb-consumer-product {
    padding-bottom: 100px; }

  .tb-benefits-of-investment.tb-other-industries {
    padding: 98px 0 70px 0;
    margin-bottom: 100px; }

  .tb-together.tb-buy-from-us .tb-infor-together {
    padding: 170px 100px 0 100px; }

  .tb-together.tb-buy-from-us {
    margin-top: 100px; }

  .tb-logo-brands.tb-our-biggest-products-brands {
    padding: 100px 0;
    margin-bottom: 100px; }

  .tb-how-we-add {
    padding-top: 100px;
    margin-bottom: 100px; }
    .tb-how-we-add .tb-how-we-add-container {
      max-width: 1200px !important; }

  .tb-logo-brands {
    margin-bottom: 100px; }
    .tb-logo-brands .tb-logo-brands-container {
      max-width: 1200px !important; }

  .tb-list-product {
    margin-bottom: 100px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment h6, .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment h6 {
    padding-right: 150px; }

  .tb-social-activites {
    margin-bottom: 100px; }

  .tb-together {
    margin-bottom: 100px; }

  .tb-manufactures {
    margin-bottom: 100px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
    padding-left: 77px; }

  .archievement-section {
    padding: 0 0 100px 0; }

  .tb-product-section {
    margin-top: 100px;
    margin-bottom: 0; }

  header.tb-header nav ul li {
    padding: 0 30px; } }
@media only screen and (max-width: 1300px) {
  .tb-history-page .tb-title-section {
    margin-bottom: 40px; }
  .tb-history-page .slick-list {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slick-dots {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slide-placeholder .content {
    padding-top: 50px; }
    .tb-history-page .tb-horizontal .slide-placeholder .content p {
      -webkit-line-clamp: inherit;
      min-height: 230px; }
  .tb-history-page .tb-horizontal .slide-placeholder h2 {
    font-size: 40px; }
  .tb-history-page .tb-horizontal .slick-next::before {
    right: 0;
    width: 54px;
    height: 54px; }
  .tb-history-page .tb-horizontal .slick-prev::before {
    left: 0;
    width: 54px;
    height: 54px; }

  .tb-list-product .title-bottom {
    font-size: 24px; }
  .tb-list-product .title-top {
    font-size: 24px; }

  .tb-investment .tb-title-section {
    padding-left: 30px; }

  .tb-product-slide label {
    font-size: 130px; }

  .tb-title-section {
    font-size: 40px; }
    .tb-title-section b {
      font-size: 40px; }

  .tb-labe-name-section {
    font-size: 130px;
    left: 0 !important;
    top: 70px; }

  .tb-infor-achrievement h3 {
    font-size: 32px; }

  .tb-item-numbers-count h2 {
    font-size: 50px; }
  .tb-item-numbers-count b {
    font-size: 24px; }

  .tp-slide .bg-opacity p {
    padding: 0 20px; }

  .tb-manufactures .row .tb-item-manafuctures h5 a {
    font-size: 22px; }

  .tb-manufactures .row .tb-item-manafuctures p {
    font-size: 18px; }

  .tb-manufactures .row .tb-item-manafuctures .tb-link-manafactures a span {
    font-size: 16px; }

  .tb-achrievement-item a.tb-infor-achrievement {
    padding-left: 0;
    font-size: 24px;
    bottom: 20px; }

  .tb-content-absolute {
    left: 45px;
    padding-right: 77px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
    padding-left: 40px; }

  .tb-manufactures .row .tb-item-manafuctures .tb-infor-manafactures {
    padding: 25px; }

  .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
    font-size: 45px !important; }

  .tb-contact-banner .tb-head-page-container {
    left: 80px;
    top: 50px; }

  header.tb-header {
    padding-left: 10px; }
    header.tb-header nav ul li {
      padding: 0 15px; }

  .tb-box-content-achrievement .tb-content-archievement {
    left: 100px; }
    .tb-box-content-achrievement .tb-content-archievement .tb-container-achrievement .tb-infor-achrievement {
      padding-right: 100px; }

  .tb-together .tb-infor-together {
    padding: 70px 100px 0 100px; }

  .tb-footer .container-footer .tb-logo-footer .tb-img-logo-footer {
    width: 80px  !important; }

  .tb-footer .tb-logo-footer {
    width: 100%; }
  .tb-footer .social-footer {
    display: inherit; }
    .tb-footer .social-footer img {
      height: 24px; }
  .tb-footer .tab-content .tab-pane {
    padding: 0; }
  .tb-footer .tab-content .tb-content-tab-footer {
    padding: 10px; }
  .tb-footer .tb-content-tab-footer span {
    font-size: 13px !important; }
  .tb-footer .container-footer {
    margin: 0 auto;
    padding: 0 20px; }
    .tb-footer .container-footer .tb-logo-footer {
      max-width: 220px;
      margin-right: 30px; }
      .tb-footer .container-footer .tb-logo-footer .tb-img-logo-footer {
        margin-bottom: 40px; }
    .tb-footer .container-footer .tb-link-contact-footer {
      max-width: 220px;
      margin-right: 20px;
      min-width: inherit; }
    .tb-footer .container-footer .tb-link-footer {
      max-width: 220px;
      margin-right: 30px;
      min-width: inherit; }
      .tb-footer .container-footer .tb-link-footer .tb-title-footer b {
        font-size: 16px; }

  .tb-together.tb-buy-from-us .tb-infor-together {
    padding: 100px 100px 0 100px; } }
@media only screen and (max-width: 1000px) {
  .tb-heade-mb.show .languages-search {
    display: none; }

  .tb-title-section {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 114.5%;
    /* 45.8px */
    text-transform: uppercase;
    margin-bottom: 48px; }
    .tb-title-section b {
      font-size: 40px;
      text-transform: initial;
      white-space: nowrap; }

  .tb-heade-mb ul li {
    height: initial !important;
    display: inline-block; }
    .tb-heade-mb ul li.active .submenu {
      display: block !important; }
    .tb-heade-mb ul li.active img {
      transform: rotate(180deg); }
    .tb-heade-mb ul li ul {
      top: 0 !important;
      position: relative;
      height: initial !important;
      float: left !important; }
      .tb-heade-mb ul li ul li {
        height: initial !important;
        float: left !important;
        width: 50% !important;
        text-align: center; }
        .tb-heade-mb ul li ul li a {
          text-align: center; }

  .archievement-section {
    padding: 0; }
    .archievement-section .tb-item-numbers-count .list-number {
      max-width: 245px;
      margin: 0 auto 50px auto; }
    .archievement-section .tb-item-numbers-count h2 {
      font-size: 64px; }
    .archievement-section .tb-item-numbers-count b {
      line-height: 144%;
      /* 46.08px */
      font-size: 32px;
      margin-bottom: 16px; }

  .tp-video {
    padding: 24px 24px 65px 24px; }

  .tb-footer {
    display: none; }

  .tp-slide {
    display: none; }
    .tp-slide.tp-slide-mb {
      display: block; }
      .tp-slide.tp-slide-mb .bg-opacity {
        align-items: flex-end; }
        .tp-slide.tp-slide-mb .bg-opacity p {
          font-size: 30px;
          font-style: normal;
          font-weight: 800;
          line-height: 119.5%;
          /* 35.85px */
          letter-spacing: -0.75px;
          margin-bottom: 115px; }

  .tp-button.tb-btn-blue a span {
    display: none; }

  .tp-button.tb-btn-blue a {
    height: 60px;
    width: 60px; }
    .tp-button.tb-btn-blue a b {
      padding: 0 20px;
      margin-left: 0; }
      .tp-button.tb-btn-blue a b img {
        height: 24px; }

  .tb-header.tb-heade-mb nav ul li .submenu.active {
    display: block !important; }

  .tp-slide {
    margin-top: 85px; }

  header.tb-header {
    display: none; }

  .box-head-mb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }

  .tb-header {
    display: none; }
    .tb-header.tb-heade-mb {
      display: block !important;
      height: 85px;
      padding: 12px 24px; }
      .tb-header.tb-heade-mb .arrow-down {
        margin-left: 8px; }
      .tb-header.tb-heade-mb .logo-mb img {
        height: 59px; }
      .tb-header.tb-heade-mb .ti-menu:before {
        font-size: 0;
        background: url(../images/menu-mb-icon.svg) no-repeat center;
        width: 24px;
        height: 24px;
        display: inline-block; }
      .tb-header.tb-heade-mb .ti-close:before {
        background: url(../images/ic-close-mb.svg) no-repeat center;
        width: 24px;
        height: 24px;
        display: inline-block; }
      .tb-header.tb-heade-mb .img-show-search {
        margin-right: 16px; }
      .tb-header.tb-heade-mb .sub-search {
        height: 85px; }
        .tb-header.tb-heade-mb .sub-search .logo img {
          width: 63px;
          height: 59px; }
      .tb-header.tb-heade-mb .sub-languages {
        right: 0;
        top: 0; }
        .tb-header.tb-heade-mb .sub-languages .content-sub {
          margin-top: 55px; }
      .tb-header.tb-heade-mb .languages-search {
        margin-right: 40px; }
      .tb-header.tb-heade-mb .menu-mobile {
        position: absolute;
        top: 30px;
        right: 25px;
        display: block;
        z-index: 2; }
        .tb-header.tb-heade-mb .menu-mobile i {
          font-size: 0; }
        .tb-header.tb-heade-mb .menu-mobile .ti-menu {
          display: block; }
        .tb-header.tb-heade-mb .menu-mobile .close-menu {
          display: none; }
      .tb-header.tb-heade-mb nav {
        display: none; }
        .tb-header.tb-heade-mb nav ul li ul.submenu {
          display: none; }
      .tb-header.tb-heade-mb.show nav {
        display: block; }
        .tb-header.tb-heade-mb.show nav ul {
          position: fixed;
          left: 0;
          top: 85px;
          width: 100%;
          height: 100%;
          background: #003D96;
          border-top: 0;
          padding: 11px 16px 30px 16px !important;
          scroll-behavior: smooth;
          transition: all 0.2s ease-in-out;
          display: inline-block; }
          .tb-header.tb-heade-mb.show nav ul li {
            display: inherit;
            text-align: center;
            height: 41px;
            padding: 8px 32px;
            margin-bottom: 24px; }
            .tb-header.tb-heade-mb.show nav ul li a {
              color: white;
              font-family: 'Geologica', sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
              margin-right: 0; }
            .tb-header.tb-heade-mb.show nav ul li ul.submenu {
              display: none;
              background: #00326E;
              position: initial;
              height: initial;
              padding-top: 0  !important; }
              .tb-header.tb-heade-mb.show nav ul li ul.submenu li {
                padding: 16px 12px;
                height: inherit;
                margin-bottom: 0;
                width: 50%;
                float: left; }
                .tb-header.tb-heade-mb.show nav ul li ul.submenu li a {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  letter-spacing: -0.28px;
                  text-transform: uppercase; }
      .tb-header.tb-heade-mb.show .tp-search {
        display: none; }
      .tb-header.tb-heade-mb.show .tp-language {
        display: none; }
      .tb-header.tb-heade-mb.show .menu-mobile .ti-menu {
        display: none; }
      .tb-header.tb-heade-mb.show .menu-mobile .close-menu {
        position: fixed;
        top: 30px;
        right: 25px;
        display: block;
        z-index: 2; }
      .tb-header.tb-heade-mb.show .box-head-mb {
        position: absolute;
        top: 12px;
        padding-right: 100px; }
      .tb-header.tb-heade-mb.show .languages-search {
        z-index: -1;
        position: relative; } }

/*# sourceMappingURL=responsive.css.map */
