@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700;800&family=Manrope:wght@400;500;700&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #2A6BBC;
$brand-2: #5AAE37;
$text:#333;
$text-alpha:#858585;
$text-erro: #F71729;

$tb-blue: #0068FF;
$tb-red: #ED1C24;
$tb-blue-b: #002A67;
$tb-yellow: #FFB526;
$tb-text: #111;
$tb-white: #fff;
@mixin font-bold{
	font-family: 'Geologica', sans-serif;
	font-weight: 800;
}

@media only screen and (max-width: 1500px) {
    .tb-manufacturing-about {
        
        
        // .slick-arrow.slick-next{
        //     bottom: 15px;
        // }
        .slider_counter{
            margin-bottom:30px;
            .current{
                   font-size: 60px;
            }
            .length{
                font-size: 60px;
            }
        }
        .next-slick-arrow {
            span{
                &::before{
                    width: 120px;
                    height: 120px;
                    top: 0;
                }
            }
        }
        .slick-thumb-nav {
            img{
                width: 120px;
            }
        }
    }
    .tb-vision-mission{
        .tb-vision-mission-container{
            max-width: 1200px;
        }
        .tb-box-vision {
            b{
                font-size: 18px;
            }
           
            p{
                font-size: 28px;
                b{
                    font-size: 28px;
                }
            }
        }
        .core-value{
            img{
                width: 430px;
            }
        }
    }
    .tb-history-page {
       .tb-title-section {
            margin-bottom: 40px;
        }
        .slick-list{
            max-width: 1200px;
        }
        .tb-horizontal {
            .slick-dots{
                max-width: 1200px;
            }
            .slide-placeholder {
                .content{
                    padding-top: 50px;
                    p{
                        -webkit-line-clamp: inherit;
                        min-height: 230px;
                    }
                }
                h2{
                    font-size: 40px;
                }
            }
            .slick-next::before{
                right: 50px;
                top: -100px;
               width: 50px;
               height: 50px;

            }
            .slick-prev::before{
                left:50px;
                top: -100px;
                width: 50px;
                height: 50px;
            }
        }
    }
   
    .tb-item-content-investment p{
        min-height: 186px;
    }
    footer .container-footer{
        max-width: 1200px;
        .tb-logo-footer{
            margin-right: 80px;
        }
    }
    .tb-product-categories .tb-product-categories-container .tab-content .content{
        top: 10px;
        padding: 30px 54px;
        h2{
            margin-bottom: 20px;
        }
    }
    .tb-project-in-cuba .tb-project-in-cuba-container{
        max-width: 1200px !important;
        .number{
            h2{
                font-size: 50px!important;
            }
        }
        .mg-right{
            margin-right: 40px!important;
        }
        .content-left{
            p{
                font-size: 20px!important;
            }
        }
    }
    .tp-consumer-project-detail-banner{
        margin-bottom: 100px;
    }
    .tb-project-in-cuba{
        margin-bottom: 100px;
    }
    .tb-our-the-business {
        margin-bottom: 100px;
        .tb-our-the-business-container{
            max-width: 1200px !important;
        }
    }
    .tb-together.tb-together-product{
        margin-bottom: 100px;
    }
    .tb-consumer-product {
        .tb-consumer-product-container{
            max-width: 1200px !important;
        }
    }
    .tb-green-power-project {
        .tb-green-power-project-container{
            max-width: 1200px !important;
        }
    }
    .tb-benefits-of-investment{
        margin-bottom: 48px;
    }
   .tb-benefits-of-investment-container{
        max-width: 1200px !important;
        .tb-title-section{
            font-size: 40px !important;
        }
        .tb-infor-manafactures{
            h5{
                a{
                    font-size: 24px!important;
                }
            }
            p{
                font-size: 20px!important;
            }
        }
    }
    .tb-box-achrievement-numbers{
        max-width: 1200px ;
    }
    .tb-achrievement-item a.tb-infor-achrievement{

        left: 30px;
        bottom: 30px;
        font-size: 30px;
    }
    .tb-contact-banner{
        margin-bottom: 60px !important;
    }
    .tab-tb-content-contact .tab-custom{
        margin-top: 0;
    }
    .tab-tb-content-contact .tab-custom .tab-title{
        max-width: 1200px ;
    }
    .tb-mariel-special-development-container{
        max-width: 1200px !important;
    }
    .tb-content-absolute .tb-container-absolute{
        max-width: 1200px !important;
        .tb-item-content-investment{
            h6{
                padding-right: 0;
            }
        }
    }
    .tb-investment.tb-product-orientation{
        margin-bottom: 100px;
    }
    .tb-product-categories .tb-product-categories-container{
        max-width: 1200px;
    }
    .tb-social-activites.tb-mariel-special-development{
        margin-bottom: 60px;
    }
    .tb-green-power-project{
        margin-bottom: 100px;
        padding: 100px 0;
    }
    .tb-consumer-product{
        padding-bottom: 100px;
    }
    .tb-benefits-of-investment.tb-other-industries{
        padding: 98px 0 70px 0;
        margin-bottom: 100px;
    }
    .tb-together.tb-buy-from-us .tb-infor-together {
        padding: 170px 100px 0 100px;
    }
    .tb-together.tb-buy-from-us{
        margin-top: 100px;
    }
    .tb-logo-brands.tb-our-biggest-products-brands{
        padding: 100px 0;
        margin-bottom: 100px;
    }

    .tb-how-we-add{
        padding-top: 100px;
        margin-bottom: 100px;
        .tb-how-we-add-container{
            max-width: 1200px !important;
        }
    }
    .tb-logo-brands{
        margin-bottom: 100px;
        .tb-logo-brands-container{
            max-width: 1200px !important;
        }
    }
    .tb-list-product{
        margin-bottom: 100px;
    }
    .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment h6, .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment h6{
        padding-right: 150px;
    }
    .tb-social-activites{
        margin-bottom: 100px;
    }
    .tb-together{
        margin-bottom: 100px;
    }
    .tb-manufactures{
        margin-bottom: 100px;
    }
    .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment{
        padding-left: 77px;
    }
    .archievement-section {
        padding: 0 0 100px 0;
       
    }
    .tb-product-section{
        margin-top: 100px;
        margin-bottom: 0;
    }
    header.tb-header {
        nav{
            ul{
                li{
                    padding: 0 30px;
                }
            }
        }
    }
   
}
@media only screen and (max-width: 1300px) {
    .tb-history-page {
        .tb-title-section {
             margin-bottom: 40px;
         }
         .slick-list{
             max-width: 1200px;
         }
         .tb-horizontal {
             .slick-dots{
                 max-width: 1200px;
             }
             .slide-placeholder {
                 .content{
                     padding-top: 50px;
                     p{
                         -webkit-line-clamp: inherit;
                         min-height: 230px;
                     }
                 }
                 h2{
                     font-size: 40px;
                 }
             }
             .slick-next::before{
                 right: 0;
                 width: 54px;
                 height: 54px;
             }
             .slick-prev::before{
                 left: 0;
                 width: 54px;
                 height: 54px;
             }
         }
     }
   
  
    .tb-list-product {
        .title-bottom{
            font-size: 24px;
        }
        .title-top{
            font-size: 24px;
        }
    }
    .tb-investment .tb-title-section {
       
        padding-left: 30px;
    }
    .tb-product-slide label{
        font-size: 130px;
    }
    .tb-title-section{
        font-size: 40px;
        b{
            font-size: 40px;
        }
    }
    .tb-labe-name-section{
        font-size: 130px;
        left: 0 !important;
        top: 70px;
    }
    .tb-infor-achrievement h3 {
        font-size: 32px;
    }
    .tb-item-numbers-count {
        h2{
            font-size: 50px;
        }
        b{
            font-size: 24px;
        }
    }
    .tp-slide .bg-opacity p{
        padding: 0 20px;
    }
    .tb-manufactures .row .tb-item-manafuctures h5 a{
        font-size: 22px;
    }
    .tb-manufactures .row .tb-item-manafuctures p{
        font-size: 18px;
    }
    .tb-manufactures .row .tb-item-manafuctures .tb-link-manafactures a span{
        font-size: 16px;
    }
    .tb-achrievement-item a.tb-infor-achrievement{
        padding-left: 0;
        font-size: 24px;
        bottom: 20px;
    }
    .tb-content-absolute{
        left: 45px;
        padding-right: 77px;
    }
    .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
        padding-left: 40px;
    }
    .tb-manufactures .row .tb-item-manafuctures .tb-infor-manafactures{
        padding: 25px ;
    }
    .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
        font-size: 45px !important;
    }
    .tb-contact-banner .tb-head-page-container{
        left: 80px;
        top: 50px;
    }
    header.tb-header {
        padding-left: 10px;
        nav{
            ul{
                li{
                    padding: 0 15px;
                }
            }
        }
    }
    .tb-box-content-achrievement {
        .tb-content-archievement{
            left: 100px;
            .tb-container-achrievement{
                .tb-infor-achrievement{
                    padding-right: 100px;
                }
            }
            
        }
    }
    .tb-together {
        .tb-infor-together{
            padding: 70px 100px 0 100px;
        }
    }
    .tb-footer .container-footer .tb-logo-footer .tb-img-logo-footer{
        width: 80px  !important;
    }
    .tb-footer{
        .tb-logo-footer{
            width: 100%;
        }
       
        .social-footer{
            display: inherit;
            img{
                height: 24px;
            }
        }
        .tab-content{
            .tab-pane{
                padding: 0;
            }
            .tb-content-tab-footer{
                padding: 10px;
            }
            
        }
        .tb-content-tab-footer span{
            font-size: 13px !important;
        }
        .container-footer{
            margin: 0 auto;
            padding: 0 20px;
            .tb-logo-footer{
                max-width: 220px;
                margin-right: 30px;
                .tb-img-logo-footer{
                    
                    margin-bottom: 40px;
                }
            }
            .tb-link-contact-footer{
                max-width: 220px;
                margin-right: 20px;
                min-width: inherit;
                
            }
            .tb-link-footer{
                max-width: 220px;
                margin-right: 30px;
                min-width: inherit;
                .tb-title-footer{
                    b{
                        font-size: 16px;
                    }
                }
                // &:last-child{
                //     margin-right: 0;
                // }
            }
        }
    }
    .tb-together.tb-buy-from-us .tb-infor-together {
        padding: 100px 100px 0 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .tb-heade-mb.show{
        .languages-search{
            display: none;
        }
    }
    .tb-title-section{
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 114.5%; /* 45.8px */
        text-transform: uppercase;
        margin-bottom: 48px;
        b{
            font-size: 40px;
            text-transform: initial;
            white-space: nowrap;
        }
    }
    .tb-heade-mb{
        ul{
            li{
                height: initial !important;
                display: inline-block;
                &.active{
                    .submenu{
                        display: block !important;
                    }
                    img{
                        transform: rotate(180deg);
                    }
                }
                ul{
                    top: 0 !important;
                    position: relative;
                    height: initial !important;
                    float: left !important;
                    li{
                        height: initial !important;
                        float: left !important;
                        width: 50% !important;
                        text-align: center;
                        a{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .archievement-section{
        padding: 0;
       .tb-item-numbers-count{
           .list-number{
               max-width: 245px;
               margin: 0 auto 50px auto;
           }
           h2{
               font-size: 64px;
           }
           b{
            line-height: 144%; /* 46.08px */
            font-size: 32px;
            margin-bottom: 16px;
           }

       }

    }
    .tp-video{
        padding: 24px 24px 65px 24px;
    }
    .tb-footer{
        display: none;
    }
    .tp-slide{
       display: none;

    &.tp-slide-mb{
        display: block;
        .bg-opacity{
            align-items: flex-end;
            p{
                font-size: 30px;
                font-style: normal;
                font-weight: 800;
                line-height: 119.5%; /* 35.85px */
                letter-spacing: -0.75px;
                margin-bottom: 115px;
            }

        }
    }

    }
    .tp-button.tb-btn-blue a span{
        display: none;
    }
   
    .tp-button.tb-btn-blue{
        a{
            height: 60px;
            width: 60px;
            b{
                padding: 0 20px;
                margin-left: 0;
                img{
                    height: 24px;
                }
            }
        }
    }
    .tb-header.tb-heade-mb nav ul li .submenu{
        &.active{
            display: block !important;
        }
    }
    .tp-slide{
        margin-top: 85px;
    }
    header.tb-header {
        display: none;
    }
    .box-head-mb{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .tb-header{
        display: none;
        &.tb-heade-mb{
            display: block !important;
            height: 85px;
            padding: 12px 24px;
            .arrow-down{
                margin-left: 8px;
            }
            .logo-mb{
                img{
                    height: 59px;
                }
            }
            .ti-menu:before {
                font-size: 0;
                background: url(../images/menu-mb-icon.svg) no-repeat center;
                width: 24px;
                height: 24px;
                display: inline-block;
            }
            .ti-close:before{
                    background: url(../images/ic-close-mb.svg) no-repeat center;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
            }
          
            .img-show-search{
                margin-right: 16px;
            }
            .sub-search{
                height: 85px;
                .logo{
                    img{
                        width: 63px;
                        height: 59px;
                    }
                }
            }
            .sub-languages{
                right: 0;
                top: 0;
                .content-sub{
                    margin-top: 55px;
                }
            }
            .languages-search{
                margin-right: 40px;
            }
            .menu-mobile{
				position: absolute;
				top: 30px;
				right: 25px;
				display: block;
				z-index: 2;
                i{
                    font-size: 0;
                    
                }
                .ti-menu{
                   
                    display: block;
				}
				.close-menu{
					display: none;
				}

            }
          nav{
			  display: none;
              ul{
                  li{
                      a{

                      }
                      ul.submenu{
                          display: none;
                      }
                  }
              }
		  }
            &.show {
                nav{
                    display: block;
                   
                    ul{
                        position: fixed;
                        left: 0;
                        top: 85px;
                        width: 100%;
                        height: 100%;
                        background: #003D96;
                        border-top: 0;
                        padding: 11px 16px 30px 16px!important;
                        scroll-behavior: smooth;
                        transition: all 0.2s ease-in-out;
                        display: inline-block;

                        li{
                            display: inherit;
                            text-align: center;
                            height: 41px;
                            padding: 8px 32px;
                            margin-bottom: 24px;
                            a{
                                color: white;
                                font-family: 'Geologica', sans-serif;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                text-transform: uppercase;
                                margin-right: 0;
                            }
                           
                            ul.submenu{
                                display: none;
                                background: #00326E;
                                position: initial;
                                height: initial;
                                padding-top: 0  !important;
                                li{
                                    padding: 16px 12px;
                                    height: inherit;
                                    margin-bottom: 0;
                                    width: 50%;
                                    float: left;
                                    a{
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: -0.28px;
                                        text-transform: uppercase;
                                    }
                                }
                               
                            }
                           
                           
                        }
                    }
                }
                .tp-search{
                    display: none;
                }
                .tp-language{
                    display: none;
                }
				
                .menu-mobile{
                    .ti-menu{
                        display: none;
                    }
                    .close-menu{
                        
						position: fixed;
						top: 30px;
						right: 25px;
						display: block;
						z-index: 2;
                    }
                  }
    
                .box-head-mb{
                    position: absolute;
                    top: 12px;
                    padding-right: 100px;
                }
                .languages-search{
                    z-index: -1;
                    position: relative;
                }
            }
        }
    }
    
}
