@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700;800&family=Manrope:wght@400;500;700&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #2A6BBC;
$brand-2: #5AAE37;
$text: #333;
$text-alpha: #858585;
$text-erro: #F71729;

@mixin font-bold{
	font-family: 'Geologica', sans-serif;
	font-weight: 800;
}
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

$tb-blue: #0068FF;
$tb-red: #ED1C24;
$tb-blue-b: #002A67;
$tb-yellow: #FFB526;
$tb-text: #111;
$tb-white: #fff;
body {
	font-family: 'Manrope', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size:16px;
	line-height: 1.5;
}
.container{
	max-width: 1200px;
	margin: auto;
}
a{
	&:hover{
		text-decoration: none;
	}
}
  *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
h1{
	font-size: 64px;
	font-weight: 700;
	font-family: 'Geologica', sans-serif;
}
h2{
	font-size: 44px;
	font-family: 'Geologica', sans-serif;
	font-weight: 700;
}
h3{
	font-size: 32px;
	font-family: 'Geologica', sans-serif;
	font-weight: 700;
}
h4{
	font-size: 24px;
	font-family: 'Geologica', sans-serif;
	font-weight: 700;
}
h5{
	font-size: 22px;
	font-family: 'Geologica', sans-serif;
	font-weight: 700;
}
h6{
	font-size: 20px;
	font-family: 'Geologica', sans-serif;
	font-weight: 700;
}
p, strong, b, i{
	font-size: 16px;
}
span{
	font-size: 13px;
}

label{
	font-size: 16px;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
// img{
// 	width: 100%;
// }

section{
	padding: 40px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.box-shadow{
	background: #FFFFFF;
	box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}

button{
	border: 0;
	&:focus{
		outline: none;
	}
}

button,
input[type=button],
input[type=submit]{
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 0 24px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	color: white;
	height: 50px;
	line-height: 24px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 2px;
	text-transform: uppercase;
	width: fit-content;
	&:hover {
		opacity: 0.9;
		color: white;
	}

	i,
	span,
	img, svg {
		font-weight: 600;
		margin-left: 5px;
		width: 16px;
	}

}

.dissalbe{
	background-color: #E9E9E9;
	color: #A9A9A9;
	pointer-events: none;	
}
.center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.text-main{
	color: $text;
}
.text-brand{
	color: $brand;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-alpha{
	color: $text-alpha;
}
.btn.focus, .btn:focus{
	box-shadow: none;
}
a{
	text-decoration: none;
}
.fw-normal{
	font-weight: normal;
}

.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
/* -------------- Scrollbar-------------------- */
.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}
::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 1px;
	height: 0;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #ffffff;
}
/* -------------- Input / textarea -------------------- */
textarea{
	height: 150px !important;
}
input, select, textarea{
	border: 1px solid $border;
	border-radius: 2px;
	width: 100%;
	padding: 5px 15px;
	height: 50px;
	font-size: 16px;
	color: $text;
	&::placeholder{
		color: $text-alpha;
	}
	&:focus{
		border: 1px solid $brand;
	}
	&:invalid{
		border: 1px solid $text-erro !important;
	}
}
::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}

.error-message {
	color: $text-erro;
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	margin: 5px 0 0;
  }

.error label {
	color: $text-erro;
  }
  
  .error input[type=text] {
	background-color: #fff;
	border: 1px solid $text-erro;
	outline: none;
  }
 
/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 16px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}
.check-radio-custom [type="radio"]:checked+label{
	color: $brand !important;
}
.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-weight: normal;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid $border;
	border-radius: 100%;
	background: #fff;
}
.check-radio-custom [type="radio"]:checked + label::before{ 
	border: 1px solid $brand !important;
}
.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.form-control:focus {
    border-color: $brand;
    outline: 0;
    box-shadow: none;
}
/*------------ Custom select box -------------*/
.custom-select {
	height: 50px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: white;
	display: flex;
	align-items: center;
}
.select-items {
    overflow-y: auto !important;
    max-height: 250px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: $text-alpha;
	top: 15px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 16px;
}
.select-selected{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
}
/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	max-height: 140px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #EBF2FD;
}

/* ----------------------- Modal----------------------- */

.modal-dialog.modal-dialog-medium {
    max-width: 1000px;
}
.modal-dialog.modal-dialog-large {
    max-width: 100%;
}
.modal{
	padding: 80px 0;
	.submit-login-out{
		width: 100%;
	}
}
.modal-body{
	padding: 20px 0 20px 0;
	p{
		font-weight: normal;
	}
}
.modal-content{
    margin: auto;
	border: 0;
	border-radius: 2px;
	padding: 15px 20px;
}
.modal-dialog {
	max-width: 560px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.modal-header {
	padding: 0 10px;
	border-bottom: 0;
	position: relative;
	justify-content: center;
	.close{
		position: absolute;
		right: 10px;
		font-size: 30px;
		padding: 5px;
		top: 0;
		color: $text-alpha;
		opacity: 1;
		i{

		font-size: 20px;
		font-weight: 600;
		}
		&:hover{
			outline: none;
		}
	}
}
.modal-title{
	font-weight: 600;
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.box-search{
	width: 100%;
	position: relative;
	input{
		width: 100%;
		height: 50px;
		border-radius: 2px 0 0 2px;
		outline: none;
		border: 1px solid $border;
		font-size: 16px;
		padding-left: 40px;
		&::placeholder{
			font-weight: 400;
			
		}
		&:focus{
			border: 1px solid $brand !important;
		}
	}
	
	i{
		position: absolute;
		left: 16px;
		font-weight: 600;
		font-size: 18px;
		color: $text-alpha;
		top: 16px;
	}
	&.search-right{
		input{
			padding-left: 20px;
		}
		i {
			left: inherit;
			right: 16px;
		}
	}
}


/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				display: flex;
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 16px;
				text-decoration: none;
				color: $text;
				padding: 4px;
				font-weight: 500;
				align-items: center;
				justify-content: center;
				
				&.active {
					color: white;
					background-color: $brand;
					padding-top: 5px;
					border-radius:4px;
				}
			}

			&:hover {
				a {
					opacity: 0.9;
				}
			}
		}
	}
}

/*------------- Custom tab content --------------*/
.tab-system{
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border-color: transparent;
	}

	.nav-tabs{
		border-bottom: 1.5px solid $border;
		justify-content: center;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		.nav-link{
			font-weight: 600;
			width: 25%;
			text-align: center;
			span{
				font-size: 16px;
			}
		}
	}
	.nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background-color: transparent;
		border-bottom: 1.5px solid $brand;
		color: $brand;
	}
	
	.tab-content{
		margin: 20px 0;
	}
	.nav-tabs .nav-item {
		margin-bottom: 0;
		padding: 15px ;
		color: $text;
		font-weight: normal;
	}
}

/*------------- Custom editor  --------------*/
.editor-body{

	ul, ol{
		padding-left: 15px;
	}
	span, p, b, strong, label, i{
		font-size: initial !important;
		width: initial!important;
		height: initial!important;
		font-weight: initial!important;
	}
	h1, h2, h3, h4, h5, h6{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
		span, p, b, strong, label, i, a{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
		}
	}
	img{
		max-width:100% !important;
		margin:auto !important;
			margin-bottom: 15px;
		}
	}

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    top: 100px;
}
header.tb-header{
	height: 141px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 41px;
	background: $tb-blue;
	z-index: 1;
	position: fixed;
	top: 0;
	transition: top 0.3s;
	z-index: 2;
	nav{
		ul{
			display: flex;
			align-items: center;
			margin: 0;
			li{
				padding: 0 40px;
				list-style: none;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 141px;
				a{
					color: white;
					font-size: 18px;
					margin-right: 5px;
					font-family: 'Geologica', sans-serif;
				}
				&.submenu{
					img{
						width: 13px;
					}
				}
				&:hover{
					.tb-submenu-body{
						opacity: 1;
						visibility: inherit;
					}
				}
			}
		}
	}
	.languages-search{
		display: flex;
		margin-left: 40px;
		align-items: center;
		a{
			img{
				width: 28px;
			}
		}
	}
	.sub-languages{
		display: block;
		position: absolute;
		top: 17px;
		right: -159px;

		visibility: hidden;
		opacity: 0;
		.content-sub{
			margin-top: 65px;

			width: 215px;
			border-radius: 0;
			overflow: hidden;
			background: $tb-blue;
			border: 0;
			a{
				img{
					width: 20px;
				}
			}
		}
		a{
			display: inline-block;
			width: 100%;
			text-decoration: none;
			padding: 18px 20px;
			font-family: 'Geologica', sans-serif;
			span{
				margin-left: 14px;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-decoration: none;
				color: white;
			}
			&:hover{
				background: $tb-blue-b;
				span{
					color: white;
					font-weight: 700;
					text-decoration-line: underline;
					
				}
			}
		}
	}
	.languages{
		&:hover{
			.sub-languages{
				visibility: initial;
				opacity: 1;
			}
		}
	}
	.search-header{
		margin-left: 30px;
		cursor: pointer;
	}
	.languages{
		cursor: pointer;
		position: relative;
	}
	.sub-search{
		height: 141px;
		position: fixed;
		display: none;
		left: 0;
		top: 0;
		width: 100%;
		
		background: $tb-blue;
		padding: 0 20px;
		.logo{
			a{
				img{
					height: inherit;
				}
			}
		}
		&.active{
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 3;
		}
		.logo{
			a{
				img{
					border: 0 !important;
					width: inherit;
				}
			}
		}
	}
	.container-search{
		max-width: 1512px;
		margin: auto;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}
	.search-show{
		display: flex;
		align-items: center;
		.content-search-show{
			position: relative;
			background: white;
			height: 60px;
			border-radius: 8px;
			width: 400px;
			padding-left: 60px;
			padding-right: 90px;
			margin-right: 20px;
			img{
				position: absolute;
				left: 15px;
				top: 13px;
				width: 30px;
				height: 30px;
			}
			input{
				width: 100%;
				display: inline-block;
				border-radius: 0;
				font-size: 18px;
				border: 0;
				background: none;
				height: 60px;
				padding: 0;
				&::placeholder{
					color: #414142;
				}
			}
			button{
				font-family: 'Geologica', sans-serif;
				text-transform: inherit;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				height: 60px;
				position: absolute;
				right: 0;
				width: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 0;
				border: 0;
				outline: none;
				color: $tb-blue;
				background: none;
			}
		}
	}
	// .tp-language-search{
	// 	display: flex;
	// 	align-items: center;
	// 	.tp-language{
	// 		display: inline-block;
	// 		width: 50%;
	// 		cursor: pointer;
	// 		text-align: left;
	// 	}
	// 	.tp-search{
	// 		display: inline-block;
	// 		width: 50%;
	// 		text-align: right;
	// 		cursor: pointer;
	// 		margin-left: 30px;
	// 	}
	// }
}
.tb-submenu-body{
	background: #004CBB;
	min-height: 355px;
	display: inline-block;
	width: 100%;
	position: absolute;
	left: 0;
	top: 141px;
	padding: 0px 55px;
	opacity: 0;
	z-index: 1;
	visibility: hidden;
	.tb-submenu-content{
		display: inline-block;
		width: 100%;
		height: 100%;
		align-items: flex-start;
		padding-right: 40px;
		padding-left: 400px;
		img{
			&.tb-submenu-bg{
				position: absolute;
				right:50px;
				top: 0px;
				height: 100%;
			}
		}
	}

}
.tp-button{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	a{
		height: 73px;
		display:flex;
		align-items: center;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		transition: all .2s linear;
		span{
			font-size: 20px;
			display:flex;
			align-items: center;
			width: fit-content;
			height: 100%;
			font-weight: 700;
			padding: 0 24px;
			font-family: 'Geologica', sans-serif;
		}
		b{
			display:flex;
			align-items: center;
			width: fit-content;
			height: 100%;
			padding: 0 24px;
			margin-left: 2px;
		}
	}
	&.tb-btn-white{
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		transition: all .2s linear;
		a{
			span{
				background: white;
				color: $tb-blue;
			}
			b{
				background: white;
				img{
				
					&:nth-child(2){
						display: none;
					}
				}
			}
		}
	}
	&.tb-btn-blue{
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		transition: all .2s linear;
		a{
			span{
				background: $tb-blue;
				color: white;
			}
			b{
				background:  $tb-blue;
				img{
				
					&:nth-child(1){
						display: none;
					}
				}
			}
		}
	}
	&:hover{
		a{
			span{
				background: $tb-red;
				color: white;
			}
			b{
				background: $tb-red;
				color: white;
				img{
					&:nth-child(1){
						display: none !important;
					}
					&:nth-child(2){
						display: block !important;
					}
				}
			}
		}
	}
	&.center{
		a{
			justify-content: center;
		}
	}
}
.tp-submenu-title{
	position: absolute;
	left: 50px;
	top: 50px;
	float: left;
	h2{
		color: white;
		font-size: 36px;
		margin-bottom: 32px;
		display: inline-block;
		width: 100%;
	}
	.tp-button{
		a{
			height: 73px;
			display:flex;
			align-items: center;
			span{
				font-size: 20px;
				display:flex;
				align-items: center;
				width: fit-content;
				height: 100%;
				font-weight: 700;
				padding: 0 24px;
				font-family: 'Geologica', sans-serif;
			}
			b{
				display:flex;
				align-items: center;
				width: fit-content;
				height: 100%;
				padding: 0 24px;
				margin-left: 2px;
			}
		}
		&.tb-btn-white{
			a{
				span{
					background: white;
					color: $tb-blue;
				}
				b{
					background: white;
					img{
					
						&:nth-child(2){
							display: none;
						}
					}
				}
			}
		}
		&.tb-btn-blue{
			a{
				span{
					background: $tb-blue;
					color: $tb-blue;
				}
				b{
					background:  $tb-blue;
					img{
					
						&:nth-child(1){
							display: none;
						}
					}
				}
			}
		}
		&:hover{
			a{
				span{
					background: $tb-red;
					color: white;
				}
				b{
					background: $tb-red;
					color: white;
					img{
						&:nth-child(1){
							display: none !important;
						}
						&:nth-child(2){
							display: block !important;
						}
					}
				}
			}
		}
	}
}
.tb-nav-submenu{
	width: fit-content;
	float: left;
	margin-top: 50px;
	min-width: 300px;
	z-index: 1;
	ul{
		margin: 0 !important;
		display: inline-block !important;
		width: 100%;
		padding: 0 !important;
		li{
			margin: 0 !important;
			padding: 0 !important;
			display: inline-block !important;
			width: 100%;
			height: initial !important;
		}
	}
	a{
		font-family: 'Geologica', sans-serif;
		font-size: 20px;
		display: inline-block;
		width: fit-content;
		margin-bottom: 30px;
		text-decoration: underline;
	}
}
.tp-submenu-title{
	display: inline-block;
}
.tb-box-submenu{
	display: flex;
}
.search-box{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 141px;
	background: $tb-blue;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	visibility: hidden;
	.tb-logo-search{
		height: 82px;
		margin-left: 40px;
	}
	&.show{
		visibility: initial;
		opacity: 1;
	}
}
.tb-search-show{
	display: flex;
	margin-right: 40px;
	img{
		&.tb-close-box-search{
			cursor: pointer;
			float: right;
			margin-left: 20px;
			
		}
	}
	.tb-filed-search{
		height: 62px;
		border: 4px;
		background: white;
		position: relative;
		padding-left: 40px;
		border-radius: 6px;
		padding-right: 20px;
		width: 364px;
		img{
			position: absolute;
			left: 15px;
			top: 18px;
		}
		input{
			background: white;
			border: 0;
			height: 100%;
			display: inline-block;
			width: 100%;
			&::placeholder{
				color: $tb-text;
			}
		}
	}
}

.tp-slide{
	float: left;
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
	margin-top: 141px;
	#slider {
		background: #363636;
		 width: 100%;
		 margin: 0 auto;
	   }
	   #slider img {
		 display: none;
		 width: 100%;
		   &.show {
		   display: inline;
		 }
	   }
	img{
		width: 100%;
	}
	.bg-opacity{
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
			justify-content: center;
			display: flex;
			align-items: center;
		p{
			// text-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.60)!important;
			text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.60)!important;
			text-align: center;
			font-size: 54px;
			font-weight: 700;
			letter-spacing: -1.35px;
			width: 1068px;
			margin: 0 auto;
			font-family: 'Geologica', sans-serif;
			color: white;
			line-height: 102%;
			
		}
	}
	
}

.tp-video{
	display: inline-block;
	width: 100%;
	padding: 116px 0 61px 0;
}
.hh-box-text{
	color: $text !important;
}
.tb-video-section{
	float: left;
	width: 100%;
	overflow: hidden;
	height: 500px;
	background: red;
	z-index: 9;
}
.tp-video{
	float: left;
	width: 100%;
	text-align: center;
	.tp-content-video{
		max-width: 1022px;
		margin: auto;
	}
	video{
		width: 100%;
	}
}
.tb-achrievement-item{
	display: inline-block;
	width: 100%;
	position: relative;
	.tb-avatar-archievement{
		&::after{
			content: ' ';
			background-color: rgba(237, 29, 37, 0.7);
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
			justify-content: center;
			display: flex;
			align-items: center;
		}
	}
		
	a.tb-infor-achrievement{
		position: absolute;
		left: 40px;
		bottom: 40px;
		color: white;
		padding: 20px;	
		font-size: 40px;
		font-family: 'Geologica', sans-serif;
		font-style: normal;
		font-weight: 800;
		line-height: 114%;
		letter-spacing: -0.8px;
		max-width: 293px;
		padding-bottom: 0;
		min-height: 92px;
	}
}
.tb-box-achrievement-numbers{
	max-width: 1196px;
	margin: auto;
}
.tb-box-content-achrievement{
	.row{
		.col-md-6{
			.row{
				margin: 0 !important;
				.col-md-6{
					padding: 0 !important;
					position: relative;
					z-index: 1;
					&:nth-child(2){
						.tb-avatar-archievement{
							&::after{
								background-color: rgba(254, 181, 38, 0.7);
							}
						}
					}
					&:nth-child(3){
						.tb-avatar-archievement{
							&::after{
								background-color: rgba(0, 64, 157, 0.7);
							}
						}
					}
					&:nth-child(4){
						.tb-avatar-archievement{
							&::after{
								background-color: rgba(237, 29, 37, 0.7);
							}
						}
					}
				}
			}
		}
	}
}
.tb-avatar-archievement{
	margin-bottom: -6px;
	a{
		padding-top: 106%;
	}
}
.tb-title-section{
	text-align: center;
	color: $tb-blue;
	font-size: 48px;
	font-weight: 800;
	font-family: 'Geologica', sans-serif;
	margin-bottom: 73px;
	b{
		color: $tb-red;
		font-size: 48px;
		font-weight: 800;
		font-family: 'Geologica', sans-serif;
	}
	&.left{
		text-align: left;
	}
	&.tb-b-100{
		b{
			width: 100%;
			display: inline-block;
		}
	}
}
.tb-box-content-achrievement{
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0 !important;
	background: $tb-blue;
	float: left;
	.tb-content-archievement{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		.tb-container-achrievement{
			max-width: 1376px;
			margin: auto;


		}
	}
}
.tb-infor-achrievement{
	display: inline-block;
	width: 100%;
	padding-right: 60px;
	padding-top: 57px;
	h3{
		font-size: 64px;
		font-weight: 800;
		line-height: 114%;
		letter-spacing: -1.28px;
		color: white;
		margin-bottom: 39px;
	}
}
.tb-item-numbers-count{
	text-align: center;
	h2{
		font-size: 64px;
		font-weight: 700;
		font-family: 'Geologica', sans-serif;
		color: $tb-blue;
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 144%;
		margin-bottom: -16px;
	span{
		font-family: 'Geologica', sans-serif;
		font-weight: 800;
		font-size: 50px;
	}
	}
	b{
		font-size: 32px;
		color: $tb-blue;
		font-weight: 700;
		font-family: 'Geologica', sans-serif;
		margin-bottom: 27px;
		display: inline-block;
    width: 100%;
	}
	p{
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 0;
		line-height: 144%;
		color: #000;
	}
}
.tb-product-section{
	margin-top: 177px;
	margin-bottom: 100px;
	display: inline-block;
	padding: 0 !important;
	width: 100%;
	.tb-b-100{
		margin-bottom: 31px;
		font-weight: 700;
	}
	b{
		font-weight: 700;
	}
}
.tb-product-slide{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 130px;
	label{
		position: absolute;
		left: 0;
		width: 100%;
		top: 35px;
		display: flex;
		font-size: 170px;
		color: #ECECEC;
		text-transform: uppercase;
		justify-content: center;
		font-weight: 700;
		font-family: 'Geologica', sans-serif;
	}

}
.tb-product-slide-content{
	display: inline-block;
	width: 100%;
	&__item{
		margin-bottom: 47px;
		display: flex;
		justify-content: center;
		width: 100%;
		.tb-avatar-product{
			padding: 0 15px;
			width: 20%;
			a{
				padding-top: 107% !important;
			}
		}
	}
}
.tb-investment{
	float: left;
	width: 100%;
	position: relative;
	padding: 0 !important;
	margin-bottom: 100px;
	.tb-labe-name-section{
		justify-content: left;
		left: 45px;
	}
	.tb-title-section{
		margin-top: 169px;
		position: relative;
		margin-bottom: 0;
		z-index: 1;
	}
}
.tb-labe-name-section{
	position: absolute;
    left: 0;
    width: 100%;
    top: 35px;
    display: flex;
    font-size: 170px;
    color: #ECECEC;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 700;
    font-family: 'Geologica', sans-serif;
}
.tb-content-investment{
	display: inline-block;
	background: #F4F4F4;
	margin-top: 46px;
	position: relative;
	width: 100%;
	.row{
		margin: 0 !important;
		justify-content: right;
		.col-md-6{
			padding: 0 !important;

		}
	}
}
.tb-img-investment{
	display: inline-block;
	width: 100%;
	position: relative;
	min-height: 1000px;
	&::before{
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: #002C54;
		content: '';
		opacity: .5;
	}
	img{
		max-width: 100%;
		min-height: 1000px;
		display: inline-block;
		object-fit: cover;
	}
}
.tb-content-absolute{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 713px;
	.tb-container-absolute{
		max-width: 1255px;
		margin: auto;
		.row{
			.col-md-6{
				&:nth-child(2){
					.tb-item-content-investment{
						display: inline-block;
						width: 100%;
						padding-top: 179px;
						padding-left: 177px;
						padding-right: 0;
						h6, p{
							color: white;
						}
					}
				}
			}
		}
	}
}
.tb-item-content-investment{
	display: inline-block;
	width: 100%;
	padding-top: 179px;
	padding-right: 177px;
	h6{
		color: $tb-blue;
		font-size: 36px;
		margin-bottom: 35px;
		min-height: 86px;
		padding-right: 70px;
	}
	p{
		font-size: 20px;
		margin-bottom: 42px;
		min-height: 150px;
		line-height: 186.6%;
		color: #000;
	}
}
.tb-mariel-special{
	max-width: 1376px;
	margin: auto;
	position: relative;
	margin-top: -287px;
	.tb-avatar-mariel-special{
		a{
			padding-top: 58%;
		}
	}
	.tb-infor-mariel-special{
		position: absolute;
		bottom: 6px;
		left: 0;
		padding: 40px;
		background: $tb-blue;
		width: 524px;
		span{
			font-size: 16px;
			text-transform: uppercase;
			display: inline-block;
			color: white;
			width: 100%;
			margin-bottom: 27px;
		}
		h4{
			font-size: 32px;
			margin-bottom: 30px;
			color: white;
			font-weight: 800;
			line-height: 105%;
			text-transform: uppercase;
		}
		p{
			font-size: 16px;
			color: white;
		}
	}
}
.tb-manufactures{
	display: inline-block;
	padding: 0;
	width: 100%;
	margin-bottom: 126px;
	.tb-title-section{
		p{
			color:#414142;
			text-align: center;
			font-size: 16px;
			font-family: 'Manrope', sans-serif;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			margin-bottom: 0;
		}
		margin-bottom: 32px;
	}
	.row{
		margin: 0;
		margin-left: -1px;
		margin-right: -1px;
		.col-md-3{
			padding: 0 1px;
		}
		.tb-item-manafuctures{
			display: inline-block;
			background: $tb-blue;
			width: 100%;
			&:hover{
				background: #1A4CB0;
			}
			.tb-avatar-manafuctures{
				a{
					padding-top: 90%;
				}
			}
			h5{
				a{
				
					font-size: 24px;
					@include font-bold();
					font-weight: 700;
					color: white;
					@include webkit-line-clamp();
				}
			}
			p{
				@include webkit-line-clamp();
				-webkit-line-clamp: 2;
				font-size: 20px;
				color: white;
				font-weight: 500;
			}
			.tb-link-manafactures{
				display: inline-block;
				width: 100%;
				text-align: left;
				position: absolute;
				bottom: 32px;
				
				a{
					display: flex;
					align-items: center;
					justify-content: left;
					img{
						margin-right: 12px;
					}
					span{
						font-size: 20px;
						color: #45D2FF;
					}
				}
			}
			.tb-infor-manafactures{
				display: inline-block;
				width: 100%;
				padding: 32px 40px;
				min-height: 240px;
				position: relative;
			}
		}
	}
}
.tb-together{
	float: left;
	display: inline-block;
	width: 100%;
	position: relative;
	background: #002C6B;
	padding: 0;
	margin-bottom: 166px;
	.tb-avatar-together{
		float: left;
		width: 50%;
		a{
			padding-top: 99%;
		}
	}
	.tb-infor-together{
		position: absolute;
		right: 0;
		height: 100%;
		width: 50%;
		left: 50%;
		padding: 147px 100px 0 100px;
		
		top: 0;
		display: flex;
		
	}
	.tb-content-infor-together{
		max-width: 440px;
		span{
			font-size: 20px;
			@include font-bold();
			display: inline-block;
			width: 100%;
			color: white;
			font-weight: 700;
			margin-bottom: 14px;
		}
		h3{
			font-size: 64px;
			@include font-bold();
			margin-bottom: 39px;
			display: inline-block;
			width: 100%;
			color: white;
			b{
				font-size: 64px;
				color: $tb-red;
			}
		}
		a{
			display: flex;
			align-items: center;
			margin-bottom: 11px;
			width: 100%;
			color: white;
			img{
				margin-right: 5px;
			}
			b{
				font-size: 20px;
				@include font-bold();
				color: #45D2FF;
			}
		}
	}
}
.tb-social-activites{
	float: left;
	display: inline-block;
	width: 100%;
	background: #FFE9E9;
	margin-bottom: 97px;
	padding: 37px 0 80px 0;
	.slick-slider{
		margin-bottom: 0;
	}
	.tb-avatar-social{
		a{
			padding-top: 63%;
		}
	}
	
	.tb-title-section{
		margin-bottom: 29px;
		line-height: 153.4%;
	}
	.main {
		display: inline-block;
		padding: 0;
		width:100%;
	  }
	  h3 {
		  background: #fff;
		  color: #3498db;
		  font-size: 36px;
		  line-height: 100px;
		  margin: 10px;
		  padding: 2%;
		  position: relative;
		  text-align: center;
	  }
	  button{
		&.slick-next.slick-arrow{
			right: 0;
			font-size: 0;
			&::before{
				display: none;
			}
			width: 74px;
			display: inline-block;
			height: 74px;
			background: url(../images/social_arrow-right.svg) no-repeat center;
		}
		&.slick-prev.slick-arrow{
			right: 0;
			font-size: 0;
			left: 0;
			z-index: 1;
			width: 74px;
			display: inline-block;
			height: 74px;
			background: url(../images/social_arrow-left.svg) no-repeat center;
			&::before{
				display: none;
			}
		}
	  }
	  .slick-slide{
		scale: .85;
		&.slick-current.slick-active.slick-center{
			scale: 1;
			.tb-social-infor{
				padding: 0;
			}
		}
	  }
	  .slick-list.draggable{
		padding: 0 225px !important;
	  }
	  .tb-social-infor{
		position: relative;
		.tb-description-social{
			position: absolute;
			bottom: 83px;
			left: 0;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			p{	
				display: inline-block;
				font-size: 48px;
				color: $tb-blue;
				width: fit-content;
				padding:24px ;
				@include font-bold();
				text-align: center;
				font-weight: 800;
				background: rgba(255, 255, 255, 0.85);
				b{
					font-size: 48px;
					@include font-bold();
					font-weight: 800;
					color: $tb-red;
				}
			}
		}
		
	  }
	  .slick-dots{
		display: none !important;
	  }
}



footer{
	display: inline-block;
	width: 100%;
	background: #003E99;
	padding: 94px 0;
	.container-footer{
		max-width: 1300px;
		margin: auto;

	}
}
.tb-img-logo-footer{
	width: 191px;
	display: inline-block;
	margin-bottom: 140px;
}
.tb-logo-footer{
	text-align: center;
	width: 191px;
	margin-right: 170px;
	.social-footer{
		display: flex;
		justify-content: center;
		a{
			padding: 0 11px;
		}
	}
}
.tb-body-footer{
	display: flex;
	justify-content: space-between;
	.tb-link-footer{
		&:nth-child(1){
			margin-right: 100px;
		}
	}
}
.tb-link-footer{
	min-width: 175px;
	.tb-title-footer{
		display: inline-block;
		width: 100%;
		margin-bottom: 27px;
		b{
			color: white;
			font-size: 19px;
			font-weight: 700;
		}
	}
}
.tb-item-adress-footer{
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 18px;
	padding-left: 23px;
	img{
		position: absolute;
		left: 0;
		top: 5px;
	}
	span{
		color: #B0D0FF;
		font-size: 14px;
		b{
			color: #B0D0FF !important;
			font-size: 14px !important;
			font-weight: 700;
		}
	}
}
.tb-mail-footer{
	display: inline-block;
	width: 100%;
	margin-top: 12px;
	ul{
		margin: 0 !important;
		border: 0;
		margin-bottom: 10px !important;
		li{
			list-style: none;
			padding: 0;
			a{
				color: #468DF4;
				font-size: 14px;
				padding: 0 10px;
				&.active{
					color: #B0D0FF;
				}
			}
		}
	}
	.tab-pane{
		padding: 0 10px;
	}
}
.tb-content-tab-footer{
	display: inline-block;
	width: 100%;
	display: flex;
padding: 10px 21px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 3px;
border: 1px solid var(--vibrantblue, #0068FF);
background: #0048B1;
span{
	color: #B0D0FF;
font-size: 14px;
}
}
.tb-link-footer-editor{
	display: inline-block;
	width: 100%;
	a{
		display: inline-block;
		width: 100%;
		font-size: 14px;
		color: #B0D0FF;
		margin-bottom: 20px;
		&:hover{
			color: white;
		}
	}
}
.tb-link-contact-footer{
	margin-right: 100px;
	min-width: 300px;
}
.tb-btn-call-bottom{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.tb-head-page{
	float: left;
	width: 100%;
	margin-top: 141px;
	padding: 0 !important;
	img{
		width: 100%;
		height: 843px;
		object-fit: cover;
		display: inline-block;
	}
	h1{
		// position: absolute;
		// bottom: 188px;
		// left: 87px;
	}
}

.tb-history-page{
	float: left;
	width: 100%;
	margin-top: 118px;
	padding: 0 !important;
	margin-bottom: 191px;

	.prev-slick-img, .next-slick-img{
		img{
			display: none;
		}
	}
	
	.tb-slides-history {
		padding-bottom: 150px;
	}
	.tb-title-section{
		margin-bottom: 18px;
	}
	.slick-list{
		margin: 0 auto;
    	max-width: 1452px;
	}
	.tb-horizontal{
		padding: 0 30px;
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		.slide-placeholder {
			margin: 0 10px;
			position: relative;
			background: transparent;
			.avatar-thumb{
				position: relative;
				display: inline-block;
				width: 100%;
				height: 100%;
				a{
					padding-top: 190%;
				}
			}
			.flex-center{
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
			}
			.content{
				z-index: 2;
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				
				 padding: 150px 16px 16px 16px;
				p{
					min-height: 140px;
					@include webkit-line-clamp();
					-webkit-line-clamp: 7;
				}
			  }
			img{
				height: 100%;
				// width: 100%;
				display: none;
			}
			&:hover{
				transition: all .3s ease-in-out;
			
				img{
					display: block;
				}
				.content{
					h2{
						color: white;
					}
					.line{
						background: white;
					}
					p{
						color: white;
					}
				}
			}
		  }
		 .pagingInfo{
			 display: none;
		 }
		  .slick-dots {
			display: flex;
			justify-content: space-between;
			bottom: 35px;
			z-index: 1;
			margin: 0 auto;
			max-width: 1452px;
			right: 0;
			left: 0;
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				margin-left: 3px;
				width: 100%;
				height: 1.5px;
				background-color: #000;
				z-index: 1;
			}

		}
		  .line{
			  width: 100%;
			  height: 1px;
			  background: $tb-blue;
		  }
		  .slick-slide:nth-child(odd) .slide-placeholder {
			background: #ccc;
		  }
		  
		  .slick-slide:nth-child(even) .slide-placeholder {
			background: #bbb;
		  }
		  .slide-placeholder h2 {
			margin-bottom: 0;
			color: $tb-blue;
			font-family: 'Manrope', sans-serif;
			font-size: 64px;
			font-style: normal;
			font-weight: 800;
			line-height: 153.4%; /* 98.176px */
			letter-spacing: -4.16px;
		  }
		  .slide-placeholder p {
			  	margin: 15px 0;
				font-family: 'Manrope', sans-serif;
				text-align: left;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 119.4%; /* 19.104px */	
				color: #414141;	
			
		  }
		  .slick-dots li button{
			
			width: 8px;
			height: 8px;
			padding: 0;
			color: #C1C1C1;
			font-family: 'Manrope', sans-serif;
			font-size: 0;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

		  }
		  .slick-dots li.slick-active button:before {
			opacity: 1;
			// color: $tb-blue;
			background: url(../images/btn-active-timeline.svg) no-repeat center;
			width: 39px;
			height: 39px;
			font-size: 0;
			left: -13px;
			top: -48px;
		}
		  .slick-dots li{
			  z-index: 9;
			  top: 48px;
			  position: relative;
			 &::before{
				color: #C1C1C1;
				font-family: 'Manrope', sans-serif;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			 }
			 
			 $val: (1, 1992), (2, 1998), (3, 2000), (4, 2003), (5, 2006), (6, 2010), (7, 2015), (8, 2016), (9, 2018), (10, 2019), (11, 2022), (12, 2023);
			 @each $name, $style in $val {
				&:nth-child(#{$name}){
					&::before{
						content:'#{$style}' ;
						
					}
					
				}
			 }
			
		  }
		  .slick-dots li.slick-active{
			&::before{
				color: #000;
				font-family: 'Manrope', sans-serif;
				font-size: 32px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			 }
			 
			 $val: (1, 1992), (2, 1998), (3, 2000), (4, 2003), (5, 2006), (6, 2010), (7, 2015), (8, 2016), (9, 2018), (10, 2019), (11, 2022), (12, 2023);
			 @each $name, $style in $val {
				&:nth-child(#{$name}){
					&::before{
						content:'#{$style}' ;
					    position: absolute;
						bottom: 90px;
						left: -28px;
					}
					
				}
			 }
		  }
		  .slick-dots li button:before{
			font-size: 13px;
			top: -38px;
			left: 0;
			right: 0;
			width: 8px;
			height: 8px;

			opacity: 1;
		  }
		  .slick-next{
			  &::before{
				content: ' ';
				
				font-size: 0;
				z-index: 1;
				width: 74px;
				display: inline-block;
				height: 74px;
				opacity: 1;
				background: url(../images/ei_arrow-right-history.svg) no-repeat center;
			    position: absolute;
    			right: 100px;
				top: -58px;
			  }
		  }
		  .slick-prev{
			&::before{
			  content: ' ';
			  position: absolute;
			  left: 100px;
			  top: -58px;
			  font-size: 0;
			  opacity: 1;
			  z-index: 1;
			  width: 74px;
			  display: inline-block;
			  height: 74px;
			  background: url(../images/ei_arrow-left-history.svg) no-repeat center;
			//   bottom: 0;
			//   position: absolute;

			}
		}
	}

	  
}


.labels.slick-initialized.slick-slider{
	.slick-list{
		.slick-track{
			width: 100% !important;
		}
	}
}
// .tb-vision-mission{
// 	display: inline-block;
// 	width: 100%;
// }
.tb-vision-mission{
	display: inline-block;
	width: 100%;
	padding: 0;
	.tb-vision-mission-container{
		max-width: 1350px;
		margin: auto;
		.tb-labe-name-section{
			margin-top:74px;
			line-height: 75.5%;
			position: relative;
			top: 0;
			left: 0;
			justify-content: left;
			font-size: 134px;
		}
	}
}
.tb-box-vision{
	display: inline-block;
	width: 100%;
	margin-top: 58px;
	background: $tb-red;
	padding: 105px 52px 178px 30px;
	border-radius: 5.74px;
	b{
		font-size: 22.961px;
		@include font-bold();
		font-weight: 700;
		display: inline-block;
		width: 100%;
		color: white;
		margin-bottom: 10px;
	}
	p{
		margin: 0;
		padding: 0;
		@include font-bold();
		color: white;
		font-size: 38px;
		font-weight: 300;
		display: inline-block;
		width: 100%;
		line-height: 144%;
		b{
			font-size: 38px;
		font-weight: 700;
		}
	}
	&.blue{
		border-radius: 5.74px;
		background: #3286FF !important;
		margin-top: 0;
	}
	&.core-value{
		padding-right: 410px;
		position: relative;
		background: #0049B2;
		margin-top: 40px !important;
		img{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 493px;
		}
	}
}
.tb-attach-file{
	border: 1px solid #414142;
    height: 79px;
    color: #111;
    font-size: 20px;
    padding: 24px 33px;
    border-radius: 0;
.fileUploadWrap {
	padding-top: 10px;
	position: relative;
	p{
		margin-bottom: 0;
	}
  }
  img {
	position: absolute;
    cursor: pointer;
    pointer-events: none;
    width: 34px;
    top: 0;
    left: 0;
  }
  .fileName {
	position: absolute;
	left: 50px;
	top: 0;
	color: #949494 !important;
	font-size: 20px !important;
	font-weight: normal !important;
	pointer-events: none;
  }
  input[type=file] {
	margin-left: -25px;
	opacity: 0;
  }
  
}


header.tb-header {
    nav {
      ul {
        li {
          &.active{
              a{
                  font-weight: 900;
              
              }
          }
        }
      }
    }
 
}
.tp-slide-project{
    float: left;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-top: 141px;
    &::after{
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        height: 100%;
        left: 0;
        top: -6px;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        content: ' ';
    }
    video{
        width: 100%;
    }
		p{
            z-index: 1;
            color: #FFF;
            text-align: center;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 119.9%;
            width: 920px;
            font-family: 'Geologica', sans-serif;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 0 auto;
            right: 0;
		
	}
  }
.tb-consumer-product{
    padding: 100px 0 141px 0;
    float: left;
        .tb-title-section{
            font-style: normal;
            font-weight: 700;
            line-height: 98.4%;
            text-transform: uppercase;
            font-size: 36px;
            margin-bottom: 57px;
        }
        .tb-consumer-product-container{
            max-width: 1409px;
            margin: auto;
            .row{
                margin: 0;
                margin-left: -12px;
                margin-right: -12px;
                .col-md-4{
                    padding: 0 12px;
                }
                
            }
        }
}
.tb-item-manafuctures{
                    display: inline-block;
                    background: $tb-blue;
                    width: 100%;
                    &:hover{
                        background: #1A4CB0;
                        transition: all .3s ease-in-out;
                    }
                    .tb-avatar-manafuctures{
                        a{
                            padding-top: 66%;
                        }
                    }
                    h5{
                        margin-bottom: 8px;
                        a{
                            line-height: 144%;
                            font-size: 32px;
                            font-style: normal;
                            line-height: 150%;                           
                            @include font-bold();
                            font-weight: 700;
                            color: white;
                            @include webkit-line-clamp();
                        }
                    }
                    p{
                        font-size: 16px;
                        color: white;
                        font-style: normal;
                        margin-bottom: 19px;
                        line-height: 153.4%;
                        @include webkit-line-clamp();
                        -webkit-line-clamp: 4;
                    }
                    .tb-link-manafactures{
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                        position: absolute;
				        bottom: 36px;
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            img{
                                margin-right: 8px;
                            }
                            span{
                                font-size: 20px;
                                color: #45D2FF;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                    }
                    .tb-infor-manafactures{
                        min-height: 333px;
                        display: inline-block;
                        width: 100%;
                        padding: 36px 35px;
                        position: relative;
                    }
                }
.tb-green-power-project.tb-explore-our-projects .slider-explore-our-projects .item{
    &:hover{
        background: $tb-blue;
        transition: all .3s ease-in-out;
        .tb-item-manafuctures{
            background: transparent;
        }
        .tb-infor-manafactures{
            background: transparent;
            h5{
                a{
                    color: white;
                }
            }
            .tb-link-manafactures{
                a{
                    position: relative;
                    img{
                        opacity: 0;
                    }
                    span{
                        color: white;
                        &::before{
                            content: ' ';
                            left: 0;
                            font-size: 0;
                            z-index: 1;
                            width: 26px;
                            display: inline-block;
                            height: 26px;
                            background: url(../images/ei_arrow-left-white.svg) no-repeat center;
                            bottom: 0;
                            position: absolute;
                        }

                    }
                }
            }
        }
    }
}
.tb-green-power-project{
    float: left;
    margin-bottom: 141px;
    z-index: 1;
    position: relative;
    clear: both;
    background-size: cover !important;
    padding: 104px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 886px;
    &::after{
        height: 100%;
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        z-index: 0;
        background: #00172D;
        opacity: .62;
    }
  
    .tb-green-power-project-container{
        color: white;
        text-align: center;
        position: relative;
        z-index: 123;
        max-width: 1409px;
        margin: 0 auto;
        .tb-title-section{           
            font-size: 36px;          
            font-style: normal;
            font-weight: 700;
            line-height: 98.4%;
            text-transform: uppercase;
            color: white;
            margin-bottom: 60px;
          
        }
        .tb-item-manafuctures{
            background: white;
            &:hover{
                background: $tb-blue;
                transition: all .3s ease-in-out;
                .tb-link-manafactures{
                    a{
                        span{
                            color: white;
                        }
                    }
                }
                .tb-infor-manafactures{
                    h5{
                        a{
                            color: white;
                        }
                    }
                    p{
                        color: white;
                    }
                }
                .tb-link-manafactures{
                    a{
                        img{
                            opacity: 0;
                        }
                        span{
                            color: white !important;
                            &::before{
                                content: ' ';
                                left: 0;
                                font-size: 0;
                                z-index: 1;
                                width: 26px;
                                display: inline-block;
                                height: 26px;
                                background: url(../images/ei_arrow-left-white.svg) no-repeat center;
                                bottom: 0;
                                position: absolute;
                            }
                        }
                    }
                }
            }
            .avatar-thumb{
                a{
                    padding-top: 46%;
                }
            }
            .tb-infor-manafactures{
                text-align: left;
                h5{
                    a{
                        color: $tb-text;
                    }
                }
                p{
                    color: $tb-text;
                    @include webkit-line-clamp();
                    -webkit-line-clamp: 2;
                    
                }
                .tb-link-manafactures{
                    a{
                        span{
                            color: $tb-blue;
                        }
                    }
                }
              
            }
        }
    }
    .row{
        margin: 0;
        margin-left: -12px;
        margin-right: -12px;
        .col-md-6{
            padding: 0 12px;
        }
    }
}
.tb-together.tb-together-product{
    margin-bottom: 105px;
    float: left;
}
.tb-social-activites{
   
    &.tb-mariel-special-development{
        float: left;
        background: transparent;
        padding: 0;
        margin-bottom: 100px;
        .tb-mariel-special-development-container{
            display: flex;
            max-width: 1351px;
            margin: 0 auto 63px auto;
            justify-content: space-between;
            .tb-title-section{
                font-size: 48px;
                font-style: normal;
                line-height: 100.4%;
                text-align: left;
                max-width: 518px;
                margin-bottom: 0;
            }
            p{
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 147.1%;
                max-width: 695px;
            }
        }
        .tb-social-infor{
            .tb-description-social{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 16, 72, 0.60) 100%);
                bottom: 6px;
                p{
                    font-family: 'Manrope', sans-serif;
                    text-align: center;
                    color: white;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 147.1%;
                    padding: 20px 0 0 0;
                    background: transparent;
                    margin-bottom: 0;                 
                    margin: 0 179px 42px 179px;
                    max-width: 774px;
                }
            }
        }
        .slick-dots{
            display: block  !important;
            bottom: 0;
        }
        .slick-dots li.slick-active button:before{
            opacity: 1;
            color: $tb-blue;
            font-size: 16px;
            width: 16px;
                height: 16px;
        }
        .slick-dots li {
            margin: 0 5px;
            button{
                padding: 0;
                width: 16px;
                height: 16px;
                
            }
        }
        .slick-dots li button:before{
            opacity: 1;
            color: #d9d9d9;
            font-size: 16px;
            
        }
        .slick-slide.slick-current.slick-active.slick-center {
            scale: 1;
            margin-bottom: 63px;
        }
    }
   
}
.tb-benefits-of-investment{
    padding: 40px 0 0 0;
    margin-bottom: 89px;
    float: left;
    .tb-benefits-of-investment-container{
        max-width: 1415px;
        margin: 0 auto;
        .tb-title-section{
            font-size: 48px;
            font-style: normal;
            line-height: 119.4%;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 46px;
            max-width: 533px;
            margin-top: 25px;
            font-family: 'Geologica', sans-serif;
        }
        .tb-infor-manafactures{
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0px 4px 56px 0px rgba(0, 0, 0, 0.08);
            padding: 30px 24px;
            margin-bottom: 52px;
            min-height: 314px;
            img{
                height: 84px;
            }
            h5{
                margin: 18px 0;
                a{
                    font-family: 'Geologica', sans-serif;
                    font-size: 32px;                  
                    font-style: normal;
                    font-weight: 700;
                    line-height: 123.4%;
                    @include webkit-line-clamp();
                }
            }
            p{
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 117.4%;
                margin-bottom: 0;
                @include webkit-line-clamp();
            }
        }
    }
}
.tb-our-the-business{
    float: left;
    margin-bottom: 147px;
    z-index: 1;
    position: relative;
    clear: both;
    background-size: cover !important;
    padding: 104px 0 174px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 615px;
    &::after{
        height: 100%;
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        z-index: 0;
        background: #0C2D00;
        opacity: .62;
    }
   
    .tb-our-the-business-container{
        color: white;
        text-align: center;
        position: relative;
        z-index: 123;
        max-width: 1296px;
            margin: 0 auto;
      .des{
        text-align: left;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 153.4%;
        color: white;
        margin-bottom: 42px;
      }
        .tb-item-manafuctures{
            background: transparent;
            
            .tb-infor-manafactures{
                text-align: left;
                padding: 0 30px 0 0;
                h5{
                    margin-bottom: 32px;
                    font-family: 'Manrope', sans-serif;
                        font-size: 128px;
                        color: white;
                        opacity: .4;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 81.4%;
                }
                p{
                    font-size: 20px;
                    font-family: 'Manrope', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 153.4%;
                    margin-bottom: 0;
                    
                    
                }
               
            }
        }
    }
}
.tb-head-pageabout{
    .tb-head-page-container{
        max-width: 1351px;
         h1{
        text-transform: capitalize !important;
    }
    }
   
}

    .tb-head-page-container{
        max-width: 1013px;
        margin: auto;
        position: absolute;
        bottom: 191px;
        left: 87px;
        z-index: 1;
        p{
            font-size: 20px;
            font-family: 'Geologica', sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 98.4%;
            text-transform: uppercase;
            margin-bottom: 13px;
            color: white;
        }
        h1{
           
            font-size: 64px;
            font-family: 'Geologica', sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 98.4%;
            text-transform: uppercase;
            margin-bottom: 0;
            color: white;
        }
    }

//*========   page  consumer-project-detail  =========*/

.tp-consumer-project-detail-banner{
   position: relative;
   margin-bottom: 96px;
   float: left;
	width: 100%;
	margin-top: 141px;
	padding: 0 !important;
   &::after{
        content: ' ';
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
}
    img{
        width: 100%;
    }
  
  
  } 
.tb-project-in-cuba{
    float: left;
    width: 100%;
    padding: 0 !important;
    margin-bottom: 75px;
    .tb-project-in-cuba-container{
        max-width: 1333px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .content-left{
            max-width: 656px;
            p{
                font-size: 24px;
                font-family: 'Manrope', sans-serif;
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
                color: #414142;
                margin-bottom: 24px;
            }
            .date-year{
                color: #414142;
                font-size: 20px;
                font-family: 'Manrope', sans-serif;
                font-style: normal;
                font-weight: 400;
                line-height: 117.4%;
                &::after{
                    content: '|';
                    display: inline-block;
                   margin: 0 8px;
                   color: #414142;
                   font-family: 'Manrope', sans-serif;
                   font-style: normal;
                   font-weight: 400;
                }
            }
            .quater{
                color: #414142;
                font-size: 20px;
                font-family: 'Manrope', sans-serif;
                font-style: normal;
                font-weight: 400;
                line-height: 117.4%;
            }
           
        }
        .line{
              background: #8A8A8A;
              width: 1px;
              height: 149px;
              margin: 0 56px;
        }
        .content-right{
            display: flex;
            .number{
                p{
                    color: #034EA2;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 153.4%;
                    margin-bottom: 0;
                }
                h2{
                    font-size: 80px;
                    margin-bottom: 0;
                    color: $tb-blue;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 153.4%;
                }
            }
            .mg-right{
                margin-right: 74px;
            }
        }
    }
} 
/*======= tb-product-orientation =======*/
.tb-investment{
    &.tb-product-orientation{
        margin-bottom: 114px;
        .tb-content-investment{
            background: white;
            margin-top: 0;
            .tb-img-investment{
                min-height: 651px;
                &::before{
                    content: none;
                    }
                    img{
                        min-height: 651px;
                        width: 100%;
                    }
            }
            .tb-item-content-investment{
                padding-top: 177px;
                padding-right: 166px;
                h6{
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 119.4%;
                    min-height: inherit;
                }
                p{
                    color: #414142;
                    font-size: 24px;
                    font-family: 'Manrope', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150.4%;
                    min-height: inherit;
                    margin-bottom: 3px;
                }
            }
            .tb-container-absolute{
                max-width: 1328px;
               
            }
        }
        .tb-reverse{
            .tb-content-investment {
                .row{
                    justify-content: left;
                }
            }
            .tb-content-absolute{
                .tb-container-absolute{
                    .row{
                        direction: rtl;
                        .tb-item-content-investment{
                            padding-left: 71px;
                            padding-top: 226px;
                        }
                    }
                }
            }
        }
    }
}
.tb-green-power-project{
    &.tb-explore-our-projects{
        display: inherit;
        min-height: 759px;
        margin-bottom: 97px;
        padding: 93px 0 81px 0;
       
        .tb-title-section{
            font-size: 48px;
            text-transform: inherit;
            font-style: normal;
            font-weight: 800;
            line-height: 153.4%;
            margin-bottom: 44px;
        }
        .tb-green-power-project-container{
            max-width: 1328px;
        }
        .slider-explore-our-projects{
            .item{
                background: white;
                padding: 16px 16px 54px 16px;
                margin: 0 15px 62px 15px;
                position: relative;
                .avatar-thumb{
                    a{
                        padding-top: 66%;
                    }
                }
                .tb-link-manafactures{
                    bottom: 30px;
                    img{
                        width: 26px;
                        height: 26px;
                        margin-bottom: 0;
                    }
                }
                .tb-infor-manafactures{
                    padding: 0;
                }
                .tb-infor-manafactures{
                    padding-top: 24px;
                    min-height: inherit;
                    background: transparent;
                    position: inherit;
                    
                    h5{
                        margin-bottom: 24px;
                        min-height: 64px;
                        a{
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 31.992px;
                            color: #333;
                        }
                        margin-bottom: 24px;
                    }
                }
            }
            
        }
        .owl-dots{
            display: block;
        }
        .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
            background: $tb-blue;
        }
        .owl-theme .owl-dots .owl-dot span{
            background: #d9d9d9;
            width: 16px;
            height: 16px;
            margin: 0 8px;
        }
        .owl-theme .owl-dots .owl-dot{
            height: 16px;
        }
        .owl-nav{
            position: inherit;
        }
        .owl-prev{
            &::before{
                content: ' ';
                left: -65px;
                font-size: 0;
                z-index: 1;
                width: 74px;
                display: inline-block;
                height: 74px;
                background: url(../images/social_arrow-left.svg) no-repeat center;
                bottom: 330px;
                position: absolute;
            }
            span{
                font-size: 0;
            }
        }
        .owl-next{
            &::before{
            content: ' ';
            right:  -65px;
            font-size: 0;
            z-index: 1;
            width: 74px;
            display: inline-block;
            height: 74px;
            background: url(../images/social_arrow-right.svg) no-repeat center;
            position: absolute;
            bottom: 330px;
            }
            span{
                font-size: 0;
            }
            &:hover{
                background: none;
            }
        }
    }
}
.tp-green-energry-banner{
    .tb-head-page-container{
        bottom: 224px;
    }
}
.tb-project-in-cuba{
    &.tb-green-energry-power{
        
        .tb-project-in-cuba-container{
            max-width: 1304px;
            margin: 0 auto;
        }
        .content-left{
            max-width: 550px;
            p{
                font-size: 20px;
            }
        }
        .content-right{
            .mg-right{
                margin-right: 56px;
            }
        }
    }
}
/*===========   tb-contact-coop-banner =============*/
.tb-contact-banner{
    margin-bottom: 0;
    position: relative;
    .box-blue{
        background: #00229C;
        width: 100%;
        height: 100%;
        position: relative;
       
    }
    .row{
        .col-md-6{
            padding: 0;
        }
    }
    .bg-opctity-contact{
        height: 100%;
        &::after{
            height: 100%;
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            z-index: 0;
            background: #00229C;
            opacity: .4;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .tb-head-page-container{
        top: 130px;
        bottom: 0;
        max-width: 523px;
        left: 136px;
        nav{
            
            position: absolute;
            left: 0;
            bottom: 0;
            
           .nav-tabs{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 7px;
                margin: 0;
                padding: 0;
               
                .nav-link{
                    list-style: none;
                    background: $tb-blue;
                    padding: 34px 52px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 114%;
                    letter-spacing: -0.4px;
                    color: white;
                    border-radius: 0;
                    border: 0;
                &.active{
                    background:white;
                    color: $tb-blue;
                    
                }
               }
           }
            }
        h1{
            font-size: 96px;
            font-style: normal;
            font-weight: 800;
            line-height: 114%;
            letter-spacing: -1.92px;
            margin-bottom: 11px;
            text-transform: capitalize;
        }
        p{
            font-size: 16px;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 0;
            text-transform: inherit;
            
        }
    }
    &::after{
        content: none;
    }
}
.tab-tb-content-contact{
    padding: 0;
    margin-bottom: 82px;
        float: left;
    .tab-none-title{
        max-width: 735px !important;
        margin: 0 auto;
    }
    .tab-custom{
        
      margin-top: 74px;
           .tab-title{
            max-width: 1213px;
            margin: 0 auto;
            
               p{
                font-size: 20px;
                font-family: 'Manrope', sans-serif;
                font-style: normal;
                font-weight: 700;
                line-height: 153.4%;
                color: #000;
                margin-bottom: 16px;
               }
               nav{
                   
                    position: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 7px;
                    margin: 0 0 24px 0;
                    padding: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                .nav-tabs{
                    border-bottom: none;
                    .nav-link{
                    background: white;
                    padding: 24px 46px;
                    border: 1px solid #414142;
                    margin-right: 43px;
                    color: $tb-text;
                    font-weight: 400;
                    line-height: 153.4%;
                    font-size: 20px;
                    border-radius: 0;
                    &.active{
                        background: $tb-blue;
                        border: 1px solid $tb-blue;
                        font-size: 20px;
                        font-family: 'Manrope', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 153.4%;
                        color: white;
                    }
                    }
                }
            }
           }
       
    }
   
    .content-form{
        .row{
            margin-left: -12px;
            margin-right: -12px;
        }
        .col-md-6, .col-md-12{
            padding: 0 12px;
        }
        margin:  0;
        .tp-button {
            span{
                padding: 0 59px;
            }
            b{
                padding: 0 26px;
            }
        }
        label{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 153.4%;
            color: #000;
            margin-bottom: 16px;
        }
        input, .custom-select, textarea{
            border: 1px solid #414142;
            height: 79px;
            color: $tb-text;
            font-size: 20px;
            padding: 24px 33px;
            border-radius: 0;
            &::placeholder{
                color: #949494;
                
                font-size: 20px;
               
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
            }
        }
        .select-selected{
                padding: 0;
                color: #949494;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
                &::after{
                    background: url(../images/bxs_up-arrow.svg) center top no-repeat;
                    width: 24px;
                    height: 24px;
                    font-size: 0;
                    margin: 0;
                    top: 28px;
                    right: 30px;
                    font-size: 0;
                }
        }
        .select-items{
            // background: #E0F0FF;
            top: 60px;
            &:hover{
                background: #fff;
            }

        }
        .form-group{
            margin-bottom: 24px;
        }
        textarea{
            height: 272px !important;
        }

    }
    
    .file-upload-w-file-name{
        [type=file] {
            //position: absolute;
            filter: alpha(opacity=0);
            opacity: 1;
            width: 100%;
            position: relative;
        }
        [type=file] + label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         
          text-align: left;
         
          margin: 0;
          position: relative;
         
          img{
            margin-right: 5px;
          }
        }
        #inputFile{
            border: 1px solid #414142;
            height: 79px;
            color: $tb-text;
            font-size: 20px;
            padding: 24px 33px;
            border-radius: 0;
            &::placeholder{
                color: #949494;
                
                font-size: 20px;
               
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
            }
            &::before{
                background: url(../images/ic_round-upload.svg) center top no-repeat;
                width: 39px;
                height: 39px;
                font-size: 0;
                margin: 0;
                top: 23px;
                left: 25px;
                font-size: 0;
                position: absolute;
                content: ' ';
            }
        }
    }
}
.tb-contact-social{
    padding: 0;
    float: left;
    .row{
        margin: 0;
    }
    .col-md-6{
        padding: 0;
    }
    
        .avatar-thumb{
            height: 100%;
            a{
                height: 100%;
            }
        }
      
    .content-right{
        height: 100%;
        p{
            font-family: 'Geologica', sans-serif;
            color: white;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        span{
            a{
                color: white;
            font-size: 20px;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            }
        }
       
      
        .item1{
            padding: 85px 0 62px 64px;
            background: $tb-blue;
            height: 100%;
        }
        .item2{
            padding: 85px 0 62px 64px;
            background: #418EFF;
            height: 100%;
        }
        .item3{
            padding: 85px 0 62px 64px;
            background:#FFB526;
            height: 100%;
        }
    }
}
/*   ----------------------- Custom upload file  ------------------------------*/
.choose-img-upload {
	position: relative;

	label {
		width: 60px;
		height: 60px;
		position: relative;
		text-align: center;
		display: flex;
		border: 1px solid $border;
		position: relative;
		border-radius: 4px;
		align-items: center;
		justify-content: center;
		font-weight: normal;
		cursor: pointer;

	}

	input[type="file"] {
		display: none;
	}
}

.text-note-upload {
	margin: 10px 0;
	color: $text-alpha;
	display: inline-block;
}

.selected-img-upload {
	.close-img {
		position: absolute;
		left: 0;
		top: -10px;
		height: 25px;
		cursor: pointer;
	}

	.img-selected {
		width: 60px;
		height: 60px;
		border-radius: 4px;
		border: 1px solid #E5E5E5;
	}
}
.tb-vision-mission{
    float: left;
    
}
.tb-manufacturing-about{
        float: left;
        padding: 0;
        margin: 112px 0 200px 0;
    .tb-title-section{
        margin-left: 43px;
        text-align: left;
        line-height: 153.4%;
        margin-bottom: 50px;
       
    }
}
/*====== page product  =======*/
.tp-slide-project{
        &.tp-slide-product{
        
            p{
                width: 754px;
            }

        }
 }

 .tb-list-product{
     padding: 0;
     margin: 63px 0 130px 0;
     .row{
         .col-md-6{
             .flex-row{
                 .col-md-6{
                     &:last-child{
                         padding-left: 0;
                     }
                     .col-md-12{
                            padding: 0;
                     }
                 }
             }
         }
     }
    .avatar-thumb{
        overflow: hidden;
       
        a{
           cursor: pointer;
            img{
                &:hover{
                    transform: scale(1.1);
                    transform-origin: 0 0;
                    transition: transform .45s, visibility .45s ease-in-out;
                }
            }
        }
    }
    .flex-row{
        display: flex;
        margin: 0 -15px;
    }
     .title-top{
        color: #414142;
        font-size: 30px;
        font-family: 'Geologica', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 98.4%;
        text-transform: uppercase;
        position: absolute;
        top: 38px;
        left: 32px;
        max-width: 250px;
        z-index: 1;
     }
     .title-bottom{
        bottom: 40px;
        left: 33px;
        color: $tb-text;
        font-size: 30px;
        font-family: 'Geologica', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 98.4%;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
        // padding-right: 90px;
        max-width: 283px;
    }
     .box-title{
         position: relative;
        &.box1{
            .avatar-thumb{
                a{
                    padding-top: 200%;
                }
             }
        }
        &.box2{
            .avatar-thumb{
                a{
                    padding-top: 107%;
                }
             }
             .title-top{
                 color: white;
             }
             margin-bottom: 8px;
        }
        &.box3{
            .avatar-thumb{
                a{
                    padding-top: 80%;
                }
             }
             
        }
        &.box4{
            margin: 0 -15px;
            .avatar-thumb{
                a{
                    padding-top: 274%;
                }
             }
             .title-top{
                 color: white;
             }
        }
        &.box5{
            // position: relative;
            // overflow: hidden;
            margin: 0 -0 8px -0;
            .avatar-thumb{
                a{
                    padding-top: 101%;
                }
               
             }
             .title-bottom{
                color: white;
            }
             margin-bottom: 8px;
        }
        &.box6{
            // margin: 0 -15px;
            .avatar-thumb{
                a{
                    padding-top: 42%;
                }
             }
             .title-bottom{
                 color: white;
             }
          
        }
        &.box7{
            margin-top: 8px;
        
            .avatar-thumb{
                a{
                    padding-top: 56%;
                }
               
             }
             .title-top{
                color: white;
            }
             margin-bottom: 8px;
        }
        &.box8{
            margin: 8px -15px 0 -15px;
            .avatar-thumb{
                a{
                    padding-top: 161%;
                }
             }
             .title-bottom{
                 color: $tb-text;
                 left: 20px;
             }
          
        }
        &.box9{
            margin-top: 8px;
            .avatar-thumb{
                a{
                    padding-top: 86%;
                }
             }
             .title-top{
                 color: white;
             }
          
        }
        &.box10, &.box11, &.box12{
            margin-top: 0;
            margin-bottom: 0;
            .title-top, .title-bottom{
                color: white;
            }
        }
     }
     .tb-list-product-container{
         max-width: 1399px;
         margin: 0 auto;
     }
 }

 .tb-logo-brands{
    padding: 0;
    margin-bottom: 206px;
    float: left;
     .tb-logo-brands-container{
         max-width: 1120px;
         margin: 0 auto;
         .tb-title-section{
             margin-bottom: 29px;
             font-weight: 700;
             
         }
         .logo-brands-product{
            display: flex;
            width: 100%;
            justify-content: center;
            margin: auto;
            flex-wrap: wrap;
             img{
                height: 112px;
                margin: 77px 30px 0 30px;
             }
         }
     }
 }
 .tb-how-we-add{
     background: #EDF4FF;
     padding: 108px 0 56px 0;
     float: left;
     margin-bottom: 179px;
     .row{
         justify-content: center;
     }
     .tb-how-we-add-container{
         max-width: 1245px;
         margin: 0 auto;
         .tb-title-section{
             margin-bottom: 52px;
         }
         .tb-infor-manafactures{
             text-align: center;
             margin-bottom: 52px;
             img{
                height: 127px;
                margin-bottom: 14px;
             }
             h5{
                 margin-bottom: 12px;
                
                    font-size: 24px;
                    color: $tb-blue;
                    font-family: 'Manrope', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 153.4%;
                
             }
             p{
                color: #414142;
                @include webkit-line-clamp();
                -webkit-line-clamp: 4;
                font-size: 16px;
                font-family: 'Manrope', sans-serif;
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
                max-width: 329px;
                margin: 0 auto;
             }
         }

     }
 }
 .tb-contact-banner {
     &.tb-head-product-category{
        
         .col-md-8, .col-md-4{
             padding: 0;
         }
         margin-top: 141px;
         padding: 0;
         float: left;
         .box-red{
            height: 100%;
            background: #C30007;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            padding: 0 80px;
            .tb-head-page-container{
                max-width: 100%;
                margin: 0 auto;
                position: unset;
                // top: 200px;
                // left: 100px;
                // padding: 0 40px;

                h1{
                    color: #FFF;
                    font-size: 48px;
                    font-family: 'Geologica', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 98.4%;
                    text-transform: uppercase;
                    margin: 0;
                }
            }
         }
         .bg-opctity-contact{
             height: 100%;
             img{
                //  width: 100%;
                height: 100%;
             }
             &::after{
                content: none;
             }
         }
     }
 }

 .tb-how-we-add{
     &.tb-list-category-product{
         background: white;
         padding: 103px 0;
         margin-bottom: 0;
         .tb-list-category-product-container{
            max-width: 1361px;
            margin: 0 auto;
            .tb-infor-manafactures{
                margin-bottom: 0;
                img{
                    height: 136px;
                    margin-bottom: 20px;
                }
                h5{
                    font-size: 24px;
                    font-family: 'Geologica', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 153.4%;
                    margin-bottom: 9px;
                }
                p{
                    color: #414142;
                    margin-bottom: 0;
                    font-size: 16px;
                    font-family: 'Geologica', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 128.9%;
                    margin: 0 auto;
                    max-width: 278px;
                    // @include webkit-line-clamp();
                    // -webkit-line-clamp: 3;
                }
            }
         }
     }
 }
 .tb-logo-brands {
     &.tb-our-biggest-products-brands{
        background: #EDF4FF;
        padding: 121px 0 136px 0;
        margin-bottom: 134px;
        .tb-title-section{
            margin-bottom: 80px;
        }
        .tb-logo-brands-container{
            max-width: 1288px;
            margin: 0 auto;
        }
        .logo-brands-product{
            display: flex;
            width: 100%;
            justify-content: unset;
            margin: auto;
            
        }
        .box-brand{
            width: 25%;
            text-align: center;

            img{
                height: 95px;
                margin: 0;
                margin-bottom: 28px;
            }
            .tb-link-manafactures{
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        margin-right: 12px;
                        height: 26px;
                        margin: 0 8px 0 0;
                    }
                    span{
                        font-size: 20px;
                        font-family: 'Manrope', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: $tb-blue;
                    }
                }
            }
        }
     }
 }
.tb-product-categories{
    padding: 0;
    float: left;
    .tb-title-section{
        margin-bottom: 18px;
    }
    .tb-product-categories-container{
        max-width: 1374px;
        margin: 0 auto;
        nav{
                   
            position: inherit;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 0;
            margin: 0 0 18px 0;
            padding: 0;
            padding-bottom: 0;
            border-bottom: none;
        .nav-tabs{
            border-bottom: none;
            overflow-x: auto;
            height: auto;
            white-space: nowrap;
            width: max-content;
            flex-wrap: nowrap;
            .nav-link{
                margin-right: 35px;
                background: white;
                font-size: 20px;
                color: #414142;
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
                font-family: 'Geologica', sans-serif;
                padding: 16px 20px; 
                border-radius: 3px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
                border: none;
                margin: 20px 35px 20px 0;
               
            &.active{
                background: $tb-blue;
                font-weight: 700;
                color: white;
            }
            &:hover{
                border: none;
            }
            }
        }
    }
    .tab-content{
        position: relative;
        
        padding-right: 772px;
        .content-img{
           
            .avatar-thumb{
               
                    a{
                        padding-top: 100%;
                        img{
                            border-radius: 3px;
                        }
                    }
                
                    
            }
        }
        .content{
                color: white;
                padding: 63px 54px;
                position: absolute;
                right: 0;
                top: 36px;
                background: $tb-blue;
                border-radius: 0 3px 3px 0;
                padding: 63px 54px;
                width: 772px;
            h2{
                font-size: 36px;
                font-family: 'Geologica', sans-serif;
                font-style: normal;
                font-weight: 700;
                line-height: 153.4%;
                
                margin-bottom: 37px;
            }
            ul{
                list-style:disc;
                
                li{
                    font-size: 20px;
                    font-family: 'Manrope', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 171.9%;
                    margin-bottom: 16px;
                }
            }
        }
    }
    }
}
.tb-together{
    &.tb-buy-from-us{
        margin-top: 194px;
        margin-bottom: 0;
        .tb-infor-together{
            padding: 186px 200px 0 100px;
        }
        .tb-item-content-investment{
            padding: 0;
            h3{
                font-size: 64px;
                font-family: 'Geologica', sans-serif;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                color: white;
                margin-bottom: 14px;
            }
            p{
                font-size: 20px;
                font-family: 'Manrope', sans-serif;
                font-style: normal;
                font-weight: 400;
                line-height: 153.4%;
                color: white;
                margin-bottom: 39px;
                span{
                    a{
                        font-size: 20px;
                        font-family: 'Manrope', sans-serif;
                        font-style: normal;
                        line-height: 153.4%;
                        color: white;
                        font-weight: 500;
                    }
                }
            }
            .tb-btn-white{
    
            }
        }
    }
}
.tb-benefits-of-investment{
    &.tb-other-industries{
        background: #EAEAEA;
       padding: 98px 0 186px 0;
        margin-bottom: 156px;
        .tb-benefits-of-investment-container{
            max-width: 1213px;
            margin: 0 auto;
            .col-md-3{
                padding: 0 16px;

            }
            .tb-title-section{
                text-transform: inherit;
                margin-bottom: 51px;
                margin-top: 0;
                color: #414142;
            }
            .tb-infor-manafactures{
                border-radius: 8px;
                padding: 16px;
                min-height: 153px;
                margin-bottom: 29px;
                position: relative;
                h5{
                    margin: 0 0 16px 0;

                   a{
                    display: inherit;
                    overflow: unset;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130.4%;
                   }
                }
                a{
                    display: inline-block;
                    width: 100%;
                    img{
                        height: 30px;
                        position: absolute;
                        bottom: 16px;
                    }
                }
            }
        }
       
    }
}
.tp-slide{
    .slider-head{
        margin-bottom: 0;
    }
}
.archievement-section{
    padding: 0 0 163px 0;
    float: left;
}

.tb-investment{
    .tb-title-section{
        text-align: left;
        padding-left: 130px;
    }
}
/*======== silder-about=========*/
.tb-manufacturing-about{
	.slider_counter{
		margin-bottom: 45px;
		.current{
				color: #000;
				text-align: left;
				font-family: 'Manrope', sans-serif;
				font-size: 96px;
				font-style: normal;
				font-weight: 800;
				line-height: 153.4%; /* 147.264px */
		}
		.length{
				color: #E1E1E1;
				text-align: left;
				font-family: 'Manrope', sans-serif;
				font-size: 96px;
				font-style: normal;
				font-weight: 800;
				line-height: 153.4%; /* 147.264px */
		}
	}
	.slider-image{
		display: flex;
		align-items: flex-end;
		.image-wrap{
			width: 50%;
			.avatar-thumb{
				margin-bottom: -6px;
				a{
					padding-top: 100%;
				}
			}
		}
		
		.content{
			width: 50%;
			padding-left: 53px;
			position: relative;
			.box-content{
				max-width: 443px;
			}
			h5{
				
				font-size: 30px;
				font-style: normal;
				font-weight: 800;
				line-height: 111.9%; /* 33.57px */
				color: $tb-blue;
			}
			.desrep{
				color: #414142;
				text-align: left;
				font-family: 'Geologica', sans-serif;
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: 153.4%; /* 36.816px */
				margin-bottom: 0;
			}
			p{
				margin-top: 26px;
				color: #414142;
				font-family: 'Manrope', sans-serif;
				margin-bottom: 31px;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 153.4%; /* 30.68px */
				
			}
		}
	}

	.next-slick-arrow{
		span{
			font-size: 0 !important;
			&::before{
				content: '';
				background: url(../images/ion_arrow-up-slide-about.svg) no-repeat center;
				width: 122px;
				height: 122px;
				display: inline-block;
				position: absolute;
				left: 0;
				right: 0;
				text-align: center;
				margin: 0 auto;
				top: 32px;
			}
		}
	}
	
	.slider-preview{
		.slick-thumb-nav {
			img{
				display: none;
			}
		}
		
	}
    /* Slick slider Design */
	.slick-next, .slick-prev{
		position: inherit;
	}
    .slider {
        position: relative;
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
      }
      .slick-slide img {
        width: 100%;
      }
      
      /* Slider thumbnails and Slider Nav Design */
      .slick-thumb-nav img {
        width: 208px;
		margin-left: 0;
      }
      .slick-arrow {
        top: auto;
        bottom: 0;
        z-index: 9;
        display: inline-block;
        height: auto;
        width: auto;
        margin-bottom: 0;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
      }
      .slick-arrow.slick-prev {
        left: 0;
		display: none !important;
      }
      .slick-arrow.slick-next {
	
		right: 0;
		position: absolute;
		bottom: 0;
	
      }
      .slick-arrow:before { display: none; }
      .slick-arrow .arrow-icon {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
        color: #FFF;
        font-size: 55px;
        opacity: 1;
        -webkit-transition: .5s all ease 0s;
        -moz-transition: .5s all ease 0s;
        -ms-transition: .5s all ease 0s;
        transition: .5s all ease 0s;
      }
      .slideshow__slides:hover .slick-arrow .arrow-icon {
        opacity: 1;
      }
      .slick-arrow .arrow-icon span {
        display: inline-block;
        padding: 50px 0;
        font-size: 55px;
      }
      .slick-arrow .arrow-icon.prev-slick-arrow {
        left: 0;
      }
      .slick-arrow .arrow-icon.next-slick-arrow {
        right: 0;
      }
      /* Slider dot design */
      .slick-dots li button:before {
        font-size: 16px;
      }
      
      .slider-preview {
        max-width: 200px;
      }
      
      @media (max-width: 991px) {
        /* Slider Nav Design */
        .slick-arrow .arrow-icon { display: none; }
      }
      @media (max-width: 767px) {
        /* Slider thumbnails Design */
        .slick-thumb-nav img {
          width: 120px;
        }
      }
      @media (max-width: 576px) {
        /* Slider thumbnails Design */
        .slick-thumb-nav img {
          width: 85px;
        }
        .slick-arrow .slick-thumb-nav {
          margin-bottom: 0;
        }
        .slick-prev .slick-thumb-nav {
          margin-left: 0;
        }
        .slick-next .slick-thumb-nav {
          margin-right: 0;
        }
      }
      @media (max-width: 380px) {
        /* Slider dot design */
        .slick-dots li { margin: 0; }
        .slick-dots li button:before {
          font-size: 12px;
        }
      }
}
header.tb-header {
	
	&.tb-heade-mb{
		display: none;
	}
}
.tp-slide-mb{
	display: none;
}